{#
    Every parent template which include this one should have the crumbs array prepared. Do not rely on this template to do if and else checks.

    Format of the crumbs array should look something like this:
    [
        [
            'text' => 'Home',
            'url' => '/',
        ],
        [
            'text' => 'About',
            'url' => '/about',
            'isParent' => true, // flag as the parent (used for mobile)
        ],
        [
            'text' => 'Team Members',
            // this is the current entry, which do not have the url supplied.
        ],
    ]

    IMPORTANT: A reminder of the breadcrumb rules in our design system:
    * Only shown on 2nd level pages and deeper. (hide it for 1st level pages)
    * On mobile, it's just gonna be a back button to the parent page.
    * Home crumb should be present if Home is not present in the top menu. Otherwise, it shouldn't be in breadcrumb 
#}
{% if custom is defined and custom %}
	{% set crumbs = custom %}
{% endif %}
<nav class="crumbs-wrap">
	<div class="container">
		{% set parent = null %}
		{% for crumb in crumbs %}
			{% if crumb.isParent is defined and crumb.isParent %}
				{% set parent = crumb %}
			{% endif %}
		{% endfor %}
		<a class="breadcrumb" href="{{ parent.url }}">
			<span>{{ parent.text }}</span>
		</a>
	</div>
</nav>
