{# 
	Footer nav rule:
	1. Show only the 1st level and 2nd level pages
	2. Group them by each 1st level pages

	Now, our design of footer nav might varies. Some websites might have a few different groups which is very hard to divide them into columns programatically, so we can't just loop through 1st level navItems to generate the HTML. Instead, we might need to manually divide them into columns based on the IA of the project and the design. One thought would be having a separate array defining how to divide the 1st level navItems. Then, we can loop through that array to generate the columns of the footer-nav. Or, if necessary, make it available for client in CMS to define which top level pages go into each column, probably under Globals. To create a field for a list of top level only entries, you might need to use plugin 'Dynamic Fields', or write instruction for client to select only top level pages.
#}

{% set entry = entry ?? null %} {# so we don't have to do entry is defined and entry in our if statements #}
{% set entryId = entry ? craft.yump.getEntryId(entry) : null %}
{% set navItems = craft.yump.getNav() %}

<nav class="footer-nav">
	{% for navItem in navItems %}
		{% set isCurrent = entry and entryId == navItem.id %}
		{% set isActive = (entry and entryId in navItem.descendantsIds) or isCurrent %}
		{% set hasChildren = navItem.level == 1 and navItem.children %}

		<div class="footer-nav__group">
			<div class="footer-nav__group--parent
				{{- isActive ? ' active' : '' -}}
				{{- isCurrent ? ' current' : '' -}}
				{{- hasChildren ? ' has-children' : '' -}}
			">
				<a href="{{ navItem.url }}" target="{{ navItem.target ?? '_self' }}">{{ navItem.title }}</a>
			</div>
			<ul class="footer-nav__group--children">
				{% for childNavItem in navItem.children %}
					{% set childIsCurrent = entry and entryId == childNavItem.id %}
					{% set childIsActive = (entry and entryId in childNavItem.descendantsIds) or childIsCurrent %}
					<li class="footer-nav__group--children__item">
						<a class="footer-nav__group--children__item--link
							{{- childIsActive ? ' active' : '' -}}
							{{- childIsCurrent ? ' current' : '' -}}
						" href="{{ childNavItem.url }}" target="{{ childNavItem.target ?? "_self" }}">
							{{- childNavItem.title -}}
							{%- if childIsCurrent -%}
								<span class="sr-only"> (current page)</span>
							{%- endif -%}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endfor %}
</nav>