{% import '_macros/' as macros %}
<footer class="footer">
	<a class="to-top-button" href="#top-content">
		<img class="img-fluid to-top-icon" src="/assets/img/icons/to-top-icon.png" alt="to top button">
	</a>
	{% set footerHelpSection = generalSettings.helpSectionIntro %}<div class="container">
		<h3 class="footer__help-information-title">{{ generalSettings.heading }}</h3>
		<section class="grid">
			<div class="footer__help-section">
				{% for info in footerHelpSection.all() %}
					<div class="footer__help-information">
						<strong class="footer__help-information-title">{{ info.secondaryHeading }}</strong>
						<div class="footer__help-information-summary">{{ info.summary }}</div>
					</div>
				{% endfor %}
				<div class="footer__help-contacts">
					{% set footerHelpContacts = generalSettings.helpSectionContacts %}
					{% for info in footerHelpContacts.all() %}
						<div class="footer__help-contacts-info">
							{% if info.icon is defined and info.icon %}
								{{ macros.thumbnail({
								image: info.icon.one(),
								imagerSettings: {
									width: 40,
								},
								altTag: image.title is defined and image.title ? image.title : 'icon',
								additionalClasses: 'footer__help-contacts-info-icon',
								}) }}
							{% endif %}
							<span class="footer__help-contacts-label">{{ info.label }}</span>
							<a href="{{ info.linkTo }}" class="footer__help-contacts-link">{{ info.linkTo.customText }}</a>
							<div class="footer__help-contacts-text">{{ info.supplementaryText }}</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="footer__about-section">
				<div class="footer__about-information">
					{% set footerAboutSection = generalSettings.aboutYodHub %}
					{% for info in footerAboutSection.all() %}
						<strong class="footer__about-information-title">{{ info.heading }}</strong>
						<div class="footer__about-information-summary">{{ info.summary }}</div>
						<a href="{{ info.linkTo }}" class="footer__about-information-link">{{ info.linkTo.customText }}</a>
					{% endfor %}
				</div>
				<div class="footer__logos">
					<a href="/"><img src="/assets/img/svg/logo-dementia-australia-footer.svg" alt="footer logo"></a>
					{# <p class="footer__privacy-yump">Website by<a target="_blank" href="https://yump.com.au">
							<img class="img-fluid footer__yump-logo" src="/assets/img/logo-yump-footer.png" alt="Yump"></a>
					</p> #}
				</div>
			</div>
		</section>
	</div>
</footer>
