{% set siteVars = seomatic.site %}
{% set sameAsLinks = siteVars.sameAsLinks %}

{% set activeSocialMediaIcons = craft.yump.getConfig('activeSocialMediaIcons') %}

{% set facebookUrl = sameAsLinks.facebook.url ?? null %}
{% set twitterUrl = sameAsLinks.twitter.url ?? null %}
{% set youtubeUrl = sameAsLinks.youtube.url ?? null %}
{% set instagramUrl = sameAsLinks.instagram.url ?? null %}
{% set linkedinUrl = sameAsLinks.linkedin.url ?? null %}

<div class="social-links-wrapper-outer">
	{% if customHeading is defined and customHeading %}
		<h4 class="social-links-heading">{{ customHeading }}</h4>
	{% endif %}
	<div class="social-links-wrapper-inner">
	{% for icon in activeSocialMediaIcons %}
		{% set url = sameAsLinks[icon.handle].url ?? null %}
		{% if url %}
			<a class="social-link {{ customClasses | default("") }}" aria-label="Visit our {{ icon.handle }} web page" href="{{ url }}" target="_blank" >
		    	{% if icon.useFontAwesome %}
		    		<i class="fab fa-{{ icon.fontAwesomeClass }}"></i>
		    	{% else %}
		    		{{ craft.inlin.er('/assets/img/svg/ic-' ~ icon.handle ~ '.svg') | raw }}
		    	{% endif %}
		    </a>
		{% endif %}
	    
	{% endfor %}
	</div>
</div>
