<p class="lead-text yod-title">
	<span>
		Younger Onset Dementia Hub
		{% if includeLogoutButton is defined and includeLogoutButton %}
			<a v-if="info && info.plan" href="/logout" class="logout-button">Log out</a>
		{% endif %}
	</span>
	
</p>
