{% import '_macros/' as macros %}
<div class="top-header-info">
	{% include '_elements/header-top-text' %}
	{% set headerIcons = generalSettings.headerLinks %}
	<div class="top-icons">
		{% for iconInfo in headerIcons.all() %}
			<a class="icon-link" href="{{ iconInfo.linkTo|replace({' ': ''}) }}">
				{% if iconInfo.icon is defined and iconInfo.icon %}
					{{ macros.thumbnail({
					image: iconInfo.icon.one(),
					imagerSettings: {
						width: 40,
					},
					altTag: image.title is defined and image.title ? image.title : 'icon',
				}) }}
				{% endif %}
				<span class="icon-text">{{ iconInfo.linkTo.customText }}</span>
			</a>
		{% endfor %}
		<button id="search-toggle"  aria-label="open search form"><img src="/assets/img/svg/search-icon.svg" aria-label="decorative search icon"><label class="icon-text search-icon-text" for="searchInputHeader">Search</label>
		</button>
		<form role="search" method="get" class="search-form search-form--navbar navbar__search" action="/search">
			{% for section in craft.yump.getConfig('searchDefaultSections') %}
				<input type="hidden" name="sections[]" value='{{section}}'>
			{% endfor %}
			<input type="search" class="search-form__input" id="searchInputHeader" placeholder="Enter Keywords" required="" value="" name="q" aria-label="Enter Keyword to Search">
			<button id="searchSubmit" class="search-form__submit" type="submit" aria-label="Submit Search">
				Search
			</button>
			<a role="button" class="close-search" href="#" aria-label="close search form"></a>
		</form>
		<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			<span class="navbar-toggler-icon"></span>
			<span class="navbar-toggler-icon"></span>
			<img class="close-menu" src="/assets/img/icons/close-icon.png" alt="search closo icon">
			<span class="navbar-toggler-text">Menu</span>


		</button>

	</div>
</div>
