<div class="top-header-logo">
	<a href="/" class="main-logo">
		<img class="logo-desktop" src="/assets/img/svg/dementia-australia-logo.svg" alt="DA main logo">
		<img class="logo-mobile" src="/assets/img/svg/dementia-australia-logo.svg" alt="DA main logo">
	</a>
</div>
