{# We used to call it 'heroBanner' and make it a hard coded block since it was in the middle of the design. Now the design has been changed, and there's no body content underneath it anymore, so we can call it a "Homepage Bottom Section". Note that the field handle is still "heroBanner" - changing it will trigger a short site down, so we left it as it is. #}
{% import '_macros/' as macros %}
{% set homepageBottomSection = entry.heroBanner.one() %}

{% if homepageBottomSection %}
	
		{% if homepageBottomSection.type == "heroContent" %}
			<section class="homepage-bottom-section">
				{% set heroMainHeading = homepageBottomSection.heading %}
				{% set heroSubHeading = homepageBottomSection.subHeading %}
				{% set heroIcon = homepageBottomSection.heroIcon.one() %}
				{% set ctaButton = homepageBottomSection.ctaButton %}
				{% set additionalLink = homepageBottomSection.additionalLink %}
				{% set heroImage = homepageBottomSection.image.one() %}
				<section class="homepage-bottom-section__top-content">
					{% if heroIcon %}
						<img class="homepage-bottom-section__icon" src="{{ heroIcon.url }}" alt="">
					{% endif %}
					{# <div class="homepage-bottom-section__swirl-holder"></div> #}
					{% if  heroMainHeading is defined and heroMainHeading %}
						<h2 class="homepage-bottom-section__main-heading">
							{{ heroMainHeading }}
						</h2>
					{% endif %}
					{% if heroSubHeading is defined and heroSubHeading %}
						<div class="homepage-bottom-section__sub-heading">
							{{ heroSubHeading }}
						</div>
					{% endif %}
					{% if ctaButton is defined and ctaButton.url %}
						<a href="{{ctaButton.url}}" class="button button-primary homepage-bottom-section__cta-button">{{ ctaButton.text }}</a>
					{% endif %}
					{% if additionalLink is defined and additionalLink.url %}
						<div class="homepage-bottom-section__additional-link">
							<a href="{{additionalLink.url}}" class="text-link ">{{ additionalLink.text }}</a>
						</div>
					{% endif %}

				</section>
				{% if heroImage is defined and heroImage %}
					{# <div class="homepage-bottom-section__gradient-holder"> #}
						<figure class="homepage-bottom-section__hero-image" style="">
							<img class="homepage-bottom-section__swirl" src="/assets/img/swirls/home-bottom-swirl.svg" alt="">
							{{ macros.thumbnail({ image: heroImage, imagerSettings: { width: 2500, ratio: 1400/774 }, altTag: image.title is defined and image.title ? image.title : '', additionalClasses: "homepage-bottom-section__bottom-image"}) }}
						</figure>						
					{# </div> #}
				{% endif %}
			</section>
		{% endif %}

{% endif %}
