{# The middle banner that appears on the home page as the second banner and as a leading banner on the service page (third level service page). I used the same service here as tht top banner for reusability#}
{% import '_macros/' as macros %}
{% if entry is defined and entry %}
    <!-- start of the banner data from the service -->
    {% set banner = craft.yodhub.getMiddleBanner(entry) %}
    {%- if banner -%}
        <section
                class="banner grid middle-banner
                    {%- if banner.media -%}
                        {{- ' media-banner' -}}
                    {%- if banner.media.type == 'image' -%}
                        {{- ' media__with-image' -}}
                    {%- elseif banner.media.type == 'video' -%}
                        {{- ' media__with-video' -}}
                        {% endif %}
                    {%- endif -%}   ">
            {# media column #}

            {% if banner.media %}
            {% if banner.media.type == 'image' %}
            {% set image = banner.media.content %}
            <div class="banner__media-column middle-banner__media--image">
                <figure style="height: 100%;z-index:-1;position:relative;{{ macros.thumbnail({ image: image,        outputAsBackgroundImage: true, imagerSettings: { width: 1600, },
                    altTag: image.title is defined and image.title ? image.title : 'image', }) }}"></figure>
                {% elseif banner.media.type == 'video' %}
                <div class="banner__media-column middle-banner__media--video">
                    <figure style="height: 100%;z-index:-1;position:relative;{{ macros.thumbnail({ image: banner.media.viideoBackgroundImage,
                        outputAsBackgroundImage: true, imagerSettings: { width: 1600, },
                        altTag: image.title is defined and image.title ? image.title : 'image', }) }}"></figure>
                    {{ macros.bannerVideo({
                        field: banner.media.content,
                        transcriptEntry: banner.media.settings.transcriptEntry,
                        videoHtmlTitle: banner.media.settings.videoHtmlTitle,
                        viideoBackgroundImage: banner.media.viideoBackgroundImage,
                    }) }}
                    {% endif %}
                </div>


                {# text column #}
                <div class="banner__text-column middle-banner__text-content">
                    <div class="inner-wrapper">
                        {% if banner.textContent %}
                            {{ banner.textContent }}
                        {% endif %}
                        {% if banner.buttons %}
                            <div class="middle-banner__text-content--ctas">
                                {% for button in banner.buttons %}
                                    {{ macros.cta({
                                        field: button,
                                        additionalClasses: 'middle-banner__text-content--cta',
                                    }) }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>


                {% endif %}


        </section>
    {%- endif -%}
{% endif %}
