<div class="docs-nav-section container">
	<div class="docs-nav-toggle expanded">
		<i class="fas fa-chevron-circle-down" style="margin-right: 8px"></i>
		<span class="toggle-text">Documentation list</span>
	</div>

	{% set entries = craft.entries.section('helpDocs').all() %}

	<div class="docs-nav-wrapper" style="display: none">
		<ul class="docs-nav">
		    {% nav entry in entries %}
		        <li class="{{ entry.hasDescendants ? 'has-children' : '' }}{{ entry.id == currentEntry.id ? ' active' : '' }}">
		            <a href="{{ entry.url }}">{{ entry.title }}</a>
		            {% ifchildren %}
		                <ul class="docs-nav-submenu">
		                    {% children %}
		                </ul>
		            {% endifchildren %}
		        </li>
		    {% endnav %}
		</ul>
	</div>
</div>