{% if filters is not defined or not filters %}
	{% set pages = craft.app.request.getParam('pages') is not null ? craft.app.request.getParam('pages') : '1' %}
	{% set filters = {
        pages : pages,
    }
    %}
{% endif %}

{% set wrapperClass = wrapperClass is defined ? wrapperClass : '' %}
{% set searchQuery = searchQuery is defined ? searchQuery : 'I am searching for' %}
{% set closeButton = closeButton is defined ? closeButton : false %}
<div class="search-bar{{' ' ~ wrapperClass}}{% if closeButton == true %} search-bar--with-close{% endif %}">
	<div class="search-bar__container">
		<form class="search-bar-form" action="{{ url('/search') }}">
			<i class="fas fa-search fa-flip-horizontal"></i>
			<label class="sr-only" for="searchInputPage">Search Site for:</label>
			<input id="searchInputPage" class="search-bar-form__input" type="search" name="q" placeholder="{{searchQuery}}">

			{% for key, value in filters %}
				{% if value is not null and value != 1 %}
					<input type="hidden" name="{{ key }}" value="{{ value }}">
				{% endif %}
			{% endfor %}
			<input class="button search-bar-form__btn btn btn-primary btn__shadow--primary" type="submit" value="Search">
		</form>
		{% if closeButton %}
			<a class="search-bar__close" href="#">
				<img src="/assets/svg/ic-search.svg" alt="Close Search Bar">
			</a>
		{% endif %}
	</div>
</div>
