{# 
Sidebar Menu rules, landing page template vs general page template:
---
* Client get to choose between landing template and general template
..* Landing page template:
....* Do not have sidebar menu, the main content will be centred horizontally
....* Navigation to child pages: Client has a toggle field in landing page template. By default we would automatically populate the children cards + optionally defining the cards section title. But client can turn it off to create the cards by themselves using the Image Cards block if they want.
..* General content page template:
....* It will have a sidebar navigation (on 2nd level and deeper - i.e. 3rd and 4th).
......* On desktop, the sidebar navigation will only show if using main content (article width), because there's no room to put it; it will show on mobile even if no main content is defined.
......* The sidebar navigation will only show siblings (including self) and current page's direct children
......* The sidebar navigation is not togglable, the siblings children will not be shown
......* DO NOT show the sidebar navigation if on 1st level pages, no matter it has children or not, because we can access exactly the same list from the top menu.
......* On mobile, the sidebar navigation becomes a 'Sections' menu, with the same list (consistent between desktop and mobile). It sits underneath the breadcrumb.
......* The sidebar menu will have a title, which is the parent page's title. On mobile, this becomes the default showing label of the dropdown box.
#}

{# 
	Based on the rules above, we shouldn't have a page with sidebar nav and not having a parent at the same time. So, we can always assume if a sidebar nav is present, the current page always has a parent.
#}

{# Assuming when get to this point, we should have an entry var available. Otherwise, including this template doesn't make sense, which means you're probably doing something wrong #}

{% set navItems = craft.yump.getNav() %}
{% set entryId = craft.yump.getEntryId(entry) %}

{% set parentNavItemOfCurrentEntry = craft.yump.findParentItemInNav(navItems, entryId) %}
{# {{dump(parentNavItemOfCurrentEntry)}} #}
{# {{craft.yump.dump(parentNavItemOfCurrentEntry)}} #}
{% if parentNavItemOfCurrentEntry %}
	<aside class="sidebar sidebar-nav">
		<h3 class="sidebar-nav__heading"><a href="{{ parentNavItemOfCurrentEntry.url }}">{{ parentNavItemOfCurrentEntry.title }}</a></h3>

		<ul class="sidebar-nav__nav">	
			{% for navItem in parentNavItemOfCurrentEntry.children %}
				{% set isCurrent = navItem.id == entryId %}
				{% set hasChildren = isCurrent and navItem.children %}
				<li class="sidebar-nav__nav--item
					{{- isCurrent ? ' current' : '' -}}
					{{- hasChildren ? ' has-children' : '' -}}
				">
					<a href="{{ navItem.url }}" {% if navItem.target %}target="{{ navItem.target }}"{% endif %}>{{ navItem.title }}
						{%- if isCurrent -%}
							<span class="sr-only"> (current page)</span>
						{%- endif -%}
					</a>

					{% if hasChildren %}
						<ul class="sidebar-nav__subnav" aria-label="Child pages of {{ navItem.title }}">
							{% for childNavItem in navItem.children %}
								{% set childIsCurrent = childNavItem.id == entryId %}
								<li class="sidebar-nav__subnav--item">
									<a href="{{ childNavItem.url }}" {% if childNavItem.target %}target="{{ childNavItem.target }}{% endif %}">{{ childNavItem.title }}</a>
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</aside>
{% endif %}