{#
	Top menu rules:
	* Can only have maximum two levels of nav items.
#}

{% set entry = entry ?? null %}
{% import '_macros/' as macros %}
{# so we don't have to do entry is defined and entry in our if statements #}
{% set entryId = entry ? craft.yump.getEntryId(entry) : null %}
{% set navItems = craft.yump.getNav() %}

<nav class="navbar navbar-expand-lg">
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<div class="top-icons mobile-only">
			<form role="search" method="get" class="search-form search-form--navbar navbar__search" action="/search">
				{% for section in craft.yump.getConfig('searchDefaultSections') %}
					<input type="hidden" name="sections[]" value='{{section}}'>
				{% endfor %}
				<input type="search" class="search-form__input" id="searchInputHeaderMobile" placeholder="Enter Keywords" required="" value="" name="q" aria-label="Enter Keyword to Search">
				<button
					id="searchSubmitMobile" class="search-form__submit" type="submit" aria-label="Submit Search">
					{# <i class="search-form__submit-icon fas fa-search"></i> #}
					Search
				</button>
				<img class="close-search" src="/assets/img/icons/close-icon.png" alt="search closo icon">
			</form>
		</div>
		<ul class="navbar-nav  sm" data-sm-options="{bootstrapHighlightClasses: '',{# subMenusSubOffsetX: 105,  #} collapsibleBehavior: 'default',subMenusMaxWidth: '30rem',subMenusMinWidth: '20rem',{# mainMenuSubOffsetY: 5,  #}{# subIndicators: false,  #}}">
			{% for navItem in navItems %}
				{% set isCurrent = entry and entryId == navItem.id %}
				{% set isActive = (entry and entryId in navItem.descendantsIds) or isCurrent %}
				{% set hasChildren = navItem.level == 1 and navItem.children is not empty %}
				<li class="nav-item {{- hasChildren ? ' dropdown' : '' -}} {{- isActive ? ' active' : '' -}} {{- isCurrent ? ' current' : '' -}}">
					<a class="nav-link{{ hasChildren ? ' dropdown-toggle' : '' }}" href="{{ navItem.url }}" target="{{ navItem.target ?? '_self' }}" {% if hasChildren %} id="navbarDropdown-{{ navItem.id }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {% endif %}>
						{% if navItem.altMenuText is defined and navItem.altMenuText %}
							{{- navItem.altMenuText -}}
						{% else %}
							{{- navItem.title -}}
						{% endif %}

						{%- if isCurrent -%}
							<span class="sr-only">
								(current page)</span>
						{%- endif -%}
					</a>
					{% if hasChildren %}
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown-{{ navItem.id }}">
							{% for childNavItem in navItem.children %}
								{% set childIsCurrent = entry and entryId == childNavItem.id %}
								{% set childIsActive = (entry and entryId in childNavItem.descendantsIds) or childIsCurrent %}
								<li>
									<a class="dropdown-item {{- childIsActive ? ' active' : '' -}} {{- childIsCurrent ? ' current' : '' -}} " href="{{ childNavItem.url }}" target="{{ childNavItem.target ?? '_self' }}">
										<span class="dropdown-item-title">
											{% if childNavItem.altMenuText is defined and childNavItem.altMenuText %}
												{{- childNavItem.altMenuText -}}
											{% else %}
												{{- childNavItem.title -}}
											{% endif %}
										</span>
										
										{%- if childIsCurrent -%}
											<span class="sr-only">
												(current page)</span>
										{%- endif -%}
									</a>
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
		<div class="top-icons mobile-only icons">
			{% set headerIcons = generalSettings.headerLinks %}
			{% for iconInfo in headerIcons.all() %}
				<a class="icon-link" href="{{ iconInfo.linkTo|replace({' ': ''}) }}">
					{% if iconInfo.icon is defined and iconInfo.icon %}
						{{ macros.thumbnail({
					image: iconInfo.icon.one(),
					imagerSettings: {
						width: 40,
					},
					altTag: image.title is defined and image.title ? image.title : 'icon',
				}) }}
					{% endif %}
					<span class="icon-text">{{ iconInfo.linkTo.customText }}</span>
				</a>
			{% endfor %}
		</div>
	</div>

</nav>
