{# Banner can be seen as a extend of the richMedia block. (_content-blocks/media.html)
	1. Banner share similar HTML structure and css classes with Rich Media. Make sure if any of those changes in rich media, we update it here as well, and vice versa.
	2. Banner allows text-only version (simple-banner), but rich media requires 1 media column and 1 text column
	3.Special feature in this project: banner has a backgroundColour variation in the backend that changes its background colour and adds a different class to the banner
#}

{% import '_macros/' as macros %}

{% if entry is defined and entry %}
	{% set banner = craft.yump.getTopBanner(entry) %}

	{%- if banner and banner.heading and banner.media -%}
		<section
			class="banner grid top-banner top-banner--page
							{%- if banner.media -%}
							{{- ' media-banner ' -}}
							{%- if banner.media.type == 'image' -%}
							{{- ' media__with-image' -}}
							{%- elseif banner.media.type == 'video' -%}
							{{- ' media__with-video' -}}
							{% endif %}
							{%- endif -%}   ">
			{# media column #}
			{% if banner.media %}
				{# text column #}
				<div class="banner__text-column top-banner__text-content">
					<div class="top-banner__text-content-wrap">
						<h1 class="top-banner__text-content--heading">{{ banner.heading }}</h1>
						{% if banner.summary %}
							<div class="top-banner__text-content--summary">{{ banner.summary }}</div>
						{% endif %}

						{% set isHomepage = entry.getSection().handle == 'homepage' %}
						{% if banner.buttons %}
							<div class="top-banner__text-content--ctas">
								{% if banner.buttons %}
									{% for button in banner.buttons %}
										{{ macros.cta({
												field: button,
												additionalClasses: 'top-banner__text-content--cta',
											}) }}
									{% endfor %}
								{% endif %}

								{# {% if isHomepage %}
									<div class="top-banner__explore-button-wrapper">
										<button role="button" class="top-banner__explore-button">
											<figure class="top-banner__explore-button-icon">
												{{ craft.inlin.er('/assets/img/svg/ic-dropdown-goals.svg') | raw }}
											</figure>
										</button>
									</div>
								{% endif %} #}
							</div>
						{% endif %}
					</div>
				</div>
				{% if banner.media.type == 'image' %}
					{% set image = banner.media.content %}
					<div class="banner__media-column top-banner__media--image">

						<figure style="height: 100%;z-index:-1;position:relative;{{ macros.thumbnail({ image: image,		outputAsBackgroundImage: true, imagerSettings: { width: 1600, },
														altTag: image.title is defined and image.title ? image.title : 'image', }) }}"></figure>
					{% elseif banner.media.type == 'video' %}
						<div class="banner__media-column top-banner__media--video">
							<figure style="height: 100%;z-index:-1;position:relative;{{ macros.thumbnail({ image: banner.media.viideoBackgroundImage,
																																																																																																						outputAsBackgroundImage: true, imagerSettings: { width: 1600, },
																																																																																																						altTag: image.title is defined and image.title ? image.title : 'image', }) }}"></figure>
							{{ macros.bannerVideo({
								field: banner.media.content,
								transcriptEntry: banner.media.settings.transcriptEntry,
								videoHtmlTitle: banner.media.settings.videoHtmlTitle,
								viideoBackgroundImage: banner.media.viideoBackgroundImage,
							}) }}
						{% endif %}
					</div>


				{% endif %}
			</section>
		{%- endif -%}
	{% endif %}
