<form class="account-form" id="login-form" accept-charset="UTF-8" method="post">
	<section class="message-section" 
		{% if usingVue is defined and usingVue %}
		v-if="loginData.error"
		{% endif %}
	>
		{% if usingVue is defined and usingVue %}
			<p class="message error" v-html="loginData.error"></p>
		{% else %}
			{% if errorMessage is defined %}
		        <p class="message error">{{ errorMessage }}</p>
		    {% endif %}
		{% endif %}
	</section>

	{% if usingVue is defined and usingVue %}
		<input type="hidden" :name="csrfTokenName" :value="csrfTokenValue">
	{% else %}
		{{ csrfInput() }}
	{% endif %}

	{{ actionInput('users/login') }}

	{% if redirect is defined and redirect %}
		{{ redirectInput(redirect) }}
	{% endif %}

	<div class="form-group">
		<label class="field-label" for="signin-email">Email<span aria-hidden="true" class="asterisk">*</span><span class="sr-only">(This field is required)</span></label>
		<input id="signin-email" class="form-control" required type="text" name="loginName"{% if usingVue is not defined or not usingVue %} value="{{ craft.app.user.rememberedUsername }}"{% endif %}>
		{# <ul class="field-errors">
			<li class="field-error"></li>
		</ul> #}
	</div>

	<div class="form-group">
		<label class="field-label" for="signin-password">Password<span aria-hidden="true" class="asterisk">*</span><span class="sr-only">(This field is required)</span></label>
		<input class="form-control" id="signin-password" required type="password" name="password">
		{# <ul class="field-errors">
			<li class="field-error"></li>
		</ul> #}
	</div>

	<div class="form-group">
		<label>
	        <input type="checkbox" name="rememberMe" value="1">
	        Remember me
	    </label>
	</div>

	<button type="submit" class="button button-primary" id="signin-button">Log in</button>
</form>