{% if usingVue is defined and usingVue %}
	<section class="message-section" 
		v-if="signupData.error"
	>
		<p class="message error" v-html="signupData.error"></p>
	</section>
{% else %}
	{% set flashes = craft.app.session.getFlashes() %}
	{% set flashError = flashes['error'] ?? null %}
	{% if flashError %}
		<section class="message-section">
			<p class="message error">{{ flashError }}</p>
		</section>
	{% endif %}
	
{% endif %}