{% macro errorList(errors) %}
    {% if errors %}
        <ul class="errors">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% set user = user ?? null %}

<form class="account-form" id="signup-form" method="post">

	{% if usingVue is defined and usingVue %}
		<input type="hidden" :name="csrfTokenName" :value="csrfTokenValue">
	{% else %}
		{{ csrfInput() }}
	{% endif %}

	{% if redirect is defined and redirect %}
		{{ redirectInput(redirect) }}
	{% endif %}

	{{ actionInput('users/save-user') }}

	<input type="hidden" name="planningToolUser" value="1">

	<div class="form-group">
		<label class="field-label" for="signup-email">Email<span aria-hidden="true" class="asterisk">*</span><span class="sr-only">(This field is required)</span></label>
		<input class="form-control{{ user and user.getErrors('email') is not empty ? ' hasError' : '' }}" id="signup-email" required type="email" name="email" 
			:class="{
				hasError: signupFieldHasError('email')
			}"
			{%- if user %} value="{{ user.email }}"{% endif -%}
		>
		{% if usingVue is defined and usingVue %}
			<ul class="field-errors" v-if="signupFieldHasError('email')">
				<li class="field-error" v-for="error in signupData.fieldErrors.email">{* error *}</li>
			</ul>
		{% else %}
			{% if user %}
		        {{ _self.errorList(user.getErrors('email')) }}
		    {% endif %}
		{% endif %}
	</div>

	<div class="form-group">
		<label class="field-label" for="signup-password">Password<span aria-hidden="true" class="asterisk">*</span><span class="sr-only">(This field is required)</span></label>
		<input class="form-control{{ user and user.getErrors('password') is not empty ? ' hasError' : '' }}" id="signup-password" required type="password" name="password" 
			:class="{
				hasError: signupFieldHasError('password')
			}"
			{%- if user %} value="{{ user.password }}"{% endif -%}
		>
		{% if usingVue is defined and usingVue %}
			<ul class="field-errors" v-if="signupFieldHasError('password')">
				<li class="field-error" v-for="error in signupData.fieldErrors.password">{* error *}</li>
			</ul>
		{% else %}
			{% if user %}
		        {{ _self.errorList(user.getErrors('password')) }}
		    {% endif %}
		{% endif %}
		
	</div>

	<div class="form-group">
		<label class="field-label" for="signup-firstname">First name<span aria-hidden="true" class="asterisk">*</span><span class="sr-only">(This field is required)</span></label>
		<input class="form-control{{ user and user.getErrors('firstName') is not empty ? ' hasError' : '' }}" id="signup-firstname" required type="text" name="firstName"
			:class="{
				hasError: signupFieldHasError('firstName')
			}"
			{%- if user %} value="{{ user.firstName }}"{% endif -%}
		>
		{% if usingVue is defined and usingVue %}
			<ul class="field-errors" v-if="signupFieldHasError('firstName')">
				<li class="field-error" v-for="error in signupData.fieldErrors.firstName">{* error *}</li>
			</ul>
		{% else %}
			{% if user %}
		        {{ _self.errorList(user.getErrors('firstName')) }}
		    {% endif %}
		{% endif %}
		
	</div>

	{% set stateField = craft.app.fields.getFieldByHandle('state') %}

	<div class="form-group">
		<label class="field-label" for="signup-state">State<span aria-hidden="true" class="asterisk">*</span><span class="sr-only">(This field is required)</span></label>
		<select class="form-control{{ user and user.getErrors('state') is not empty ? ' hasError' : '' }}" id="signup-state" name="state" required
			:class="{
				hasError: signupFieldHasError('state')
			}"
		>
			<option disabled value="" {%- if not user or not user.state.value %} selected {% endif -%}>Select State...</option>
			{% for option in stateField.options %}
				<option value="{{ option.value }}"{%- if user and user and user.state.value == option.value %} selected{% endif -%}>{{ option.label }}</option>
			{% endfor %}
		</select>
		{% if usingVue is defined and usingVue %}
			<ul class="field-errors" v-if="signupFieldHasError('state')">
				<li class="field-error" v-for="error in signupData.fieldErrors.state">{* error *}</li>
			</ul>
		{% else %}
			{% if user %}
		        {{ _self.errorList(user.getErrors('state')) }}
		    {% endif %}
		{% endif %}
		
	</div>

	{% set userTypeField = craft.app.fields.getFieldByHandle('userType') %}

	<div class="form-group">
		<label class="field-label" for="signup-user-type">I am<span aria-hidden="true" class="asterisk">*</span><span class="sr-only">(This field is required)</span></label>
		<select class="form-control{{ user and user.getErrors('userType') is not empty ? ' hasError' : '' }}" id="signup-user-type" required name="userType"
			:class="{
				hasError: signupFieldHasError('userType')
			}"
		>
			<option disabled value="" {%- if not user or not user.userType.value %} selected {% endif -%}>Select the most appropriate situation...</option>
			{% for option in userTypeField.options %}
				<option value="{{ option.value }}"{%- if user and user and user.userType.value == option.value %} selected{% endif -%}>{{ option.label }}</option>
			{% endfor %}
		</select>
		{% if usingVue is defined and usingVue %}
			<ul class="field-errors" v-if="signupFieldHasError('userType')">
				<li class="field-error" v-for="error in signupData.fieldErrors.userType">{* error *}</li>
			</ul>
		{% else %}
			{% if user %}
		        {{ _self.errorList(user.getErrors('userType')) }}
		    {% endif %}
		{% endif %}
		
	</div>

	{% set genderField = craft.app.fields.getFieldByHandle('gender') %}
	<div class="form-group">
		<label class="field-label" for="signup-gender">Gender</label>
		<select class="form-control{{ user and user.getErrors('gender') is not empty ? ' hasError' : '' }}" id="signup-gender" name="gender"
			:class="{
				hasError: signupFieldHasError('gender')
			}"
		>
			<option disabled value="" {%- if not user or not user.gender.value %} selected {% endif -%}>Select gender...</option>
			{% for option in genderField.options %}
				<option value="{{ option.value }}"{%- if user and user and user.gender.value == option.value %} selected{% endif -%}>{{ option.label }}</option>
			{% endfor %}
		</select>
		{% if usingVue is defined and usingVue %}
			<ul class="field-errors" v-if="signupFieldHasError('gender')">
				<li class="field-error" v-for="error in signupData.fieldErrors.gender">{* error *}</li>
			</ul>
		{% else %}
			{% if user %}
		        {{ _self.errorList(user.getErrors('gender')) }}
		    {% endif %}
		{% endif %}
		
	</div>

	{% set ageBracketField = craft.app.fields.getFieldByHandle('ageBracket') %}
	<div class="form-group">
		<label class="field-label" for="signup-ageBracket">Age bracket<span aria-hidden="true" class="asterisk">*</span><span class="sr-only">(This field is required)</span></label>
		<select class="form-control{{ user and user.getErrors('ageBracket') is not empty ? ' hasError' : '' }}" id="signup-ageBracket" name="ageBracket" required
			:class="{
				hasError: signupFieldHasError('ageBracket')
			}"
		>
		<option disabled value="" {%- if not user or not user.ageBracket.value %} selected {% endif -%}>Select age bracket...</option>
			{% for option in ageBracketField.options %}
				<option value="{{ option.value }}"{%- if user and user and user.ageBracket.value == option.value %} selected{% endif -%}>{{ option.label }}</option>
			{% endfor %}
		</select>
		{% if usingVue is defined and usingVue %}
			<ul class="field-errors" v-if="signupFieldHasError('ageBracket')">
				<li class="field-error" v-for="error in signupData.fieldErrors.ageBracket">{* error *}</li>
			</ul>
		{% else %}
			{% if user %}
		        {{ _self.errorList(user.getErrors('ageBracket')) }}
		    {% endif %}
		{% endif %}
		
	</div>

	<div class="form-group">
		<label class="field-label" for="signup-postcode">Postcode</label>
		<input class="form-control{{ user and user.getErrors('postcode') is not empty ? ' hasError' : '' }}" id="signup-postcode" type="text" name="postcode"
			:class="{
				hasError: signupFieldHasError('postcode')
			}"
			{%- if user %} value="{{ user.postcode }}"{% endif -%}
		>
		{% if usingVue is defined and usingVue %}
			<ul class="field-errors" v-if="signupFieldHasError('postcode')">
				<li class="field-error" v-for="error in signupData.fieldErrors.postcode">{* error *}</li>
			</ul>
		{% else %}
			{% if user %}
		        {{ _self.errorList(user.getErrors('postcode')) }}
		    {% endif %}
		{% endif %}
		
	</div>

	<div class="form-group">
		<label for="g-recaptcha-response" class="sr-only">Prove that you are human</label>
        <div class="g-recaptcha" id="signupFormCaptcha" data-sitekey="{{ craft.app.config.general.reCaptchaSiteKey }}"></div>
		{% if usingVue is defined and usingVue %}
	            <ul class="field-errors" v-if="signupFieldHasError('reCaptcha')">
					<li class="field-error" v-for="error in signupData.fieldErrors.reCaptcha">{* error *}</li>
				</ul>
			{% endif %}
    </div>

	<button {% if usingVue is not defined or not usingVue %} type="submit"{% endif %} class="button button-primary" id="signup-button">Get started</button>

	{% include 'planning/_elements/account/signup-form-messages' with {usingVue: usingVue ?? false } %}

	<p class="form-bottom-text text-center">By clicking the "Get Started!" button, you are creating an account, and you agree to <a href="#" target="_blank">Dementia Australia's Privacy Policy</a> and <a href="#" target="_blank">Privacy Collection Statement</a>.</p>
</form>