.button{
    display: inline-flex;
    justify-content: center;
    background-color: $secondary;
    color: $primary; 
    padding: 1.5rem 2.4rem;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 500;
    border: 0;
    transition: all 0.3s;
    &:hover {
        background-color:  $button-background-colour-on-hover;
        color: $primary; 
        text-decoration: none;
    }
    &.disabled, &:disabled {
        opacity: 0.3;
    }
    &.button-primary {
        background-color: $secondary;
        color: $primary;
        &:hover, &:focus {
            background-color:  $button-background-colour-on-hover;
        }
    }
    &.button-secondary {
        background-color: $silver;
        &:hover, &:focus {
            background-color:  $pale-grey;
        }
    }
    &.button-link {
		@extend %link-style;
        padding: 0;
	}
}
