%message-banner {
    padding: 0.6rem 1.2rem 0.8rem;
    
    font-size: 1.6rem;
    margin-bottom: 2rem;
    position: relative;

    img {
        margin-right: 0.5rem;
    }
    span {
        vertical-align: middle;
    }
}

%message-banner--info {
    @extend %message-banner;
    background-color: $secondary;
    color: $white;
}

%message-banner--error {
    @extend %message-banner;
    background-color: $dark-pink;
    color: $white;
}

%message-banner--error-with-down-arrow {
    @extend %message-banner--error;
    margin-bottom: 4rem;
    &:after {
        content: "";
        border: 16px solid transparent;
        border-top-color: $dark-pink;
        position: absolute;
        bottom: -32px;
        left: 0;
    }
}

//Default Styles (also see src/styles/base/bs-variables/_forms.scss)
.form-group {
    margin-bottom: 2rem;
}
.form-control {
    border-bottom: none;
    &:focus {
        box-shadow: -1px -1px 2px 0 $secondary, 1px 1px 2px 0 $secondary;
    }
}
.field-label {
    font-size: 1.6rem;
    font-weight: normal;
    margin-bottom: 1.6rem;
    @include media-breakpoint-up(md) {
        font-size: 2rem;
    }
    & + .form-text {
        margin-top: -1.2rem;
        margin-bottom: 1.6rem;
    }
}
.form-text {
    font-size: 1.4rem;
    font-weight: 300;
    @include media-breakpoint-up(md) {
        font-size: 1.6rem;
    }
}
input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="number"], input[type="url"], select, textarea {
    &.form-control {
        font-size: 1.4rem;
        line-height: 1.5;
        min-height: 40px;
        border: 1px solid $primary;
        border-radius: 0;
        box-shadow: none;
        &:focus {
            box-shadow: -1px -1px 4px 0 $secondary, 1px 1px 4px 0 $secondary;
            border: 1px solid $primary;
        }
        // padding: 0.8rem;
        @include media-breakpoint-up(md) {
            font-size: 1.6rem;
            // padding: 1.2rem;
        }
        &.hasError {
            border-color: $dark-pink;
            &:focus {
                box-shadow: -1px -1px 4px 0 $dark-pink, 1px 1px 4px 0 $dark-pink;
            }
        }
    }
}

.asterisk {
    color: $dark-pink;
    font-size: 1.6rem;
    margin-left: 2px;
    vertical-align: top;
}
    
// label {
//     font-weight: 700;
// }
legend {
    @include fluid-type($h3);
    color: $secondary;
    margin-bottom: 1.2rem;
}

legend.h4 {
    @include fluid-type($h4);
    font-weight: 700;
}


.tab-hidden {
    display: none;
}

.custom-form {

    input[type="text"], input[type="email"], input[type="tel"], input[type="number"], input[type="url"], select, textarea {
        @extend .form-control;
    }
    .tab {
        @include make-row();
        &.tab-hidden {
            display: none;
        }
    }
    header {
        @include make-col-ready();
        margin-top: 2.4rem;
        margin-bottom: 2.4rem;
    }
    .field {
        margin-bottom: 2.4rem;
        @include make-col-ready();
        @include media-breakpoint-up(md) {
            margin-bottom: 2.8rem;
        }
        @include media-breakpoint-up(xl) {
            margin-bottom: 3.2rem;
        }
        .instructions {
            font-size: 1.3rem;
            margin-top: 0.4rem;
        }
        &.errors {
            .input {
                input[type="text"], input[type="tel"], input[type="email"], input[type="number"], input[type="url"], select {
                    border-color: $danger;
                    box-shadow: none;
                    border-bottom: 1px solid $danger;
                }
            }
            ul.errors {
                list-style: none;
                padding-left: 3rem;
                color: $danger;
                margin-top: 0.6rem;
                margin-bottom: 0;
                font-size: 1.4rem;
                font-weight: 700;
                letter-spacing: -0.3px;
                li {
                    position: relative;
                    &:before {
                        display: inline-block;
                        font-style: normal;
                        font-variant: normal;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;

                        font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f071";
                        position: absolute;
                        left: -2.4rem;
                    }
                }
            }
        }
        .heading {
            font-size: 1.4rem;
            line-height: 1;
        }
        &.required {
            .heading {
                label, legend {
                    &:after {
                        content: '*';
                        display: inline;
                        margin-left: 3px;
                        // color: red;
                    }
                }
            }
        }
        &:not(.paragraph):not(.address):not(.multiplechoice):not(.checkboxes) {
            @include media-breakpoint-up(md) {
                @include make-col(6);
            }
            // @include media-breakpoint-up(lg) {
            //     &.personalTitle-field {
            //         @include make-col(2);
            //         & + .firstName-field {
            //             @include make-col(4);
            //         }
            //     }
            // }
        }
        &.multiplechoice, &.checkboxes {
            label {
                &:not(:last-child) {
                    margin-right: 1.2rem;
                }
            }
            input {
                margin-right: 3px;
            }
        }
        &.phone {
            .input {
                [class*="wrapper"] {
                    // display: flex;
                    // @include make-row();
                    select {
                        display: none;
                        // flex: 0 0 40%;
                        // max-width: 40%;
                    }
                    input {
                        // flex: 0 0 50%;
                        // max-width: 50%;
                    }
                }
            }
        }
        &.address {
            .input {
                & > .address {
                    .sprout-address-country-fields {
                        @include make-row();
                        // @include make-col(12);
                    }
                    .address-countrycode-field {
                        order: 1;
                    }
                }
            }
        }
    }

    .form-message-section {
        font-weight: 300;
        padding: 1.6rem;
        @include media-breakpoint-up(lg) {
            padding: 2.4rem;
        }
        margin-bottom: 2.4rem;
        border-radius: 4px;
        border: 1px solid $success;
        background-color: $success;
        &__error {
            background-color: transparentize($danger, 0.8);
            border-color: $danger;
        }
        .global-message {
            &__error {
                .fa-exclamation-triangle {
                    margin-right: 0.6rem;
                }
            }
        }
        .form-messages {
            margin-bottom: 0;
            &__error {

            }
        }
    }
    .submit {
        margin-top: 2.4rem;
        [type="submit"] {
             @extend .button;
             @extend .button-primary;
             padding-top: 8px;
             padding-bottom: 8px;
             padding-left: 16px;
             padding-right: 16px;
        }
    }
}

.neo-secondary-content {
    .form-head {
        margin-left: auto;
        margin-right: auto;
        @include media-breakpoint-up(lg) {
            width: 66.6666%;
            max-width: 100%;
        }
    }
    .custom-form {
        margin-left: auto;
        margin-right: auto;
        @include media-breakpoint-up(lg) {
            width: 66.6666%;
            max-width: 100%;
        }

        .field {
            &:not(.paragraph):not(.address):not(.multiplechoice):not(.checkboxes) {
                @include media-breakpoint-up(md) {
                    @include make-col(12);
                }
            }
        }
    }
}