// inter-blocks
$gap-between-blocks: 4rem;
$gap-between-blocks-mobile: 3.2rem;
$gap-between-blocks-px: 40;
$gap-between-blocks-mobile-px: 32;
$gap-big: 6rem;
$gap-big-mobile: 3.2rem;
$gap-big-px: 60;
$gap-big-mobile-px: 32;

// cards
$card-gutter-width-horizontal: 2.4rem;
$card-gutter-width-vertical: 2.4rem;