/**
 * Custom fonts inclusion example:
 */


// Font Variables
$filsonProrbdRegular: 'filson-pro', sans-serif;
$lato: 'Lato', sans-serif;

// BS Font Variables
$headings-font-family: $lato;
// $font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base: $filsonProrbdRegular;

@mixin body-style {
  @include fluid-type($body);
  margin-bottom: 1.6rem;
  // @include media-breakpoint-up(md) {
  //     margin-bottom: 2rem;
  // }
}

@mixin lead-text-style {
  @include fluid-type($lead-text);
  margin-bottom: 1.6rem;
}

@mixin h1-style {
  @include fluid-type($h1);
  font-weight: bold;
  margin-bottom: 2rem;
}

@mixin h2-style {
  @include fluid-type($h2);
  font-weight: 700;
  margin-bottom: 1.6rem;
}

@mixin h3-style {
  @include fluid-type($h3);
  font-weight: 700;
  margin-bottom: 1.2rem;
  @include media-breakpoint-up(md) {
      margin-bottom: 1.5rem;
  }
}

@mixin h4-style {
  @include fluid-type($h4);
  font-weight: 700;
  margin-bottom: 1rem;
  @include media-breakpoint-up(md) {
      margin-bottom: .8rem;
  }
}

%link-style {
  transition: all .3s;
  color: $primary;
  background-color: transparent;
  border-bottom: 1px solid $primary;
  cursor: pointer;
  &:hover, &:focus {
      background-color:  transparent;
      border-bottom-color: transparent;
      color: $primary; 
      text-decoration: none;
  }
}

html {
  font-size: 62.5%; /* font-size 1rem = 10px on default browser settings */
}

body, .body-type {
  @include fluid-type($body);
  font-family: $font-family-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $primary;
  line-height: 1.5;
}

p {
  @include body-style();
  line-height: 1.5;
}

h1 {
  @include h1-style();
}

h2 {
  @include h2-style();
}

h3 {
  @include h3-style();
}

h4 {
  @include h4-style();
}

.lead-text {
  @include lead-text-style();
}

ul, ol {
  margin-bottom: 1.6rem;
  li {
    &:not(:last-child) {
      margin-bottom: .8rem;
    }
  }
}

p, h1, h2, h3, h4, ul, ol, .lead-text {
  &:last-child {
    margin-bottom: 0;
  }
}

a {
  &:hover, &:focus {
    text-decoration: none;
  }
}

.lowercase {
  text-transform: lowercase;
}