{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * yodhub module for Craft CMS
 *
 * YodhubModuleUtility Utility Content
 *
 * @author    Yump
 * @copyright Copyright (c) 2020 Yump
 * @link      https://yump.com.au
 * @package   YodhubModule
 * @since     1.0.0
 */
#}

<h1>YodhubModuleUtility</h1>

{% set iconUrl = view.getAssetManager().getPublishedUrl('@modules/yodhub-module/assetbundles/yodhubmoduleutilityutility/dist', true) ~ '/img/YodhubModuleUtility-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>Your Utility content goes here</p>

<p>{{ someVar }}</p>