{% set currentUser = craft.yump.getCurrentUser() %}
{% if not craft.yodhubPlanning.validateUserPermission(currentUser) %}
	{% if currentUser %}
		{% exit 403 %}
	{% else %}
		{% redirect '/login' %}
	{% endif %}
{% endif %}

{% set steps = craft.yodhubPlanning.getStepBasicDetails() %}
{% set plan = craft.yodhubPlanning.getCurrentUserFirstPlan() %}
{% if not plan or not steps %}
	{% exit 500 %}
{% endif %}

{% set furthestStep = plan.currentStep %}

{% extends 'pages/_templates/standardContentPage' %}

{% block bodyClass %}your-plan
{% endblock %}

{% block css %}
	{{ parent() }}
	<link rel="stylesheet" href="/dist/styles/planning.css">
{% endblock %}
{% block topSectionForSerrvicesTemplates %}
	<section class="container grid top-services-section">
		<h1 class="top-services-section__heading">{{ entry.title }}</h1>
		{% if entry.summary %}
			<div class="lead-text top-services-section__summary">{{ entry.summary }}</div>
		{% endif %}
	</section>
{% endblock  %}


{% block content %}
	<main id="main">
		<div class="container body-boxed your-plan-steps">
			<h1>{{ entry.title }}</h1>
			{% for step in steps %}
			{% if step.stepId <= furthestStep %}
				<a href="/planning/questionnaire/?step={{ step.stepId }}" id="step-{{ step.stepId }}" class="step your-plan-step">
			{% else %}
				<section id="step-{{ step.stepId }}" class="step your-plan-step{% if step.stepId > furthestStep %} disabled{% endif %}">
			{% endif %}
					<img class="img-fluid step__image" src="{{ step.imageUrl }}" alt="{{ step.title }}">
					<div class="step__body">
						<div class="step__textwrap">
							<h2 class="step__heading">{{ step.stepId }}.
								{{ step.title }}</h2>
							<div class="step__summary">{{ step.defaultSummary | raw }}</div>
						</div>
						
						{% if step.stepId > furthestStep %}
							<span class="step__disabled" disabled>
								<span class="disabled-text">Go to step
									{{ step.stepId }}</span>
							</span>
						{% else %}
							<span class="step__cta-button">
								<span class="step__cta-button-text">Go to step
									{{ step.stepId }}
									<span class="sr-only">{{ step.title }}</span>
								</span>
							</span>
						{% endif %}
					</div>
			{% if step.stepId <= furthestStep %}
				</a>
			{% else %}
				</section>
			{% endif %}

			{% endfor %}

			<section class="step results-step your-plan-step{% if furthestStep != 'completed' %} disabled{% endif %}" id="step-results">
				<figure class="results-step__image"><img class="img-fluid step__image" src="/assets/img/result-section-image.png" alt="step results image"></figure>
				<div class="step__body">
					<div class="step__textwrap">
						<h2 class="step__heading">Your results</h2>
						<div class="step__summary">{{ ndisPlanningTool.viewResultsDescription }}</div>
					</div>
					
						{% if furthestStep != 'completed' %}
							<div>
								<span class="button button-primary results-button step__disabled" disabled>
									<span class="disabled-text">View results</span>
								</span>
							</div>
							
						{% else %}
							<div>
								<a class="button button-primary results-button" href="/planning/questionnaire/?step=completed">
									<span class="step__cta-button-text">View results</span><img src="/assets/img/icons/arrow-right-link.png" alt="">
								</a>
							</div>
						{% endif %}
				</div>
			</section>

			<a class="logout button button-primary" href="/logout">Log out</a>
		</div>

	</main>
{% endblock %}
