{% extends '_layouts/popup' %}

{% block popupId %}forgot-password{% endblock %}

{% block popupLead %}
	<section class="popup-lead">
		<h3>Forgot password</h3>
		<p><a role="button" href="#" data-goto="signin" class="popup-go-to">Back to sign in</a></p>
	</section>
{% endblock %}

{% block popupBody %}
	<form id="forgot-password-form" accept-charset="UTF-8">
	    {% if usingVue is defined and usingVue %}
			<input type="hidden" :name="csrfTokenName" :value="csrfTokenValue">
		{% else %}
			{{ csrfInput() }}
		{% endif %}
		
	    {{ actionInput('users/send-password-reset-email') }}

		<div class="form-group">
			<label class="field-label" for="forgot-password-email">Email<span aria-hidden="true" class="asterisk">*</span><span class="sr-only">(This field is required)</span></label>
			<input id="forgot-password-email" required type="email" name="loginName">
			{# <ul class="field-errors">
				<li class="field-error"></li>
			</ul> #}
		</div>

	    <button type="submit" class="btn btn-primary" id="forgot-password-button">Submit</button>
	</form>
{% endblock %}