{% extends '_layouts/popup' %}

{% block popupCustomClasses %}no-header slim fixed-center{% endblock %}

{% block popupId %}notice{% endblock %}

{% block popupHeaderLogo %}{% endblock %}

{% block popupBody %}
	<section class="notice-body"
		:class="message.info ? 'success' : 'error'"
	>
		<h3 class="notice-title">
			<span v-if="message.info">Success</span>
			<span v-if="message.error">Error</span>
		</h3>
		<p class="notice-message" v-if="message.info" v-html="message.info"></p>
		<p class="notice-message" v-if="message.error" v-html="message.error"></p>
	</section>
{% endblock %}