{% extends 'planning/_popups/signup' %}

{% block popupId %}save-progress{% endblock %}

{% block popupLead %}
	<section class="account-lead popup-lead">
		<h3 id="popup-label" class="popup-label">Sign up to save your progress</h3>
	</section>
{% endblock %}

{% block popupBody %}
	{% include 'planning/_elements/account/signup-form' with {
		buttonText: 'Get started',
		usingVue: usingVue is defined and usingVue,
	} only %}
{% endblock %}

{% block popupFooter %}
	<section class="account-footer popup-footer" id="already-have-an-account">
		<h3>Already have an account?</h3>
		<p>By signing in, you will lose all unsaved answers. If you wish to save your progress, please create a new account.</p> 
		<a role="button" href="/login" class="button button-primary" 
			{# data-goto="signin" #}
		>Sign in</a>
	</section>
{% endblock %}