{% extends '_layouts/popup' %}
{# {% do view.registerJsFile("https://www.google.com/recaptcha/api.js") %} #}
{% block popupId %}share-results{% endblock %}

{% block popupLead %}
    <section class="account-lead popup-lead">
        <h3>Share your results with someone</h3>
    </section> 
{% endblock %}

{% block popupBody %}
    <div class="account-form">

        <section class="message-section" 
            v-if="shareResult.error.recaptcha"
        >
            <p class="message error" v-html="shareResult.error.recaptcha"></p>
        </section>

        <div class="form-group">
                <label class="field-label" for="their-email">Their email<span aria-hidden="true" class="asterisk">*</span><span class="sr-only">(This field is required)</span></label>
                <input id="their-email" type="text" class="form-control theirEmailValue"
                       v-for="(theirEmailValue, index) in shareResult.theirEmail"
                       v-model="shareResult.theirEmail[index]"
                        name="their-email"
                >
                <div class="invalid-feedback" v-show="shareResult.error.theirEmail">{* shareResult.error.theirEmail *}
                </div>
                <a class="add-email" v-on:click="addTheirEmail()"><img src="/assets/img/svg/ic-plus.svg" alt=""><span class="text-link">Add email</span></a>
        </div>

        <div class="form-group">
                <label class="field-label" for="yourEmail">Your email<span aria-hidden="true" class="asterisk">*</span><span class="sr-only">(This field is required)</span></label>
                <input type="text" name="yourEmail" id="yourEmail" class="form-control" v-model="shareResult.yourEmail">
                <div class="invalid-feedback" v-show="shareResult.error.yourEmail">{* shareResult.error.yourEmail *}
            </div>
        </div>

        <div class="form-group">
                <label class="field-label" for="personalMessage">Add a personal message <span class="text-optional">(optional)</span></label>
                <textarea class="form-control" name="personalMessage" id="personalMessage"
                          v-model="shareResult.personalMessage"></textarea>
        </div>
        <div class="form-group">
            {# <div class="form-control"> #}
                <div class="g-recaptcha" id="emailShareFormCaptcha"></div>
            {# </div> #}
        </div>
        <button class="button button-primary" v-on:click="emailPdfShare()">Send</button>
    </div>
{% endblock %}