{% extends '_layouts/popup' %}

{% block popupId %}signup{% endblock %}

{% block popupLead %}
	<section class="account-lead popup-lead">
		<h3>Get started</h3>
		<p>Creating an account is optional. If you create an account, you can come back to your questions later. If you do not create an account, your data will be lost when you exit the questionnaire without saving.</p>
		<a class="btn btn-primary" href="/planning/questionnaire">Continue without an account</a>
		<div class="separator">
			<span>OR</span>
			<hr>
		</div>
		<h4>Create an account</h4>
	</section>
{% endblock %}

{% block popupBody %}
	{% include 'planning/_elements/account/signup-form' with {
		buttonText: 'Get started',
		callback: 'getStarted',
		usingVue: usingVue is defined and usingVue,
	} only %}
{% endblock %}

{% block popupFooter %}{% endblock %}