{% extends '_layouts/popup' %}

{% block popupId %}signin{% endblock %}

{% block popupLead %}
	<section class="popup-lead">
		<h3>Welcome back</h3>
		{% set signupId = signupId ?? 'signup' %}
		<p>Don’t have a plan yet? <a role="button" href="#" class="text-link popup-go-to" data-goto="{{ signupId }}">Sign up</a>.</p>
	</section>
{% endblock %}

{% block popupBody %}
	{% include 'planning/_elements/account/login-form' with {
		usingVue: usingVue is defined and usingVue,
	} %}

	<section class="forgot-password"><a role="button" href="#" data-goto="forgot-password" id="forgot-password-btn" class="popup-go-to">Forgot password?</a></section>
{% endblock %}