{% extends "_layouts/error" %}

{% do seomatic.meta.seoTitle("Bad request") %}

{% block errorContent %}
	<article class="grid banner-error-page">
		<figure class="banner-error-page__column ">
			<img calss="img-fluid banner-error-page__image" src="/assets/img/error-page-image.jpg" alt="error page image">
		</figure>
		<section class="banner-error-page__column banner-error-page__text-content">
			<h1 class="banner-error-page__heading">Bad request</h1>
			<p class="lead-text banner-error-page__text ">The request could not be understood by the server due to
															malformed syntax.</p>
			<a class="button grid banner-error-page__cta" href="/">
				<span class="button-text">Go to the main page</span>
			</a>
		</section>
	</article>
{% endblock %}
