{% extends "_layouts/error" %}

{% do seomatic.meta.seoTitle("Page not found") %}

{% block errorContent %}
	<article class="grid banner-error-page">
		<figure class="banner-error-page__column ">
			<img calss="img-fluid banner-error-page__image" src="/assets/img/error-page-image.jpg" alt="error page image">
		</figure>
		<section class="banner-error-page__column banner-error-page__text-content">
			<h1 class="banner-error-page__heading">Page not found
			</h1>
			<p class="lead-text banner-error-page__text ">Sorry, we couldn’t find the page you were looking for. We suggest that you return to main sections.</p>
			<a class="button grid banner-error-page__cta" href="/">
				<span class="button-text">Go to the main page</span>
			</a>
		</section>
	</article>
{% endblock %}
