{% set loadingText = loadingText ?? 'Loading...' %}

<div class="loading-screen">
	<div class="loading-screen-content">
		<div class="spinner"></div>
		<div class="loading-text">{{ loadingText }}</div>
	</div>
</div>