<nav class="planning-footer-nav" v-if="viewingStep != 'completed'">
	{# <div class="planning-footer-button-wrap"> #}
		<button class="save-and-exit button button-planning button-secondary"
		@click="save()"
		>Save</button>
	{# </div> #}

	{# <div class="planning-footer-button-wrap"> #}
		<button class="back-button button button-planning button-secondary"
			:class="{ 
				disabled: !isStepViewable(prevStepId),
			}"
			:disabled="!isStepViewable(prevStepId)"
			@click="jumpToStep(prevStepId)"
		>Back</button>
	{# </div> #}

	{# <div class="planning-footer-button-wrap"> #}
		<button class="continue button button-planning button-primary"
			type="submit"
			:class="{ 
				disabled: !validateFormInViewingStep(viewingStep),
			}"
			@click="continueToNextStep"
			:disabled="!validateFormInViewingStep(viewingStep)"
		>{* info.plan && hasUnsavedSteps() ? 'Save and ' : '' *}Continue</button>
	{# </div> #}
</nav>