{# The middle banner that appears on the home page as the second banner and as a leading banner on the service page (third level service page). I used the same service here as tht top banner for reusability#}
{% import '_macros/' as macros %}
{% if entry is defined and entry %}
	<!-- start of the banner data from the service -->
	{% set banner = craft.yodhub.getplanLandingBanner(entry) %}
	{%- if banner -%}
		<section
			class="banner grid middle-banner plan-landing-banner {%- if banner.media -%} {{- ' media-banner' -}}  {%- if banner.media.type == 'image' -%} {{- ' media__with-image' -}} {%- elseif banner.media.type == 'video' -%} {{- ' media__with-video' -}} {% endif %}  {%- endif -%}   ">
			{# media column #}
			{% if banner.media %}
				{% if banner.media.type == 'image' %}
					{% set image = banner.media.content %}
					<div class="banner__media-column plan-landing-banner__media--image">
						<figure style="height: 100%;z-index:-1;position:relative;{{ macros.thumbnail({ image: image,outputAsBackgroundImage: true, imagerSettings: { width: 1600, },altTag: image.title is defined and image.title ? image.title : 'image', }) }}"></figure>
					{% elseif banner.media.type == 'video' %}
						<div class="banner__media-column plan-landing-banner__media--video">
							<figure style="height: 100%;z-index:-1;position:relative;{{ macros.thumbnail({ image: banner.media.viideoBackgroundImage,outputAsBackgroundImage: true, imagerSettings: { width: 1600, }, altTag: image.title is defined and image.title ? image.title : 'image', }) }}"></figure>
							{{ macros.bannerVideo({
								field: banner.media.content,
								transcriptEntry: banner.media.settings.transcriptEntry,
								videoHtmlTitle: banner.media.settings.videoHtmlTitle,
								viideoBackgroundImage: banner.media.viideoBackgroundImage,
							}) }}
						{% endif %}
					</div>


					{# text column #}
					<section class="banner__text-column plan-landing-banner__text-content">
						<div class="inner-wrapper">
							<section class="plan-landing-banner__text-section">
								<h3 class="plan-landing-banner__title">{{ banner.createPlanTitle }}</h3>
								<div class="plan-landing-banner__summary">{{ banner.createPlanSummary }}</div>
								<a id="createPlanButton" href="/planning/questionnaire/" target="_blank" class="button button-primary
								{# plan-landing-banner__create-plan-button #}
								">Get Started <span class="sr-only">on your NDIS plan</span></a>
							</section>
							<section class="plan-landing-banner__text-section">
								<h3 class="plan-landing-banner__title">{{ banner.savedPlanTitle }}</h3>
								<div class="plan-landing-banner__summary">{{ banner.savedPlanSummary }}</div>
								<a id="SavedPlanButton" href="/login" class="button button-secondary
								{# plan-landing-banner__saved-plan-button #}
								">Login</a>
							</section>
						</div>
					</section>


				{% endif %}


			</section>
		{%- endif -%}
	{% endif %}
