<script>
	window.csrfTokenName = "{{ craft.app.config.general.csrfTokenName|e('js') }}";
    window.csrfTokenValue = "{{ craft.app.request.csrfToken|e('js') }}";
	window.loadStep = "{{ craft.app.request.getParam('step')|e('js') }}";
	window.generalQuestionFields = {{ craft.yodhubPlanning.getGeneralQuestionFieldsVueReady()|json_encode|raw }};
	window.goalAnalysisQuestionFields = {{ craft.yodhubPlanning.getGoalAnalysisQuestionFieldsVueReady()|json_encode|raw }};
	window.optionalGoalsFields = {{ craft.yodhubPlanning.getOptionalGoalsVueReady()|json_encode|raw }};
	// console.log(generalQuestionFields);
	window.yourPlanPageUrl = {{ craft.yodhubPlanning.getYourPlanPageUrl()|json_encode|raw }};
</script>

<div id="planning-vue" v-cloak>
	
	{# header.planning-header #}
	{% include 'planning/_elements/planning-header' %}

	{# section.planning-nav-section #}
	{% include 'planning/_elements/planning-nav' %}

	<section class="planning-vue__body" aria-live="polite">

		<section 
			class="sr-only message-section-sr-only" 
			v-if="message.info || message.error || message.notice"
			{# aria-live="polite" #}
			role="alert"
		>
			<p class="message info">{* message.info *}</p>
			<p class="message notice">{* message.notice *}</p>
			<p class="message error">{* message.error *}</p>
		</section>

		<section class="sr-only planning-title-sr-only-desktop">
			<h1 tabindex="0" class="planning-header__title sr-change-landing" v-if="viewingStep == 'completed'">Your results</h1>
			<h1 tabindex="0" class="planning-header__title sr-change-landing" v-else-if="viewingStepDetails">{* viewingStepDetails.title *}</h1>
		</section>

		<section class="planning-title-mobile">
			<div class="container">
				<h1 tabindex="0" class="planning-body__title sr-change-landing" v-if="viewingStep == 'completed'">Your results</h1>
				<h1 tabindex="0" class="planning-body__title sr-change-landing" v-else-if="viewingStepDetails">{* viewingStepDetails.title *}</h1>
			</div>
		</section>

		{# <section class="message-section" v-if="initErrored">
			<div class="container">
				<p class="message error">We're sorry, we're not able to retrieve the data at this moment, please check your internet and try refreshing your browser.</p>
			</div>
		</section> #}

		<template v-if="!initErrored">

			<section class="loading" v-if="initialising">
				{% include 'planning/_elements/loading-screen' ignore missing with {
					loadingText: 'Initialising...'
				} only %}
			</section>

			<template v-else>

				{# <section class="message-section" 
					v-if="message.info || message.error"
				>
					<div class="container">
						<p v-if="message.info" class="message" :class="message.info ? 'info' : null" v-html="message.info"></p>
						<p v-if="message.error" class="message" :class="message.error ? 'error' : null" v-html="message.error"></p>
					</div>
				</section> #}

				{# section.planning-banner #}
				{% include 'planning/_elements/planning-banner' %}

				{# section.planning-intro-section #}
				{% include 'planning/_elements/planning-intro' %}

				{# section.planning-questionnaire #}
				{% include 'planning/_elements/planning-questionnaire' %}

				{# section.planning-results #}
				{% include 'planning/_elements/planning-results' %}
			</template>
			
		</template>
	</section>

	{% include 'planning/_popups/notice' %}

	<section class="loading" v-if="saving">
		{% include 'planning/_elements/loading-screen' ignore missing with {
			loadingText: 'Saving your progress...'
		} only %}
	</section>

	<section class="loading" v-if="showSavedScreen">
		{% include 'planning/_elements/loading-screen' ignore missing with {
			loadingText: 'Saved!'
		} only %}
	</section>

	<section class="loading" v-if="loginData.loading">
		{% include 'planning/_elements/loading-screen' ignore missing with {
			loadingText: 'Logging in...'
		} only %}
	</section>

	<section class="loading" v-if="signupData.loading">
		{% include 'planning/_elements/loading-screen' ignore missing with {
			loadingText: 'Signing you up...'
		} only %}
	</section>

	<section class="loading" v-if="loggingOut">
		{% include 'planning/_elements/loading-screen' ignore missing with {
			loadingText: 'Logging out...'
		} only %}
	</section>

	<section class="loading" v-if="updating">
		{% include 'planning/_elements/loading-screen' ignore missing with {
			loadingText: 'Updating...'
		} only %}
	</section>
	
	{% include 'planning/_popups/save-progress' with {usingVue: true} %}
	{# {% include 'planning/_popups/signin' with {signupId: 'save-progress', usingVue: true} %}
	{% include 'planning/_popups/forgot-password' with {usingVue: true} %} #}
	{% include 'planning/_popups/share-results' with {usingVue: true} %}

</div>
