<section
        class="planning-results" v-show="viewingStep == 'completed'">
    {# completed #}

    <section class="message-section" v-if="!isResultsViewable">
        <div class="container">
            <p class="message error">There are invalid steps in the form. Please fix them to view the results.</p>
        </div>
    </section>

    <div v-show="isResultsViewable">
        {% include 'planning/_elements/results/ctas' %}
        <div
                class="planning-results__wrap">
            {# <div class="planning-results__top-line"></div> #}
            {% include 'planning/_elements/results/anchor-links' %}
            <article class="planning-results__data">
                <div class="container">
                    <form id="planning-results-form" target="_blank" method="post">
                        {# {{ csrfInput() }} #}
                        <input type="hidden" :name="csrfTokenName" :value="csrfTokenValue">

                        <input type="hidden" name="sharePdf" id="sharePdf" value="">
                        <input type="hidden" name="shareReCaptcha" id="shareReCaptcha" value="">
                        {% include 'planning/_elements/results/step1' %}
                        {% include 'planning/_elements/results/step2' %}
                        {% include 'planning/_elements/results/goal-analysis-steps' %}
                    </form>
                </div>
            </article>
            <div class="container">
                <div class="planning-results__ctaBottom">
                    {% include 'planning/_elements/results/ctas' %}
                </div>
            </div>
        </div>
    </div>
    
</section>
