<nav class="planning-nav" v-if="info">

	{% include 'planning/_elements/planning-nav-top-buttons' %}

	<ol class="planning-nav__steps" :class="isStepCompleted('completed') ? 'completed' : null">
		<li class="planning-nav__step"
			v-for="stepId in availableStepIds" 
			:class="{
				current: viewingStep == stepId,
				completed: isStepCompleted(stepId),
				viewable: isStepViewable(stepId),
				last: stepId == 'completed',
				invalid: isStepViewable(stepId) && !validateForm(stepId),
			}"
			@click="jumpToStep(stepId)"
		>
			<div v-if="stepId != 'completed'" class="planning-nav__step__path"></div>
			<div class="planning-nav__step__text">
				<button class="planning-nav__step-btn" :disabled="!isStepViewable(stepId)">
					<template v-if="stepId == 'completed'">Results</template>
					<template v-else>Step {* stepId *} 
						<span class="sr-only" v-if="isStepCompleted('completed')">Complete</span>
						<span class="sr-only" v-if="!validateForm(stepId)">Not Complete</span>
					</template>
				</button>
			</div>
			
		</li>
	</ol>
	
</nav>