<section class="planning-intro-section" v-if="viewingStepDetails && viewingStepDetails.intro">
	<div class="container">
		<div class="planning-intro-content rich-text" v-html="viewingStepDetails.intro"></div>
	</div>
</section>
