{# <div class="planning-nav__prev planning-nav-top-button-wrap"> #}
	<button class="planning-nav-top-button planning-nav__arrow planning-nav__arrow--prev button button-planning button-secondary"
		:class="{ 
			disabled: !isStepViewable(prevStepId),
		}"
		:disabled="!isStepViewable(prevStepId)"
		@click="jumpToStep(prevStepId)"
	><img src="/assets/img/svg/ic-previous-step.svg" alt=""><span class="sr-only">Go to previous step</span></button>
{# </div> #}

	<a v-if="info && info.plan" class="planning-nav-top-button logout-button button button-planning button-secondary"
		href="/logout"
	>Log<br>out</a>

{# <div class="planning-nav__save-exit planning-nav-top-button-wrap"> #}
	<button class="planning-nav-top-button save-and-exit button button-planning button-secondary"
		@click="save()"
	>Save</button>
{# </div> #}

{# <div class="planning-nav__next planning-nav-top-button-wrap"> #}
	<button class="planning-nav-top-button planning-nav__arrow planning-nav__arrow--next button button-planning button-secondary"
		:class="{ 
			disabled: !isStepViewable(nextStepId),
		}"
		:disabled="!isStepViewable(nextStepId)"
		@click="jumpToStep(nextStepId)"
><img src="/assets/img/svg/ic-next-step.svg" alt=""><span class="sr-only">Go to next step</span></button>

{# </div> #}