<header class="site-header planning-header">
	{% include '_elements/header-logo' %}
	{% include 'planning/_elements/planning-nav-top-buttons' %}
	<div class="top-texts">
		{% include '_elements/header-top-text' with {includeLogoutButton: true} %}
		<h1 tabindex="0" class="planning-header__title" v-if="viewingStep == 'completed'">Your results</h1>
		<h1 tabindex="0" class="planning-header__title" v-else-if="viewingStepDetails">{* viewingStepDetails.title *}</h1>
		
	</div>
</header>
