<section class="planning-questionnaire" v-if="info">
	<div class="container">
		<form id="questionnaire"
			{# onsubmit="preventSubmit" #} {# works for general cases (without Vue) #}
			@submit.prevent="" {# works for Vue #}
			novalidate
		>

			{# CSRF protection, see: https://craftcms.com/knowledge-base/enabling-csrf-protection 
			---
			Make sure we pass this field into our post data if we use AJAX to submit the form later.
			#}
			{# {{ csrfInput() }} #}
			<input type="hidden" :name="csrfTokenName" :value="csrfTokenValue">

			<input type="hidden" name="furthestViewableStep" :value="furthestViewableStep">

			<input type="hidden" name="currentStep" :value="viewingStep">

			<input type="hidden" name="stepsNeedSave[]" 
				v-for="(value, stepId) in stepsThatNeedsSave" 
				v-if="value"
				:value="stepId">

			{% include 'planning/_elements/questionnaire/step1' %}

			{% include 'planning/_elements/questionnaire/step2' %}
			
			{% include 'planning/_elements/questionnaire/goal-analysis-steps' %}

			{% include 'planning/_elements/planning-footer-nav' %}

		</form>
	</div>
</section>