<section class="planning-banner-section" v-if="viewingStepDetails">
	<div class="container">
		<div class="banner grid top-banner  planning-banner">
			<div class="banner__text-column top-banner__text-content text-column">
				<div class="top-banner__text-content--summary " v-html="viewingStepDetails.bannerSummary"></div>
			</div>
			<div class="banner__media-column media-image">
				<figure class="planning-image" :style="{
					backgroundImage: 'url(' + viewingStepDetails.imageUrl + ')',
					backgroundPosition: viewingStepDetails.imageFocalPoint,
				}"></figure>
			</div>
		</div>
	</div>
</section>
