{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * yodhub module for Craft CMS 3.x
 *
 * YodhubModuleField Field Input
 *
 * @author    Yump
 * @copyright Copyright (c) 2020 Yump
 * @link      https://yump.com.au
 * @package   YodhubModule
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{{ forms.textField({
        label: 'Some Field',
        instructions: 'Enter some text here.',
        id: name,
        name: name,
        value: value})
}}
