.account-wrap {
	padding: 7.6rem 1.5rem 5.3rem;
	max-width: 577px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	text-align: center;

	.button {
		width: 100%;
	}

	.account-header {
		margin-bottom: 5.7rem;
	}

	.account-lead {
		margin-bottom: 3.2rem;
		p {
			// text-align: left;
			font-weight: 300;
			margin-top: 1.6rem;
			margin-bottom: 1.6rem;
		}
		.separator {
			margin-top: 3.2rem;
			margin-bottom: 3.2rem;
			position: relative;
			h3 {
				display: inline-block;
				padding: 0 0.9rem;
				background-color: $white;
			}
			hr {
				position: absolute;
				z-index: -1;
				top: 5px;
				width: 100%;
				left: 0;
				right: 0;
			}
		}
		&__heading {
			@include h2-style;
		}
	}

	.account-form {
		text-align: left;
	}

	.form-bottom-text {
		margin-top: 2rem;
		a {
			@extend %link-style;
		}
	}

	.forgot-password {
		margin-top: 2rem;
	}

	#already-have-an-account {
		padding-top: 2.8rem;
		margin-top: 3.6rem;
		border-top: 1px solid $silver;
		h3 {
			margin-bottom: 1rem;
		}
		p {
			margin-bottom: 2rem;
		}
	}
}