.oops {
	.banner-error-page{
        max-width: 900px;
        margin: 0 auto;
        grid-template-columns: 1fr 1.3fr;
        grid-gap: 5rem;
        align-items: center;
        justify-items: center;
        margin-bottom: 8rem;
        padding-top: 8rem;
        &__image{
            margin: 0 auto;
        }
        &__text{
            padding: 2rem 0;
        }
        &__cta{
            display: inline-flex;
        }
    }
}
@media (max-width: 768px){
    .oops{
        .banner-error-page{
            grid-template-columns: 1fr;
        }
    }
}