.matrix-block {
  &:last-child {
    &.matrix-block-hardCodedBlock {
      margin-bottom: 0;

      .hero-banner {
        margin-bottom: 0;

        &__hero-image {
          &:after {
            display: none;
          }
        }
      }
    }
  }
}