// for post page. E.g. blog post page
$blog-news-post-container: (
  sm: 540px,
  md: 720px,
  lg: 967px,
  xl: 967px
);

.post__back {
	@include fluid-property('margin-top', 35);
	@include fluid-property('margin-bottom', 50);
	a {
		@include fluid-type($body);
		span {
			color: $primary;
			font-weight: 700;
		}
		i {
			margin-right: 7px;
		}
	}
}

.post__latest-posts-wrap {
	@include fluid-property('margin-top', 70, 20);
	> h2 {
		@include fluid-property('margin-bottom', 30);
	}
}
.post__latest-posts {
	@include make-row();
}

.post {
	.body-boxed__row {
		@include make-row();
		justify-content: center;
	}
	.before-boxed {
		@include fluid-property('margin-top', 64, 24);
		@include fluid-property('margin-bottom', 48, 24);
		flex: 0 0 100%;
		max-width: 100%;
	}
	.post__heading {
		@include fluid-property('margin-bottom', 40, 15);
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		width: 776px;
		padding-left: $grid-gutter-half;
		padding-right: $grid-gutter-half;
		max-width: 100%;
		// @include media-breakpoint-down(sm) {
		// 	@include make-container();
		// 	@include make-container-max-widths($blog-news-post-container);
		// }
		> h1 {
			@include fluid-type($h2);
			@include fluid-property('margin-bottom', 16);
			margin-top: 0;
		}
	}
	.post__featured-image {
	}
	.post__featured-image--no-caption {
		box-shadow: 0 3px 0 0 #d2d2d2;
	}
	.post__summary {
		@include fluid-type($h4);
	}
	.neo-main-content {
		padding-top: 0!important;
	}

	.body-boxed__container {
		@include make-container-max-widths($blog-news-post-container);
	}
	.neo-main-content {
		@include make-col-ready();
		@include media-breakpoint-up(lg) {
			@include make-col(10);
			// order: 2;
		}
		padding-top: 0px;
	}

	&.thank-you-page {
		.before-boxed {
			@include media-breakpoint-down(xs) {
			    margin-top: 0;
			}
		}
	}
}

.post-list-wrap{
  margin-top: 5.9rem;
}
