.search-results-page {
	.search-results-page-content {
		margin-top: 48px;
		margin-bottom: 48px;
	}
	.header-main__bg-wrap {
		// background-color: $bg-main-menu;
	}
	.crumbs-wrap {
		// margin-top: 60px;
	}

	.sidebar-refine-search {
		.sidebar-heading {
			margin-bottom: 2.4rem;
			@include media-breakpoint-up(lg) {
				margin-bottom: 2.8rem;
			}
		}
		@include media-breakpoint-down(sm) {
			margin-bottom: 4rem;
		}
		.sidebar-search-inner {
			background-color: $white;
			.sidebar-heading {
				color: $primary;
			}
			.refine-search-controls {
				.custom-control {
					padding-left: 3rem;
					&:not(:last-child) {
						margin-bottom: 1.9rem;
					}
					.form-check-label {
						color: $black;
						&:before {
							top: 0.2rem;
							width: 2rem;
							height: 2rem;
							left: -3rem;
						}
						&:after {
							top: 0.2rem;
							width: 2rem;
							height: 2rem;
							left: -3rem;
						}
					}
				}
			}
		}
	}

	.search-results {
		h1 {
			color: $primary;
			@include fluid-property("margin-bottom", 15);
		}

		.results-count {
			color: $primary;
			@include fluid-property("margin-bottom", 41);
		}

		.search-results-list {
			list-style: none;
			padding-left: 0;
			& > li {
				&:not(:last-child) {
					margin-bottom: 42px;
				}
				.search-result-entry-title {
					a {
						color: $primary;
						transition: all 0.3s;
						font-size: 1.9rem;
						line-height: 28px;
						font-weight: bold;
						&:focus,
						&:hover,
						&:active {
							color: $primary;
						}
					}
				}

				.excerpt {
					font-size: 1.5rem;
					font-weight: 300;
					color: $black;
				}

				.highlight {
					// color: $white;
					background-color: lighten($success, 20%);
					padding: 4px 0;
				}

				.search-result-item-breadcrumb {
					// .breadcrumb {
					// 	padding-left: 0;
					// }
					@include media-breakpoint-up(sm) {
						display: block;
					}
					background: none;
					margin-top: 1.25rem;
					padding-top: 0;
					.breadcrumb {
						display: flex;
						padding: 0;
						padding-left: 0;
						height: auto;
						background-color: transparent;
						&:before {
							display: none;
						}
						li {
							color: $black;
							margin-bottom: 0.8rem;
							&.current {
								color: $black;
								font-weight: bold;
							}
							a {
								color: $black;
							}
						}
						.separator {
							// color: $text-light-grey;
						}
						.breadcrumb__item-ico {
							@include media-breakpoint-up(lg) {
								padding-left: 1.2rem;
								padding-right: 1.2rem;
							}
						}
					}
				}
			}
		}

		.pagination-wrapper {
			margin-top: 40px;
			@include media-breakpoint-up(md) {
				margin-top: 52px;
			}
			.pagination-inner {
				display: flex;
				align-items: center;
			}
			.pagination-item {
				background-color: transparent;
				border-radius: 50%;
				width: 25px;
				height: 25px;
				display: inline-flex;
				align-content: center;
				justify-content: center;
				margin-right: 10px;
				transition: background .3s ease-in-out;
				&:hover {
					background-color: $primary-effect-colour;
				}
				&.active {
					position: relative;
					&::after {
						content: '';
						display: inline-block;
						width: 100%;
						height: 1px;
						border-bottom: 1px solid $primary;
						position: absolute;
						bottom: -2px;
						left: 0;
						// text-decoration: underline;
					}
					&:hover {
						background-color: transparent;
					}
				}
				&.disabled {
					&:hover {
						background-color: transparent;
					}
				}
			}
			.pagination-item-next,
			.pagination-item-prev {
				transition: transform .3s ease-in-out;
				&:hover {
					background-color: transparent;
				}
				&.disabled {
					display: none;
				}
				svg {
					width: 19px;
					display: inline-block;
					padding-top: 4px;
					margin-top: 4px;
				}
			}
			.pagination-item-next {
				&:hover {
					transform: translateX(2px);
				}
			}
			.pagination-item-prev {
				&:hover {
					transform: translateX(-2px);
				}
			}
		}
	}
}
