.top-services-section{
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	@include fluid-property('margin-top', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
		@include fluid-property('margin-bottom', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
    grid-gap: 1.6rem;
    .lead-text{
        p{
            font-size: 2rem;
            line-height: 1.5;
        }
    }
}