.services-secondary-landing-page.template--pages-servicesSecondaryLandingPage{
    .top-services-section{
        grid-template-columns: 1fr 175px;
        grid-gap: 7rem;
        &__content{
            display: grid;
            grid-gap: 1.6rem;
        }
    }
}
@media (max-width: 576px ){
    .services-secondary-landing-page.template--pages-servicesSecondaryLandingPage{
        .top-services-section{
            grid-template-columns: 1fr ;
            grid-gap: 2rem;
            padding: 2rem 1.5rem;
            &__featured-icon{
                grid-row: 1;
            }
        }
    }
}