<section class="planning-results-anchor-links-section">
	<ul class="planning-results-anchor-links">
		<li class="planning-results-anchor-link"
			v-for="step in info.stepDetails"
		><a class="text-link" href="#" @click="scrollToResultsStep(step.stepId)">{* step.title *}</a></li>
	</ul>
</section>