<div class="planning-results__cta">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-6 col-sm-12 mt-5">
                <div class="planning-results__cta__block">
                    <div class="planning-results__cta__block-icon">
                        <img src="/assets/img/icons/ic-save-on-your-device.png" class="img-fluid" alt="">
                    </div>
                    <div class="planning-results__cta__block-text"><h3 class="sr-change-landing" tabindex="0">Save on your device</h3>
                        <div class="planning-results__cta__description">
                            {{ ndisPlanningTool.saveOnYourDeviceDescription }}
                        </div>
                        <button v-on:click="downloadPdf()" class="button"><span
                                    class="button-text">Download</span></button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 mt-5">
                <div class="planning-results__cta__block">
                    <div class="planning-results__cta__block-icon">
                        <img src="/assets/img/icons/ic-share-with-someone.png" class="img-fluid" alt="">
                    </div>
                    <div class="planning-results__cta__block-text"><h3 tabindex="0">Share with someone</h3>
                        <div class="planning-results__cta__description">
                            {{ ndisPlanningTool.shareWithSomeoneDescription }}
                        </div>
                        <button v-on:click="emailPdf()" class="button"><span
                                    class="button-text">Email</span></button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>