<section class="results-step"
         v-for="step in info.questionnaire.steps"
         :id="'results-step' + step.stepId"
         :data-stepid="step.stepId"
>
    <h2 class="results-step-title sr-change-landing" tabindex="0">{* stepDetails[step.stepId].title *}</h2>
    {% include 'planning/_elements/results/results-banner' %}
    <section :class="sectionHandle"
             v-for="questionSection, sectionHandle in getGoalsAnalysisQuestionnaire(step.stepId).topic.questions">
        <template v-if="sectionHandle == 'needs'">
            <div class="row planning-results__goalHeader pb-3 pb-md-0">
                <div class="col-md-4 col-sm-12"><h3>Needs</h3></div>
                <div class="col-md-8 mt-3 mt-md-0 row-cols-5 d-none d-md-block" aria-hidden="true">
                    <div class="row no-gutters">
                        <div class="col mx-1 text-center"
                             v-for="scoreDefinition in info.questionnaire.scoreDefinitions[sectionHandle]">
                            <span class="planning-results__score">{* scoreDefinition.title *}</span>
                        </div>
                    </div>
                </div>
            </div>
        </template>

        <template v-else-if="sectionHandle == 'personalImportance'">
            <div class="row planning-results__goalHeader mt-5 pt-md-5 pt-sm-2 pb-3 pb-md-0">
                <div class="col-md-4 col-sm-12"><h3>Personal Importance</h3></div>
                <div class="col-md-8 mt-3 mt-md-0 d-none d-md-block" aria-hidden="true">
                    <div class="row no-gutters">
                        <div class="col mx-1 text-center"
                             v-for="scoreDefinition in info.questionnaire.scoreDefinitions[sectionHandle]">
                            <span class="planning-results__score">{* scoreDefinition.title *}</span>
                        </div>
                    </div>
                </div>
            </div>
        </template>

        <div class="row goals-analysis-question"
             v-for="question in getGoalsAnalysisQuestionnaire(step.stepId).topic.questions[sectionHandle]"
        >
            <div class="col-md-4 com-sm-12 pb-3">{* question.title *}</div>

            {# desktop - selections #}
            <div class="col-md-8 pb-3 mt-3 mt-md-0 d-none d-md-block" aria-hidden="true">
                <div class="row no-gutters">
                    <div class="col mx-1 text-center"
                         v-for="scoreDefinition in info.questionnaire.scoreDefinitions[sectionHandle]">
                        <img src="/assets/img/icons/radio-checked.png" alt=""
                             v-if="formInputs.goalsAnalysis.answers[question.id] == scoreDefinition.score">
                        <img src="/assets/img/icons/radio-not-checked.png" alt=""
                             v-if="formInputs.goalsAnalysis.answers[question.id] !== scoreDefinition.score">
                        <input type="hidden"
                               v-if="formInputs.goalsAnalysis.answers[question.id] == scoreDefinition.score"
                               :name="'goalsAnalysisAnswers[' + step.stepId + '][' + question.id + ']'"
                               :value="scoreDefinition.title">

                    </div>
                </div>
            </div>

            {# mobile - selections #}
            <div class="col-md-12 pb-3 d-md-none planning-results__questionItem"
                 v-for="scoreDefinition in info.questionnaire.scoreDefinitions[sectionHandle]"
                 aria-hidden="true"
            >
                <img src="/assets/img/icons/radio-checked.png" alt=""
                     v-if="formInputs.goalsAnalysis.answers[question.id] == scoreDefinition.score">
                <img src="/assets/img/icons/radio-not-checked.png" alt=""
                     v-if="formInputs.goalsAnalysis.answers[question.id] !== scoreDefinition.score">
                {* scoreDefinition.title *}
            </div>

            {# screen reader only #}
            <div class="sr-only"
                v-for="scoreDefinition in info.questionnaire.scoreDefinitions[sectionHandle]"
                v-if="formInputs.goalsAnalysis.answers[question.id] == scoreDefinition.score"
            >
                {* scoreDefinition.title *}
            </div>

        </div>
    </section>

    <section class="goals mt-5 pt-5">
        <h3>{* step.topic.title *} goals</h3>

        <div class="goals-ranking" v-if="sortedRankingList[step.stepId].length">
            <div class="goal mt-5"
                 v-for="goal in sortedRankingList[step.stepId]"
                 v-if="formInputs.goalsAnalysis.goals[goal.id].rank > 0"
            >
                <div class="goal-body container">
                    <div class="row mt-5 align-items-start flex-nowrap">
                        <div class="col-lg-1 col-2 col-sm-2 mb-3 mb-md-0">
                            <div class="goals__number">{* formInputs.goalsAnalysis.goals[goal.id].rank *}</div>
                        </div>
                        <div class="col-lg-11 col-10 col-sm-10">
                            <p class="lead-text goal-title"
                               :id="'goal-label-result-' + goal.id"
                            > {* goal.title *}</p>
                            <div v-show="formInputs.goalsAnalysis.goals[goal.id].notes" class="goal-content">
                                <div class="goal-notes-heading">Notes</div>
                                <div class="goal-notes">{* formInputs.goalsAnalysis.goals[goal.id].notes *}</div>
                            </div>

                            <input type="hidden" class="goal-notes form-control"
                                   :name="'goalsRanking[' + step.stepId + '][' + goal.id + '][notes]'"
                                   v-bind:value="formInputs.goalsAnalysis.goals[goal.id].notes">
                        </div>
                    </div>
                </div>
            </div>
            <div class="goal goal-optional mt-5"
                 v-if="formInputs.optionalGoals[step.topic.id] != ''"
            >
                <p class="lead-text goal-title">Your own <span class="lowercase">{* step.topic.title *}</span> goals</p>
                <div class="goal-content">
                    <div class="goal-notes-heading">Notes</div>
                    <div class="goal-notes">{* formInputs.optionalGoals[step.topic.id] *}</div>
                </div>

                <input type="hidden" class="goal-notes form-control"
                   :name="'optionalGoals[' + step.stepId + ']'"
                   v-bind:value="formInputs.optionalGoals[step.topic.id]">
            </div>
        </div>
    </section>
    {% include 'planning/_elements/results/back-to-top' %}
</section>
