{% set step = hardcodeStep ?? 'step.stepId' %}

<section class="banner grid top-banner planning-banner planning-banner--results">
    <div class="banner__text-column top-banner__text-content text-column">
        <div class="top-banner__text-content--summary " v-html="stepDetails[{{ step }}].bannerSummary"></div>
        <button class="btn btn-primary button" role="button" @click.prevent="jumpToStep({{ step }})">Edit</button>
    </div>
    <div class="banner__media-column media-image">
        <figure class="planning-image" :style="{
			backgroundImage: 'url(' + stepDetails[{{ step }}].imageUrl + ')',
			backgroundPosition: stepDetails[{{ step }}].imageFocalPoint,
		}"></figure>
    </div>
</section>