<section class="results-step" id="results-step1" data-stepid="1">
    <h2 tabindex="0" class="results-step-title sr-change-landing">My support network</h2>
    {% include 'planning/_elements/results/results-banner' with {hardcodeStep: 1} %}
    {% for field in craft.yodhubPlanning.getStep1FieldSettings() %}
        <div class="form-group">
            <span class="field-label">{{ field.label }}</span>
            <p>{* formInputs.general.{{ field.handle }} *}</p>
            <input type="hidden" name="general[1][{{ field.handle }}]"
                   v-bind:value="formInputs.general.{{ field.handle }}">
        </div>
    {% endfor %}
</section>

{% include 'planning/_elements/results/back-to-top' %}