<section class="results-step" id="results-step2" data-stepid="2">
    <h2 tabindex="0" class="results-step-title sr-change-landing">Activity Timetable</h2>
    {% include 'planning/_elements/results/results-banner' with {hardcodeStep: 2} %}
    {% for row in craft.yodhubPlanning.getStep2EverydayFieldSettings() %}
        <div class="step2-form-section">
            {% if row.fields is defined %}
                <h3 class="step2-form-heading">{{ row.heading }}</h3>
                <div class="step2-form-row">
                    <div class="row">
                        {% for field in row.fields %}
                            <div class="col-md-6">
                                <span class="field-label"
                                       for="questionnaire-general-{{ field.handle }}">{{ field.label }}
                                    {%- if field.required -%}
                                        <span aria-hidden="true" class="asterisk">*</span><span class="sr-only">(This field is required)</span>
                                    {%- endif -%}
                                </span>
                                <p>{* formInputs.general.{{ field.handle }} *}</p>
                                <input type="hidden" name="general[2][{{ field.handle }}]"
                                       v-bind:value="formInputs.general.{{ field.handle }}">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                {# Deprecated, now occassional activities section has both fields as well (what I do, and 'to do this I get help from') #}
                {# <h3 class="step2-form-heading">Occassional activities</h3>
                <div class="step2-form-row row">
                    <div class="col">
                        <p>{* formInputs.general.{{ row.handle }} *}</p>
                        <input type="hidden" name="general[2][{{ row.handle }}]"
                               v-bind:value="formInputs.general.{{ row.handle }}">
                    </div>
                </div> #}
            {% endif %}

        </div>
    {% endfor %}
</section>

{% include 'planning/_elements/results/back-to-top' %}

