{#
   Render card HTML
   
   @param [array] card: when including this template, the card param should have already been processed / formatted into an array. See YumpModuleService->translateCardBio() for the attributes in a card array
#}

{% import '_macros' as macros %}
{% set delay = index is defined and index ? index * 0.1 : '' %}

{% if card.url %}
<a class="card-container card {% if card.cardType %} card__{{ card.cardType }}{% endif %} {{ additionalClasses|default('') }} animate-zoom-in animate-when-visible"
   data-animation-delay="{{ delay }}"
   href="{{ card.url }}" {% if card.ctaTarget %} target="{{ card.ctaTarget }}" {% endif %}>
    {% else %}
    <article
            class="card-container card {% if card.cardType %} card__{{ card.cardType }}{% endif %} {{ additionalClasses|default('') }} animate-zoom-in animate-when-visible"
            data-animation-delay="{{ delay }}">
        {% endif %}
        {# ----------------------------------------------- #}
        {% if card.cardType == 'image' %}
            {% set thumbnailUrl = card.thumbnailUrl | default(craft.yump.getConfig('imageCardPlaceholderUrl')) %}
            {% if thumbnailUrl %}
                <div class="card__image-wrap">
                    <div class="card__link">
                        <img class="img-fluid card__img" src="{{ thumbnailUrl }}" alt="{{ card.image.title }}">
                    </div>
                </div>
            {% endif %}
        {% endif %}
        <div class="card__body">

            <div class="card__link">
                <h3 class="card__heading">
                    {{- card.heading -}}
                </h3>
            </div>
            <div class="card__content">
                {{ card.summary }}
            </div>
            {% if card.url %}
                <span class="button card__link card__cta">
                    {{ card.ctaText|default(craft.yump.getConfig('defaultCardCtaText')) }}
                </span>
            {% endif %}
        </div>
        {# ----------------------------------------------- #}
        {% if card.url %}
</a>
{% else %}
    </article>
        {% endif %}


