{% import '_macros' as macros %}

{% set thumbConfig = {
	width: 340,
	height: customHeight ? customHeight * 2 : 160,
	mode: "fit",
} %}

{% set itemImage = item.image.one() %}
{% set itemLink = item.linkTo ? craft.yump.generateValidUrl(item.linkTo.url) : '' %}

<div class="yump-carousel-item">
	{% if itemLink %}
	<a href="{{ itemLink }}" target="{{ item.linkTo.target }}">
	{% endif %}
	

	{% if itemImage %}
		<div class="yump-carousel-item-img-container"{% if customHeight %} style="height: {{ customHeight }}px"{% endif %}>
			{{ macros.thumbnail({
	            imageField: item.image,
	            imagerSettings: thumbConfig,
	            altTag: itemImage.title | default(''),
	        }) }}
	    </div>
	{% endif %}
	
    {% set heading = item.heading|trim %}
    {% set subHeading = item.subHeading|trim %}
    {% if heading or subHeading %}
    	<div class="yump-carousel-item-text-container">
    		{% if heading %}
	        <p class="yump-carousel-item-text-heading">{{ heading }}</p>
	        {% endif %}
	        {% if subHeading %}
	        <p class="yump-carousel-item-text-subheading">{{ subHeading }}</p>
	        {% endif %}
	    </div>
    {% endif %}

    {% if itemLink %}
	</a>
	{% endif %}
</div>