.redactor-box .redactor-styles {
  // @charset "UTF-8";
  // @import "base/default-fonts";
  // @import "base/bs-variables/_bs-variables";
  // @import "bootstrap";
  // @import "base/mixins/_mixins";
  // @import "global/typography";
  .lead-text {
    font-size: 2rem;
    line-height: 1.5;
  }
}
// .redactor-box .redactor-styles {
// 	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
// 	font-size: 16px;
// }
// body .redactor-dropdown {
// 	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
// 	font-size: 16px;
// }
// .richtext-button a {
// 	display: inline-block;
//     padding: 7px 16px;
//     font-size: 13px;
//     font-weight: 900;
//     line-height: 1.69;
//     letter-spacing: 1.2px;
//     color: #3d84cc !important;
//     border: 3px solid #3d84cc;
// }

#sproutforms-source-fields {
  .source-field {
    &[data-defaultname="Name"],
    &[data-defaultname="File Upload"],
    &[data-defaultname="Address"],
    &[data-defaultname="Multi Select"],
    &[data-defaultname="Categories"],
    &[data-defaultname="Entries"],
    &[data-defaultname="Tags"] {
      display: none;
    }
  }
}

#sproutforms-fieldlayout-container {
  .target-field {
    ul.settings {
      z-index: 1;
    }
  }
}