{% extends "pages/_templates/default" %}

{% block bodyClass %}
	{{ parent() }}
	page-with-middle-banner
{% endblock %}

{% block beforeContent %}
	{% if entry.showTitleAndSummaryOnTop is defined and entry.showTitleAndSummaryOnTop %}
		<section class="container grid top-services-section page-intro-section">
			<h1 class="top-services-section__heading">{{ entry.title }}</h1>
			{% if entry.summary %}
				<div class="lead-text top-services-section__summary">{{ entry.summary }}</div>
			{% endif %}
		</section>
	{% endif %}

	{% block middleBanner %}{% endblock %}
{% endblock %}