{% extends "pages/_templates/default" %}
{% block bodyClass %}
	{{ parent() }}
	services-secondary-landing-page
{% endblock %}

{% block topSectionForSerrvicesTemplates %}
	{% if entry.showTitleAndSummaryOnTop is defined and entry.showTitleAndSummaryOnTop %}
		{% import '_macros/' as macros %}
		<section class="container grid top-services-section">
			<div class="top-services-section__content">
				<h1 class="top-services-section__heading">{{ entry.title }}</h1>
				{% if entry.summary %}
					<div class="lead-text top-services-section__summary">{{ entry.summary }}</div>
				{% endif %}
			</div>
			{% if entry.featuredImage is defined and entry.featuredImage %}
				{% set serviceIcon = entry.featuredImage.one() %}
				<figure class="top-services-section__featured-icon">
					{{ macros.thumbnail({
					image: serviceIcon,
					imagerSettings: {
						width: 172,
					},
					altTag: image.title is defined and image.title ? image.title : 'service top icon',
					additionalClasses: 'top-services-section__icon',
				}) }}
				</figure>
			{% endif %}
		</section>
	{% endif %}
{% endblock  %}
{% block beforeFullWidthBody %}
	{% if entry.automatedChildrenPagesList %}
		{% set autoChildListTitle = entry.automatedChildrenPagesListTitle ? entry.automatedChildrenPagesListTitle|trim : null %}
		{% include '_content-blocks/partials/cards' with {
			cards: entry.getChildren().hideFromNavigation('not 1'),
			additionalClasses: 'cards__child-pages service-secondary-page-cards'
		} only %}
	{% endif %}
{% endblock %}
