{% extends "pages/_templates/default" %}
{% block bodyClass %}
	{{ parent() }}
	standard-content-page
{% endblock %}

{% block topSectionForSerrvicesTemplates %}
	{% if entry.showTitleAndSummaryOnTop is defined and entry.showTitleAndSummaryOnTop %}
		<section class="container grid top-services-section">
			<h1 class="top-services-section__heading">{{ entry.title }}</h1>
			{% if entry.summary %}
				<div class="lead-text top-services-section__summary">{{ entry.summary }}</div>
			{% endif %}
		</section>
	{% endif %}
{% endblock  %}
