$primary: #003349;
$secondary: #2cd5c4;
$white: #fff;
@keyframes slideUpEffect {
  0% {
    // -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0
  }

  100% {
    // -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1
  }
}

.banner {
  grid-template-areas: "text media";
  align-items: center;

  &__text-column {
    height: 100%;
    display: grid;
    align-items: center;
  }

  &__media-column {
    position: relative;
    height: 100%;
  }

  &__media--image,
  &__media--video {
  }

  // .button {
  //   background-color: $secondary;
  //   color: $primary;
  //   &:hover{
  //     background-color:  $button-background-colour-on-hover;
  //   }
  // }

}

.top-banner {

  .home-only {
    display: none;
  }

  .service-pages {
    display: block;
  }
}

.template--homepage-homepage {
  .top-banner {

    .home-only {
      display: block;
    }

    .service-pages {
      display: none;
    }
  }
}

@media screen and (min-width: 1400px) {
  .banner {
    margin: 0 auto;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 1200px) {
  .banner {
    &__text-content--summary {
      p {
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .banner {

    margin-bottom: -3rem;

    .inner-wrapper {
      // margin-bottom: 3rem;
    }

    &__media-column.image-bg-defined {
      height: inherit;
    }

    &__text-column {
      // margin-top: -8rem;
    }
  }
  .top-banner.grid,
  .middle-banner.grid {
    // margin-bottom: -6rem;
    grid-template-columns: 1fr;
    padding: 0;

    &__text-content--cta {
      margin: 1rem 0;
    }

    .banner__media-column {
      margin-bottom: 0;
    }
  }
  .media__with-video {
    grid-template-rows: minmax(303px, max-content) auto;
    position: relative;

    .video {
      bottom: -40px;
    }
  }
  .media__with-image {
    grid-template-rows: minmax(303px, max-content) auto;
  }
}

@media screen and (max-width: 575px) {
  .banner {
    background-position: 100% 50%;
    grid-template-rows: minmax(calc(50vw * 9 / 16), max-content);
    // grid-template-columns: minmax(200px, max-content);
    grid-template-rows: minmax(min-content, 393px) auto;
  }
  .media__with-video {
    grid-template-rows: minmax(203px, max-content) auto;
    .video {
      bottom: -50px;
    }
  }
  .media__with-image {
    grid-template-rows: minmax(203px, max-content) auto;
  }
}