.crumbs-wrap {
  padding: 0;
  background-color: none;

  .container {
  }

  .breadcrumb__mobile {
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  .breadcrumb {
    font-size: 1.4rem;
    line-height: 1.71;
    font-weight: 500;
    border-bottom: 1px solid $box-border-colour;
    align-items: center;
    color: $primary;
    padding: 1.6rem 0 1.7rem;

    &:hover {
      text-decoration: none;

      span {

      }
    }

    & > span {
      @extend %link-style;
    }

    &::before {
      content: "";
      display: inline-block;
      width: 14px;
      height: 10px;
      margin-right: 1rem;
      background: url("/assets/img/icons/arrow-left.png") no-repeat left center;
    }


    background-color: #ffffff !important;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;

    &__item, &__item a {
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.43;
      letter-spacing: normal;
      color: $black;
      display: flex;
      align-items: center;
      text-decoration: none !important;
    }

    &__item {
      margin-bottom: 0;
      text-decoration: none;

      span {
        // @extend %link-style;
      }

      a {
        text-decoration: none;
        @extend %link-style;
        span {
        }
      }

      &--separator {
        padding: 5px 7px 0;
        font-size: 1rem;
      }

      &:last-of-type {
        font-weight: 700;
        text-decoration: underline;
      }
    }
  }
}

.has-banner {
  .crumbs-wrap {
    .breadcrumb {
      border-bottom: 0;
    }
  }
}