.footer {
	position: relative;
	background-color: $primary;
	padding: 6.4rem 0;
	*,
	a {
		color: $white;
	}
	&__help-information-title {
		margin-bottom: 3.2rem;
	}
	.grid {
		grid-template-columns: 0.63fr 0.37fr;
	}
	&__help-section {
		padding-right: 6rem;
		border-right: 1px solid $secondary;
	}
	&__about-section {
		padding-left: 5rem;
	}
	&__help-information-title,
	&__about-information-title {
		line-height: 1.25;
	}
	&__help-information-summary {
		padding: 1rem 0;
		a {
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
	&__about-information-summary {
		padding-top: 1rem;
	}
	&__help-information-summary p,
	&__about-information-summary p,
	&__about-information-link,
	&__privacy-yump {
		font-size: 1.4rem;
		line-height: 1.43;
	}
	&__about-information-link {
		text-decoration: none;
		border-bottom: 1px solid $white;
		&::after {
			content: "";
			display: inline-block;
			background: url("/assets/img/icons/footer-open-new-icon.png")
				no-repeat right center;
			width: 16.8px;
			height: 10.8px;
			background-size: 13px 13px;
		}
		&:hover {
			border-bottom: 1px solid transparent;
		}
	}
	&__help-contacts-info {
		display: grid;
		grid-template-columns: 40px 1fr;
		grid-template-rows: auto 1fr auto;
		@include media-breakpoint-up(xl) {
			grid-template-rows: 25px 1fr auto;
		}
		&:first-child {
			.footer__help-contacts-link::after {
				display: none;
			}
		}
		&:last-child {
			.footer__help-contacts-link {
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	&__help-contacts {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin-top: 3rem;
	}
	&__help-contacts-info-icon {
		grid-column: 1;
		margin-right: 4rem;
	}
	&__help-contacts-label,
	&__help-contacts-link,
	&__help-contacts-text {
		grid-column: 2;
		padding: 0 0 0 2rem;
	}
	&__help-contacts-label {
		font-size: 1.4rem;
		line-height: 2.08;
		font-weight: bold;
	}
	&__help-contacts-link {
		font-size: 2.5rem;
		line-height: 1.6;
		font-weight: bold;
		display: flex;
		align-items: center;
		&::after {
			content: "";
			display: inline-block;
			background: url("/assets/img/icons/footer-open-new-icon.png")
				no-repeat right center;
			width: 18.8px;
			height: 12.5px;
			background-size: 14px 14px;
		}
	}
	&__help-contacts-text p {
		font-size: 1.4rem;
		line-height: 1.71;
	}
	&__logos {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-top: 3rem;
	}
	&__yump-logo {
		width: 44px;
	}
	&__privacy-yump {
		margin: 0;
	}
	.to-top-button {
		position: absolute;
		top: -36px;
		right: 32px;
	}
}

@media (max-width: 991px) {
	.footer {
		.grid {
			grid-template-columns: 1fr;
		}
		&__help-section {
			border-right: 0;
			border-bottom: 1px solid $secondary;
			padding-right: 0;
			padding-bottom: 3rem;
		}
		&__about-section {
			padding-left: 0;
			padding-top: 3rem;
		}
		.to-top-button {
			width: 44px;
			height: 44px;
			top: -22px;
		}
	}
}
@media (max-width: 576px) {
	.footer {
		&__help-contacts {
			grid-template-columns: 1fr;
			grid-gap: 2rem;
		}
	}
}
