.homepage-bottom-section{
    @include fluid-property('margin-top', 72, 48);
    // margin-bottom: 4rem;
    // &__swirl-holder{
    //     margin-top: -370px;
    //     padding-top: 18rem;
    //     background: url("/assets/img/png/homepage-bottom-section-top-swirl.png") no-repeat top center;
    //     background-size: cover;
    //     min-height: 240px;
    // }
    // padding-bottom: 30rem;
    &__top-content{
        // background-color: $primary;
        // padding-top: 23rem;
        // color: $white;
        // grid-template-columns: 1fr .9fr 1fr;
        justify-content: center;
        text-align: center;
        width: 538px;
        max-width: 100%;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        padding: 0 1.5rem;
        z-index: 2;
        position: relative;
        
        margin-bottom: 4rem;
        @include media-breakpoint-up(md) {
            margin-bottom: 0;
        }
        @include media-breakpoint-up(xxl) {
            margin-bottom: -3rem;
        }
    }
    &__icon{
        // grid-column: 2;
        display: block;
        margin: 0 auto;
        margin-bottom: 2.4rem;
        width: 120px;
        height: auto;
        @include media-breakpoint-up(md) {
            margin-bottom: 3.2rem;
        }
        @include media-breakpoint-up(xl) {
            margin-bottom: 4rem;
            width: 173px;
        }
    }
    &__main-heading{
        font-weight: normal;
        // grid-column: 2;
        // margin: 4rem 0rem 1.5rem;
    }
    &__sub-heading {
        
    }
    &__cta-button{
        // justify-self: center;
        // grid-column: 2;
        line-height: 1.2;
        
        margin-top: 3.2rem;
        @include media-breakpoint-up(xl) {
            margin-top: 4rem;
            padding: 2rem 2.8rem;
            font-size: 2rem;
        }
    }
    &__additional-link{
        margin-top: 2rem;
        .text-link {
            display: inline-block;
            border-color: $primary;
            &:hover, &:focus {
                border-color: $secondary;
            }
        }
    }
    // &__gradient-holder{
    //     background: url("/assets/img/png/hero-gradient-bg.png") no-repeat 0% 0%;
    //     background-size: contain;
    //     margin-top: -1rem;
    // }
    &__hero-image{
        position: relative;;
        // z-index: -1;
        // &::after{
        //     position: absolute;
        //     display: block;
        //     content: "";
        //     width: 4px;
        //     height: 12.8rem;
        //     background-color: $secondary-effect-colour;
        //     margin: 0 auto;
        //     left: 50%;
        //     bottom: -6.4rem;
        // }
        
        img {
            width: 100%;
        }
    }
    &__swirl {
        position: absolute;
        top: 0;
        z-index: 1;
        // left: 0;
        // right: 0;

    }
    &__bottom-image{
        
    }
}
// @media screen and (max-width: 1600px){
//     .homepage-bottom-section{
//         &__top-content{
//             // grid-template-columns: 1fr 2fr 1fr;
//         }
//     }
// }
// @media screen and (max-width: 1400px){
//     .homepage-bottom-section{
//         &__top-content{
//             grid-template-columns: .5fr .6fr .5fr;
//         }
//     }
// }
// @media screen and (max-width: 1024px){
//     .homepage-bottom-section{
//         &__hero-image{
//             height: 50vh !important;
//         }
//     }
// }
// @media screen and (max-width: 576px){
//     .homepage-bottom-section{
//         &__top-content{
//             grid-template-columns: .1fr .8fr .1fr;
//         }
//     }
// }