@import "slick.scss";

$slider-dot-color: $black;
$image-caption-text-color: $pepper;

.image-slider-wrap {
	position: absolute;
	visibility: hidden;

	// @include make-row();
}
.slider {
	.slider-item__caption {
		display: none; // we handle slider caption different using javascript
	}
}

.slider__captions--container {
	display: none;
}

.slider {
	.slick-arrow {
	    opacity: 0.8;
	    cursor: pointer;
	    position: absolute;
	    top: 50%;
		transform: translateY(-50%);
		img {
			width: 40px;
			height: auto;
			@include media-breakpoint-up(md) {
			    width: 60px;
			}
		}
	}
	.slick-arrow:hover {
	  opacity: 1;
	}
	.slick-arrow:focus {
	  outline: 0;
	  box-shadow: 0 0 0 5px #09F;
	}
	.slick-arrow:active {
	  opacity: 1;
	}
	.arrow-previous {
		left: 0;
		z-index: 1;
		-webkit-appearance: none;
	}
	.arrow-next {
		right: 0;
		-webkit-appearance: none;
	}

	.slick-dots {
		position: absolute;
		bottom: 16px;
		left: 50%;
		transform: translateX(-50%);

		list-style-type: none;
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		li {
			button {
				display: none;
				-webkit-appearance: none;
				box-shadow: none;
				border: none;
			}

			width: 8px;
			height: 8px;
			border-radius: 50%;
			background-color: $slider-dot-color;
			&:not(:last-child) {
				margin-right: 8px;
			}
			&.slick-active {
				width: 16px;
				height: 16px;
			}
		}
	}
}

.slider__captions--container,
.slider-item__caption {
	color: $image-caption-text-color;
}