.message-section {
	margin-top: 2rem;
	// margin-bottom: 2rem;
	.message {
		// padding: 0.8rem 1.6rem;
		// display: inline-block;
		// font-size: 1.4rem;
		// font-weight: 500;
		// line-height: 1.5;
		// color: $primary;
		// border-radius: 4px;
		&.info {
			// background-color: $icy-blue;
			// border: 1px solid $dusty-orange-two;
			@extend %message-banner--info;
		}
		&.error {
			// background-color: $silver;
			// border: 1px solid $dark-pink;
			// color: $dark-pink;
			@extend %message-banner--error;
		}
	}
}

.errors, .field-errors {
	margin-top: 1rem;
	padding-left: 2.4rem;
	list-style-image: url('/assets/img/svg/ic-error.svg');
	li {
		font-size: 1.4rem;
		line-height: 1.14;
		color: $dark-pink;
	}
}