$general-background-colour: #f7f9f9;
.middle-banner {
  grid-template-columns: repeat(2, 1fr);
  margin-top: 4rem;
  margin-bottom: 6rem;

  .banner__media-column {
    grid-column: 1;
    grid-area: media;
    background: url("/assets/img/swirls/service-page-banner-swirl.png") no-repeat 100% 50%;
    background-size: contain;
    background-position: left;
  }

  &__text-content {
    background-color: $general-background-colour;
    padding: 6rem 12.4rem 6rem 10rem;


  }

}

.page-intro-section {
  & + .middle-banner {
    // margin-top: 2rem;
  }
}

.template--homepage-homepage {
  .middle-banner {

    grid-template-areas: "media text";

    .banner__media-column {
      grid-column: 1;
      grid-area: media;
      background: url("/assets/img/swirls/middle-banner-swirl.png") no-repeat 100% 50%;
      background-size: contain;
    }

    &__text-content {
      grid-column: 2;
      grid-area: text;
      padding: 6rem 12.4rem 6rem 10rem;

      p {
        line-height: 1.5;
        font-size: 2rem;
        margin: 2rem 0 3rem;

      }
    }
  }
}

.service-page.template--pages-servicePage {
  .middle-banner {
    .banner__media-column {
      background: url("/assets/img/swirls/service-page-banner-swirl.png") no-repeat 0% 50%;
      background-size: contain;
    }

    &__text-content {
      padding: 6rem 12.4rem 6rem 10rem;

      p.lead-text {
        // margin: 2rem 0 3rem;

      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .middle-banner {

  }
  .template--homepage-homepage {
    .middle-banner {
      .video-transcript-button-wrapper {
        margin-right: calc(40%);
      }

      &__text-content {
        padding: 16.9rem 13rem;
      }

      .banner__media-column {
        background: url("/assets/img/swirls/middle-banner-home-cream-big.png") no-repeat 100% 50%;
        background-size: contain;
      }
    }
  }
  .service-page.template--pages-servicePage {
    .middle-banner {
      .video-transcript-button-wrapper {
        margin-left: calc(40%);
      }

      &__text-content {
        padding: 16.9rem 13rem;
      }

      .banner__media-column {
        background: url("/assets/img/swirls/middle-banner-service-cream-big.png") no-repeat 0% 50%;
        background-size: contain;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .template--homepage-homepage {
    .middle-banner {
      .video-transcript-button-wrapper {
        margin-right: calc(30%)
      }
    }
  }
  .service-page.template--pages-servicePage {
    .middle-banner {
      .video-transcript-button-wrapper {
        margin-left: calc(30%)
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .template--homepage-homepage, .service-page.template--pages-servicePage {
    .middle-banner {
      &__text-content {
        // padding: 2rem 10rem;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .template--homepage-homepage, .service-page.template--pages-servicePage {

    .middle-banner {
      margin-bottom: 0;

      .banner__media-column {
        grid-column: 1;
        grid-row: 1;
      }

      &__text-content {
        grid-row: 2;
        grid-column: 1;
        padding: 4rem 4rem 4.5rem 4rem;
        display: grid;
      }

      &__text-content--heading {
        font-size: 3.6rem;
        line-height: 1.11;
      }
    }

  }
  .template--homepage-homepage {
    .middle-banner {
      .inner-wrapper {
        padding-right: 1rem;
        background-color: transparent;
      }

      .video-transcript-button-wrapper {
        margin-right: auto;
      }
    }
  }
  .service-page.template--pages-servicePage {
    .middle-banner {
      .inner-wrapper {
        padding-left: 1rem;
        background-color: transparent;
      }

      .video-transcript-button-wrapper {
        margin-left: auto;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .middle-banner {

    &__text-content {
      padding: 4.5rem 4rem;
    }

    &__text-content--summary {
      p {
        line-height: 1.56;
        font-size: 1.8rem;
      }

      line-height: 1.56;
    }

    &__text-content--cta {
      display: inline-flex;
      justify-content: center;
    }

  }
}
  