.mainnav {
  background-color: $primary;
}

.navbar-collapse {
  justify-content: center;
}

.navbar {
  padding: 0;

  .navbar-toggler {
    background-color: $secondary-effect-colour;
    //   .navbar-toggler-icon{
    //       background-color: $primary;
    //   }
  }
}

.template--homepage-homepage {
  .navbar-nav {
    .nav-item:first-child {
      .nav-link {
        border-bottom: 4px solid $primary-effect-colour;

      }
    }
  }
}

.navbar-nav {
  align-items: center;


  .nav-item {
    padding: 0 2.8rem;
    margin-bottom: .8rem;
    position: relative;
    @include media-breakpoint-up(lg) {
      padding: 0 2rem;
      margin-bottom: 0;
    }

    &.active {
      .nav-link {
        border-bottom: 4px solid $primary-effect-colour;

      }
    }
  }

  .dropdown-menu {
    padding: 0;
    background-color: $dropdown-background-color;
    box-shadow: none;
    border: 0;
    margin: 0;
    padding-bottom: 1.5rem;
    right: 0;

    li:first-child {
      a {
        margin-top: .6rem;
      }
    }

    .dropdown-item {
      color: $primary;
      font-size: 1.6rem;
      padding: .9rem 2.4rem;
      white-space: unset !important;

      .dropdown-item-title {
        border-bottom: 1px solid transparent;
        transition: border-bottom-color .3s;
      }

      &.active {
        background-color: $dropdown-background-color;
      }

      &:hover, &:focus {
        background-color: $dropdown-background-color;
        .dropdown-item-title {
          border-bottom-color: $primary;
        }
      }
    }
  }

  .nav-link {
    color: $white;
    font-size: 1.6rem;
    line-height: 1.5;
    padding: 1.2rem 0;
    border-bottom: 4px solid transparent;

    &:hover {
      border-bottom: 4px solid $primary-effect-colour;
    }
  }
}

.navbar-nav:not(.sm-collapsible) .nav-link .sub-arrow {
  background: url("/assets/img/icons/menu-arrow-down.png");
  display: none;

}

.dropdown-item.active, .dropdown-item:active {
  background-color: transparent;
}

@media (max-width: 991px) {
  .template--homepage-homepage {
    .navbar-nav {
      .nav-item:first-child {
        .nav-link {
          border-bottom: 0;

        }
      }
    }
  }
  .mainnav {
    background-color: $white;
  }
  .navbar-nav {
    align-items: initial;

    .nav-item {
      .nav-link {
        &.has-submenu {
          .sub-arrow {
            margin-right: -0.5rem;
          }
        }
      }

      // padding-right: 1.2rem;
      &.active {
        .nav-link {
          border-bottom: 0;
        }
      }
    }

    .nav-item.dropdown {
      &:hover {
        .dropdown-menu {
          display: none;
        }
      }

    }

    .dropdown-menu {
      // margin: 1.2rem 0;
      .dropdown-item {
        padding: 1.4rem 2.4rem 1rem;

        &:hover, &:focus {
        }
      }

      li {
        &:first-child {
          .dropdown-item {
            margin-top: 0;
          }
        }
      }
    }

    .nav-link {
      color: $primary;
      font-size: 1.6rem;
      line-height: 1.5;
      border-bottom: 0;

    }
  }
  .navbar-nav.sm-collapsible .sub-arrow {
    border: 0;
  }
  .navbar-nav.sm-collapsible .sub-arrow::before {
    content: url("/assets/img/icons/menu-arrow-down.png");
  }
  .navbar-nav.sm-collapsible .show > a > .sub-arrow::before {
    content: url("/assets/img/icons/menu-arrow-up.png");
  }
}

// @media  (max-width: 755px){
//     .navbar .navbar-nav{
//       padding-left: 1.5rem;
//       padding-right: 1.5rem;
//     }
//   }