// these two define the breakpoint together, they should be changed together if one of them needs to be changed
$rich-media-breakpoint-up: lg;
$rich-media-breakpoint-down: md;

$rich-media-text-desktop-max-widths: (
	md: 356px,
	lg: 390px,
	xl: 540px
);

$rich-media-background-color: $secondary;
$rich-media-text-color: $white;
$rich-media-video-transcript-cta-background-desktop: $white;
$rich-media-video-transcript-cta-text-color-desktop: $secondary;
$rich-media-video-transcript-cta-icon-color-desktop: $primary;

.rich-media {
	background: $rich-media-background-color;
	color: $rich-media-text-color;

	&.rich-media__with-image {
		// max-height: 600px;
		// overflow: hidden;
	}
	&.rich-media__with-video {
		
	}
	.rich-media__row {
		display: flex;

		@include media-breakpoint-up($rich-media-breakpoint-up) {
		    // display: flex;
		    .rich-media__column {
				flex: 0 0 50%;
			}
		}

		@include media-breakpoint-down($rich-media-breakpoint-down) {
		    flex-wrap: wrap;
		    .rich-media__column-media {
		    	// media column always go first on mobile / portrait view, otherwise (desktop / landscape view), respect the initial order (set in CMS)
		    	order: 0;
		    	flex: 0 0 100%;
		    	max-width: 100%;
		    }
		}

		.rich-media__column-media {
			
			.rich-media__media--image {
				// we need to make sure the image itself is cropped 16/9
				min-height: calc(100vw*9/16);
				// height: calc(100vw*9/16);
				background-size: cover;
				// img {
				// 	width: 100%;
				// }
				@include media-breakpoint-up($rich-media-breakpoint-up) {
				    min-height: calc(50vw*9/16);
				    // height: calc(50vw*9/16);
				    // overflow: hidden;
				    // img {
				    // 	height: 100%; // fix the weird height calculation bug (based on vw), which sometimes shows this weird gap even if the calculation should be alright based on the vw. By setting height to 100% would fix it. Even if the image is a bit stretched, it shouldn't be by much.
				    // }
				}
			}
			.rich-media__media--video {
				.video-transcript-button-wrapper {
					text-align: right;
				    padding: 8px $grid-gutter-half;
				    color: $rich-media-video-transcript-cta-icon-color-desktop;

					.video-transcript-link {
						color: $white;
					}

					@include media-breakpoint-up($rich-media-breakpoint-up) {
					    background-color: $rich-media-video-transcript-cta-background-desktop;
					    .video-transcript-link {
					    	color: $rich-media-video-transcript-cta-text-color-desktop;
					    }
					}
				}
			}
		}

		.rich-media__column-text {
			@include media-breakpoint-down($rich-media-breakpoint-down) {
			    order: 1;
			    padding-top: $gap-between-blocks-mobile;
			    padding-bottom: $gap-between-blocks-mobile;
			}
			@include make-col-ready();
		    @include make-col(12);
			@include media-breakpoint-up($rich-media-breakpoint-up) {
			    @include make-col(6);
			    display: flex;
			    justify-content: center;
			    align-items: center;
			    .rich-media__column-text--inner {
			    	@include make-container-max-widths($rich-media-text-desktop-max-widths);
			    }
			}

			.rich-media__text-content--heading {
				@include h1-style();
			}
			.rich-media__text-content--summary {

			}
			.rich-media__text-content--ctas {
				.rich-media__text-content--cta {

				}
			}
		}

		// display: flex;
		// @media #{$bs-mobile} {
		// 	flex-direction: column;
		// }

		// .full-width-panel-column {
		// 	@media #{$medium-up} {
		// 		flex: 0 0 50%;
		// 	}
		// }
		// &[class*="image"] {
		// 	@media #{$medium-up} {
		// 		max-height: 600px;
		// 		overflow: hidden;
		// 	}
		// 	.full-width-panel-column-image {
		// 		&.image-as-background-canvas {
		// 			min-height: calc(50vw*3/5);
		// 			background-size: cover;
		// 			@media #{$bs-mobile} {
		// 				min-height: calc(100vw*3/5);
		// 			}
		// 		}
		// 	}
		// }
		// &[class*="video"] {
		// 	.full-width-panel-column-video {
		// 		.container {
		// 			padding-left: 0;
		// 			padding-right: 0;
		// 			max-width: none;
		// 		}
		// 		// .matrix-block-video {
		// 		// 	margin: 0;
		// 		// }
		// 		.video-block {
		// 			margin: 0;
		// 			.video-iframe-wrapper {
		// 				border-radius: 0;
		// 			}
		// 			.video-transcript-button-wrapper {
		// 				@media #{$medium-up} {
		// 					padding: 16px 0;
		// 					border-bottom: 0;
		// 				}
		// 				@media #{$bs-mobile} {
		// 		            padding-left: ($grid-gutter-width / 2);
		// 		            padding-right: ($grid-gutter-width / 2);
		// 			    }
		// 			}
		// 		}
		// 		&.full-width-panel-column-video-on-right {
		// 			.video-transcript-button-wrapper {
		// 				// padding-left: ($grid-gutter-width / 2);
  //     //       			padding-right: ($grid-gutter-width / 2);
  //           			a {
  //           				justify-content: flex-start;
  //           			}
		// 			}
		// 		}
		// 	}
		// }

		// .full-width-panel-column-text {
		// 	@media #{$bs-mobile} {
		// 		order: 1;
		// 	}
		// 	padding: 24px 16px;
		// 	.container {
		// 		padding: 0;
		// 	}
		// 	// @media #{$medium-up} {
		// 		display: flex;
		// 		justify-content: center;
		// 		align-items: center;
		// 	// }
		// 	.full-width-panel-column-text-inner {
		// 		@media #{$medium-up} {
		// 			width: 356px;
		// 		}
		// 		@media #{$large-up} {
		// 			width: 390px;
		// 		}
		// 		@media #{$extra-large-up} {
		// 			width: 504px;
		// 		}

		// 		.buttons-wrapper {
		// 			.mackillop-button {
		// 				&:last-child {
		// 					margin-bottom: 0;
		// 				}
		// 			}
		// 		}
		// 	}
		// }
	}
}