$section-head-margin-bottom: 3.2rem;
$section-head-margin-bottom-mobile: 2.4rem;

.section-head {
    margin-bottom: $section-head-margin-bottom-mobile;
    @include media-breakpoint-up(lg) {
        margin-bottom: $section-head-margin-bottom;
    }
}
.neo-secondary-content {
    .section-head {
        text-align: center;
    }
}