$general-background-colour: #f7f9f9;
.top-banner {
	grid-template-columns: 45% 55%;
	// margin-bottom: 6rem;

	&__text-content--heading {
		transform: translateY(50px);
		opacity: 0;
		animation-name: slideUpEffect;
		animation-duration: 1400ms;
		animation-fill-mode: forwards;
	}
	

	&__text-content--summary {
		transform: translateY(50px);
		opacity: 0;
		animation-name: slideUpEffect;
		animation-duration: 1400ms;
		animation-fill-mode: forwards;
		animation-delay: 300ms;
	}

	&__text-content--ctas {
		transform: translateY(50px);
		opacity: 0;
		animation-name: slideUpEffect;
		animation-duration: 1400ms;
		animation-fill-mode: forwards;
		animation-delay: 600ms;
	}

	&__text-content {
		grid-column: 1;
		grid-area: text;
		padding: 21.9rem 13rem;
		background-color: $general-background-colour;
	}
	&__text-content-wrap {
		@media screen and (min-width: 1025px) {
			padding-top: 5.6rem;
			padding-bottom: 5.6rem;
		}
	}

	.banner__media-column {
		grid-column: 2;
		grid-area: media;
		background: url("/assets/img/swirls/top-banner-cream-big.png") no-repeat 0% 50%;
		background-size: contain;
	}

	&__text-content--heading {
		letter-spacing: 1.17px;
	}

	&__text-content--summary {
		margin-top: 2rem;
		margin-bottom: 2rem;

		p {
			font-size: 2rem;
			line-height: 1.5;
		}
	}

	&__explore-button-wrapper {
		&:not(:first-child) {
			margin-top: 2rem;
		}
	}
	&__explore-button {
		outline: 0;
		border: 0;
		appearance: none;
		background-color: transparent;
		padding: 0;
	}
	&__explore-button-icon {
		background-color: $secondary;
		display: inline-flex;
		border-radius: 50%;
		height: 37px;
		width: 37px;
		align-items: center;
		justify-content: center;
		transition: background-color 0.3s ease-in-out;
		svg {
			transition: transform 0.3s ease-in-out;
			position: relative;
			top: 1px;
		}
		&:hover {
			background-color: darken($secondary, 1%);
			svg {
				transform: translateY(2px);
			}
		}
	}
}

@media screen and (min-width: 1025px) {
	.top-banner {
		// @include fluid-property('min-height', 700, 450);
		align-items: center;

		&--page {
			min-height: 494px;
		}

		&__text-content {
			padding: 0 6rem 0 9rem;
		}
	}
}

@media screen and (min-width: 1920px) {
	.top-banner {
		&--page {
			min-height: 600px;
		}
	}
}

@media screen and (min-width: 1025px) {
	.top-banner {
		&__text-content {
			// padding: 16.9rem 9rem;
		}

		.banner__media-column {
			background: url("/assets/img/swirls/top-banner-cream-big.png") no-repeat 0% 50%;
			background-size: contain;
		}

		&__text-content--heading {
			font-size: 4.5rem;
			// text-align: center;
		}
	}
	// .template--homepage-homepage {
	//   .top-banner {
	//     .banner__media-column {
	//       background: url("/assets/img/swirls/top-banner-white-big.png") no-repeat 0% 50%;
	//       background-size: contain;
	//     }
	//   }
	// }
}

@media screen and (max-width: 1024px) {
	.top-banner {
		&__text-content {
			padding: 6rem 6.4rem 6rem 12.4rem;
		}
	}
	// .template--homepage-homepage {
	//   .top-banner {
	//     .banner__media-column {
	//       background: url("/assets/img/swirls/top-banner-white-swirl.png") no-repeat 0% 50%;
	//       background-size: contain;
	//     }
	//   }
	// }
	.top-banner {
		.banner__media-column {
			background: url("/assets/img/swirls/top-banner-cream-big.png") no-repeat 0% 50%;
			background-size: contain;
		}
	}
}

@media screen and (max-width: 1199px) {
	.top-banner {
		&__text-content--heading {
			font-size: 3.4rem;
		}
	}
}

@media screen and (max-width: 1100px) {
	.top-banner {
		&__text-content--heading {
			font-size: 3rem;
		}
	}
}

@media screen and (max-width: 1024px) {
	.template--homepage-homepage {
		.top-banner {
			.inner-wrapper {
				padding-left: 1rem;
				background-color: transparent;
			}
		}
	}
	.top-banner {
		.inner-wrapper {
			padding-left: 1rem;
			background-color: $general-background-colour;
		}

		margin-bottom: 1rem;

		.banner__media-column {
			grid-column: 1;
			grid-row: 1;
		}

		&__text-content {
			grid-row: 2;
			grid-column: 1;
			padding: 7rem 4rem;
			display: grid;
		}

		&__text-content--heading {
			font-size: 3.6rem;
			line-height: 1.11;
		}

		.banner__text-column {
			margin-top: 0;
		}
	}
}

@media screen and (max-width: 575px) {
	.top-banner {
		&__text-content {
			padding: 4.5rem 4rem;
		}

		&__text-content--summary {
			p {
				line-height: 1.56;
				font-size: 1.8rem;
			}

			line-height: 1.56;
		}

		&__text-content--cta {
			display: inline-flex;
			justify-content: center;
		}
	}
}
