{% import '_macros/' as macros %}
{% set heroBanner = entry.heroBanner.all() %}

{% if heroBanner %}

	{% for heroBlock in heroBanner %}
		{% if heroBlock.type == "heroContent" %}
			<section class="hero-banner">
				{% set heroMainHeading = heroBlock.heading %}
				{% set heroSubHeading = heroBlock.subHeading %}
				{% set heroIcon = heroBlock.heroIcon.one() %}
				{% set ctaButton = heroBlock.ctaButton %}
				{% set additionalLink = heroBlock.additionalLink %}
				{% set heroImage = heroBlock.image.one() %}
				<div class="hero-banner__swirl-holder"></div>
				<section class="grid hero-banner__top-content">
					{% if heroIcon is defined and heroIcon %}
						{{ macros.thumbnail({
                        image: heroIcon,
                        imagerSettings: {
                            width: 79,
                        },
                        altTag: image.title is defined and image.title ? image.title : 'hero bottom image',
                        additionalClasses: 'hero-banner__icon',
                    }) }}
					{% endif %}
					{% if  heroMainHeading is defined and heroMainHeading %}
						<h2 class="hero-banner__main-heading">
							{{ heroMainHeading }}
						</h2>
					{% endif %}
					{% if heroSubHeading is defined and heroSubHeading %}
						<div class="hero-banner__sub-heading">
							{{ heroSubHeading }}
						</div>
					{% endif %}
					{% if ctaButton is defined and ctaButton.url %}
						<a href="{{ctaButton.url}}" class="button hero-banner__cta-button">{{ ctaButton.text }}</a>
					{% endif %}
					{% if additionalLink is defined and additionalLink.url %}
						<a href="{{additionalLink.url}}" class="hero-banner__additional-link">{{ additionalLink.text }}</a>
					{% endif %}

				</section>
				{% if heroImage is defined and heroImage %}
					<div class="hero-banner__gradient-holder">
						<figure class="hero-banner__hero-image" style="height: 100vh;{{ macros.thumbnail({ image: heroImage, imagerSettings: { width: 1600, }, outputAsBackgroundImage: true, altTag: image.title is defined and image.title ? image.title : 'hero bottom image', additionalClasses: 'hero-banner__bottom-image', }) }}"></figure>						
					</div>
				{% endif %}
			</section>
		{% endif %}
	{% endfor %}
{% endif %}
