// grey scale
$pepper:        #737373;
$grey:          #cecece;
$soap:          #f0f1f2;
$vanilla:       #fafafa;
$silver:        #ccd6db;
$dark-teal:     #003349;
$dusty-orange-two: #f18a2d;
$aqua-marine:   #2cd5c4;
$dark-pink:     #c02e4c;
$metallic-blue: #4c707f;
$icy-blue:      #f7f9f9;
$light-teal:    #6be1d5;
$pale-grey:     #e0e6e9;

// project specific colors
$primary:       $dark-teal;
$secondary:     $aqua-marine;
$primary-effect-colour:   #f68d2e;
$secondary-effect-colour:  #e0e721;
$third-effect-colour:  #f9b87c;
$white:  #fff;
$general-background-colour: $icy-blue;
$box-border-colour: #ccd6db;
$button-background-colour-on-hover: $light-teal;
$general-background-colour-on-hover: #99adb6;
$disabled-secodary-colour: #d3f3ef;
// warning messages
$success:       #2cd5c4;
$info:          #00bfe9;
$warning:       #f69900;
$danger:        #ff635c;
$footer-background: #eef7fd;
// components
$color-border:  $grey;
$dropdown-background-color: #D6DEE2;