.grid {
    display: grid;
  }
  .grid-3-column {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "article article article";
    // grid-gap: 2.4rem;
    .card{
      display: -ms-grid;
      -ms-grid-rows: 260px 1fr;
      &__image-wrap{
        max-width: 450px;
        img{
          margin: 0 auto;
          display: block;
        }
  
      }
      &__image-wrap,.video-section{
        -ms-grid-column: 1;
        -ms-grid-row: 1;
  
      }
      &__body{
          -ms-grid-column: 1;
        -ms-grid-row: 2;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .grid-3-column-mobile {
      grid-template-columns: 1fr;
      grid-template-areas: "article";
    }
  }
 