// @keyframes slide {
//     100% { right: 0; }
// }
.site-header {
	// display: flex;
	// grid-template-columns: 1fr 2fr 1fr;
	// padding: 2rem 0 0;
	.logo-desktop{
		max-width: 244px;
	}
	.logo-mobile{
		max-width: 77px;
	}
	.top-section {
		display: flex;
		justify-content: space-between;
	}
	.navbar-toggler {
		display: none;
	}
	.top-header-logo {
		.logo-mobile {
			display: none;
		}
		padding-left: 3rem;
		padding-top: 2rem;
	}
	.yod-title {
		grid-column: 3;
		grid-row: 1;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin: 0;
		span {
			padding: 1rem 3rem 1rem 6rem;
			border-bottom-left-radius: 100px;
			background-color: $box-border-colour;
			// max-width: 385px;
			font-weight: 500;
		}
	}
	.top-header-info {
		#search-toggle {
			border-left: 1px solid $box-border-colour;
			padding-left: 2rem;
			border: 0;
			background-color: transparent;
		}
		.icon-link,
		#search-toggle {
			padding-right: 2rem;
		}
	}
	.icon-text {
		font-size: 1.6rem;
		line-height: 1.5;
		color: $primary;
		padding: 0 0 0 0.6rem;
		font-weight: bold;
	}

	.top-icons {
		display: flex;
		position: relative;
		align-items: center;
		justify-content: flex-end;
		padding: 2rem 0 1.5rem;
	}
	.search-toggle {
		transition: all 0.5s linear;
	}
	.search-form {
		opacity: 0;
		overflow-x: hidden;
		width: 1px;
		height: 40px;
		transition: all 0.75s ease;
		display: flex;
		align-items: center;

		&__submit {
			background-color: $secondary;
			border: 0;
			font-size: 14px;
			line-height: 1.71;
			padding: 0.55rem 1.3rem;
			height: 40px;
		}
		&__input {
			border: 1px solid $primary;
			margin: 0 1rem;
			padding: 0.4rem 1.3rem;
			font-size: 15px;
			height: 40px;
            &:focus {
                outline-color: $dark-teal;
            }
		}
	}
	.close-search,
	.close-menu {
		width: 14px;
		height: 14px;
		cursor: pointer;
		display: inline-block;
		margin: 1.5rem 2rem;
		transition: all 0.75s ease;
	}
	.close-search{
		background: url("/assets/img/icons/close-icon.png") no-repeat center center;
		background-size: 14px 14px;
		width: 28px;
		height: 28px;
	}
	.search-form.toggle-search {
		opacity: 1;
		width: 370px;
		height: 40px;
		transition: all 0.75s ease;
		overflow: hidden;
	}
	.hide-search-text {
		display: none;
	}

	.mainnav {
		grid-column: span 6;
	}
}
@media (max-width: 1200px) {
	.site-header {
		// grid-template-columns: 1fr 2fr 2fr ;
		.top-header-info {
			.icon-text {
				font-size: 1.4rem;
			}
			#search-toggle {
				padding-left: 0.6rem;
			}
			.icon-link,
			#search-toggle {
				padding-right: 0.6rem;
			}
		}
	}
}
.top-icons.mobile-only {
	display: none;
}
@media (max-width: 991px) {
	.site-header {
		border-bottom: 1px solid $box-border-colour;
		.top-header-logo {
			.logo-mobile {
				display: block;
			}
			.logo-desktop {
				display: none;
			}
		}
	}
	.navbar-collapse.collapse.show {
		.navbar-nav {
			.nav-item {
				&:first-child {
					.nav-link {
						border-bottom: 0;
					}
				}
			}
			.nav-link {
				&:hover {
					border-bottom: 0;
				}
			}
		}
	}
	.top-icons.mobile-only {
		display: block;
		background-color: $primary;
		padding: 0;
		.search-form {
			width: 100%;
			opacity: 1;
			padding: 1.6rem;
			height: inherit;
			transform: unset;
			&__input {
				width: 100%;
				margin: 0;
				border: 0;
			}
			.close-search {
				display: none;
			}
		}
	}
	.top-icons.mobile-only.icons {
		margin-left: 2.8rem;
		margin-right: 2.8rem;
		background-color: $white;
		padding-top: 1.6rem;
		margin-top: 1.4rem;
		margin-bottom: 2.4rem;
		border-top: 1px solid transparentize($primary, 0.8);
		.icon-link {
			display: block;
			&:first-child {
				margin-bottom: 1.6rem;
			}
		}
	}
	.site-header {
		.navbar-toggler {
			display: grid;
			&:focus {
				outline: none;
			}
			.navbar-toggler-icon {
				width: 18px;
				height: 3px;
				background-color: $primary;
				display: block;
				margin: 0.15rem auto;
			}
			.navbar-toggler-text {
				font-size: 12px;
				line-height: 1.33;
				margin-top: 5px;
			}
			.close-menu {
				margin: 0 1rem 0.4rem;
			}
		}
		.navbar-toggler[aria-expanded="true"] {
			.navbar-toggler-icon {
				display: none;
			}
		}
		.navbar-toggler.collapsed {
			.close-menu {
				display: none;
			}
		}
		.icon-link,
		#search-toggle {
			display: none;
		}
	}
}
@media (max-width: 576px) {
	.site-header {
		// grid-template-columns: 1fr  1fr ;
		.main-logo {
			img {
				max-width: 130px;
				margin-top: 1rem;
			}
		}
		.yod-title {
			span {
				font-size: 12px;
				padding: 1rem 1rem 1rem 1.8rem;
			}
		}
		.top-header-info {
			.close-search {
				margin: 1.5rem 1rem;
			}
			.toggle-search {
				padding-right: 0;
			}
			.search-form__input {
				padding: 0.4rem 0.3rem;
			}
		}
	}
}
@media (max-width: 400px) {
	.site-header {
		.top-header-info {
			#search-toggle {
				img {
					width: 35px;
				}
				.search-icon-text {
					display: none;
				}
			}
			.close-search {
				margin: 1.5rem 0.4rem;
			}
			.toggle-search {
				padding-right: 0;
			}
			.search-form {
				&__input {
					padding: 0.4rem 0.1rem;
					width: 70%;
				}
				&__submit {
					font-size: 12px;
					padding: 0.55rem 0.3rem;
				}
			}
			.search-form.toggle-search {
				width: 270px;
			}
		}
	}
}
