// BS-Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

// Override the BS defaults here

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1292px
);


$grid-breakpoints: (
 xs: 0,
 sm: 576px,
 md: 768px,
 lg: 992px,
 xl: 1366px,
 xxl: 1500px,
);
$grid-gutter-width: 24px;
$grid-gutter-half: ($grid-gutter-width / 2);