// // Override BS defaults for Font, line-height, and color for body text, headings, and more here:
// $font-family-sans-serif:      "interstate", "Helvetica Neue", Arial, sans-serif;
// $headings-font-family:        "handOfSean", sans-serif;
// // $font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
// $font-family-base:            $font-family-sans-serif;

$font-size-base:                 1.6rem; // Assumes the browser default, typically `16px`
// $font-size-lg:                ($font-size-base * 1.25);
// $font-size-sm:                ($font-size-base * .875);

// $font-weight-light:           300;
// $font-weight-normal:          400;
// $font-weight-bold:            700;

// $font-weight-base:            $font-weight-normal;
// $line-height-base:            1.5;

//Custom Variables for typography
$typography_min_width: map-get($grid-breakpoints, sm);
$typography_max_width: map-get($grid-breakpoints, xl);

// BS Headings Font Sizes:
// $h1-font-size:                $font-size-base * 2.8;
// $h2-font-size:                $font-size-base * 2;
// $h3-font-size:                $font-size-base * 1.625;
// $h4-font-size:                $font-size-base * 1.25;
// $h5-font-size:                $font-size-base * 1.25;
// $h6-font-size:                $font-size-base;

//Fluid Typography - adapated from https://css-tricks.com/snippets/css/fluid-typography/
//the widths to shrink/grow between default to Bootstrap SM and LG
//Set min (mobile - bs-sm) and max (desktop bs-xl) font-sizes/line-heights like the below:
$h1: (
  font-size-dt: 48px,
  font-size-mobile: 32px,
  line-height-dt: 56px,
  line-height-mobile: 40px
);
$h2: (
  font-size-dt: 32px,
  font-size-mobile: 24px,
  line-height-dt: 40px,
  line-height-mobile: 32px
);
$h3: (
  font-size-dt: 24px,
  font-size-mobile: 20px,
  line-height-dt: 32px,
  line-height-mobile: 24px
);
$h4: (
  font-size-dt: 15px,
  font-size-mobile: 16px,
  line-height-dt: 24px,
  line-height-mobile: 20px
);
$lead-text: (
  font-size-dt: 20px,
  font-size-mobile: 16px,
  line-height-dt: 30px,
  line-height-mobile: 24px
);

$body: (
  font-size-dt: 16px,
  font-size-mobile: 14px,
  line-height-dt: 24px,
  line-height-mobile: 20px
);

$anchorLinks: (
  font-size-dt: 20px,
  font-size-mobile: 16px,
  line-height-dt: 30px,
  line-height-mobile: 20px
);