{% extends '_layouts/default' %}

{% header "X-Robots-Tag: none" %}

{# {% block header %}
	
{% endblock %} #}

{% block body %}
	<main id="main">
		<div class="account-wrap">
			<header class="account-header">
				<img src="/assets/img/svg/dementia-australia-logo.svg" alt="Dementia Australia Logo" class="da-logo">
			</header>
			<section class="account-lead">
				{% block lead %}{% endblock %}
			</section>

			{% block form %}{% endblock %}
		</div>
	</main>
{% endblock %}

{# {% block footer %}
	{% include '_elements/footer' ignore missing %}
{% endblock %} #}
