{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

{% extends '_layouts/bootstrap/base' %}

{% block css %}
	{{ parent() }}
{% endblock %}

{% block header %}
	<header class="site-header">
		{% block topHeader %}
			<div class="top-section">
				{% include '_elements/header-logo' %}
				{% include '_elements/header-top-icons'  %}
			</div>
		{% endblock %}
		<div class="mainnav">
			{# main nav #}
			{% block nav %}
				{% include '_elements/top-nav' ignore missing %}
			{% endblock %}
		</div>
	</header>
{% endblock %}

{% block body %}
	{% block breadcrumb %}{% endblock %}
	{% block topBanner %}
		{% include "_elements/topBanner" %}
	{% endblock %}
	{% block content %}
		<main id="main">
			{% block beforeContent %}{% endblock %}

			{% set mainContent = null %}
			{% set secondaryContent = null %}

			{% if entry is defined and entry and entry['body'] is defined and entry.body %}
				{% for childBlock in entry.body.level(1).all() %}
					{% if childBlock.type == 'mainContent' %}
						{% set mainContent = childBlock %}
					{% elseif childBlock.type == 'secondaryContent' %}
						{% set secondaryContent = childBlock %}
					{% endif %}
				{% endfor %}
			{% endif %}

			<div class="body-boxed{{ mainContent ? '' : ' no-boxed-section' }}">

				<div class="body-boxed__container container">
					<div class="body-boxed__row">
						{% block boxed %}
							{% if mainContent %}
								{% block beforeBoxed %}{% endblock %}
								{% block sidebar %}{% endblock %}
								<article class="neo-main-content">
									<div class="neo-main-content__content">{% block pageHeadingInsideBoxSection %}{% endblock %}
										{% include "_content-blocks/partials/neo_child_block" with {blockSet: mainContent.children, scope: ['mainContent']} %}
										{% block afterBoxedArticle %}{% endblock %}
									</div>
								</article>
							{% endif %}
						{% endblock %}
					</div>
				</div>
			</div>

			<div class="body-full-width neo-secondary-content">
				{% block beforeFullWidthBody %}{% endblock %}
				{% block fullWidthBody %}
					{% if secondaryContent %}
						{% include "_content-blocks/partials/neo_child_block" with {blockSet: secondaryContent.children, scope: ['secondaryContent']} %}
					{% endif %}
				{% endblock %}

				{% block fullWidthBodyBottom %}{% endblock %}
			</div>

			{% block afterContent %}{# Mainly for donation campaign page to extend (for step 2 content) #}{% endblock %}
		</main>
	{% endblock %}
{% endblock %}

{% block footer %}
	{% include '_elements/footer' ignore missing %}
{% endblock %}

{% block customJsFooter %}
	{{ parent() }}
	{# Our custom JS scripts... #}
{% endblock %}
