<div class="popup {% block popupCustomClasses %}{% endblock %}" id="{% block popupId %}{% endblock %}" role="dialog" aria-labelledby="popup-label" aria-modal="true">
	<div class="popup__blocker js-popup-close"></div>
	<div class="account-wrap popup__content-wrap">
		{% block popupHeader %}
			<header class="popup-header account-header">
				{% block popupHeaderLogo %}<img src="/assets/img/svg/dementia-australia-logo.svg" alt="Dementia Australia Logo" class="da-logo">
				{% endblock %}

				<a role="button" tabindex="0" class="popup-close js-popup-close">
					<span class="popup-close__text">Close</span>
					<span class="sr-only">Popup</span>
					<span class="popup-close__icon"></span>

				</a>
			</header>
		{% endblock %}

		{% block popupLead %}{% endblock %}

		{% block popupBody %}{% endblock %}

		{% block popupFooter %}{% endblock %}
	</div>
</div>
