<section class="questionnaire-step"
		 v-for="step in info.questionnaire.steps"
		 :id="'step' + step.stepId"
		 :data-stepid="step.stepId"
		 v-show="viewingStep == step.stepId"
		 :class="highlightedUnansweredSteps.indexOf(step.stepId) !== -1 ? 'highlight-unanswered' : null"
>
	<section class="goal-analysis-group" :class="sectionHandle" v-for="questionSection, sectionHandle in getGoalsAnalysisQuestionnaire(step.stepId).topic.questions">
		<header class="section-heading" v-if="sectionHandle == 'needs'">
			<h2 tabindex="0">Needs</h2>
			{# <p class="lead-text"
				v-if="step.stepId != 9"
			>
			When responding to these questions/statements, we ask that you think about your abilities and how they change from day to day. Answering in a manner that takes into account your best and worst days will ensure your plan adequately meets your needs.
			</p> #}
		</header>

		<header class="section-heading" v-else-if="sectionHandle == 'personalImportance'">
			<hr class="section-heading__divider divider divider--bold">
			<h2 tabindex="0">Personal Importance</h2>
		</header>
		
<fieldset class="form-group goals-analysis-question" 
			role="radiogroup" 
			:aria-labelledby="'label' + step.stepId + '-' + sectionHandle + question.id"
			 v-for="(question, index) in getGoalsAnalysisQuestionnaire(step.stepId).topic.questions[sectionHandle]"
			 :id="'goals-analysis-question-' + question.id"
			 :class="validateGoalsAnalysisSingleQuestion(step.stepId, question.id) ? 'answered' : 'unanswered'"
		>
<legend 
	:id="'label' + step.stepId + '-' + sectionHandle + question.id" 
	class="field-label" 
	:for="'step' + step.stepId + '-' + sectionHandle + question.id" 
	tabindex="0"
>{* question.title *}<span aria-hidden="true" class="asterisk">*</span><span class="sr-only">(This field is required)</span>
</legend>
	<div 
		class="unanswered-help-text" 
		v-if="highlightedUnansweredSteps.indexOf(step.stepId) !== -1 && !validateGoalsAnalysisSingleQuestion(step.stepId, question.id)" 
		aria-label="This question has not been answered yet."
	>
		<img src="/assets/img/svg/ic-warning.svg" aria-hidden alt="">
		<span>Unanswered</span>
	</div>

				<div class="question goals-analysis-question-option custom-control custom-radio"
				 v-for="scoreDefinition in info.questionnaire.scoreDefinitions[sectionHandle]"
			>
				<input class="form-check-input form-input custom-control-input" type="radio" required
					   :name="'goalsAnalysisAnswers[' + step.stepId + '][' + question.id + ']'" 
					   :id="'step' + step.stepId + '-' + sectionHandle + question.id +  '-score-' + scoreDefinition.score" 
					   :value="scoreDefinition.score"
					   v-model="formInputs.goalsAnalysis.answers[question.id]"
					   {# checked #}
				>
				<label class="form-check-label custom-control-label" 
						:for="'step' + step.stepId + '-' + sectionHandle + question.id + '-score-' + scoreDefinition.score"
				>
				{* scoreDefinition.title *}
				</label>
			</div>
		</fieldset>
	</section>

	<section class="goals-help-section suggest-goals-again" v-if="goalsAnalysisAnswersHaveChanged[step.stepId]">
		<img src="/assets/img/svg/ic-alert.svg" alt="">
		<h2 tabindex="0">You’ve changed your answers</h2>
		<p>Suggested goals may have changed based on your new answers.</p>
		<button class="button button-planning button-secondary" type="button"
		@click="suggestGoals(step.stepId)"
		:disabled="!validateGoalsAnalysisQuestions(step.stepId)"
	>Suggest goals based on my answers again</button>
	</section>

	<section class="goals">
		<header class="section-heading">
			<hr class="section-heading__divider divider divider--bold">
			<h2 tabindex="0">{* step.topic.title *} goals</h2>
		</header>

		<div class="goals-help-section unfinished-answers-help-text" v-if="!validateGoalsAnalysisQuestions(step.stepId)">
			<img src="/assets/img/svg/ic-alert.svg" alt="">
			<h2 tabindex="0">You have unanswered questions</h2>
			<p>Click <a class="text-link" tabindex="0" v-on:click="jumpToFirstUnansweredQuestion(step.stepId)">here</a> to jump to the unanswered questions</p>
		</div>

		<p class="lead-text" v-if="!hasGoals(step.stepId)">Once you have completed all the questions, click the button below and we will suggest goals based on your above answers.</p>

		<button class="button button-planning button-primary suggest-goal-button" type="button"
			@click="suggestGoals(step.stepId)"
			:disabled="!validateGoalsAnalysisQuestions(step.stepId)"
			v-if="!hasGoals(step.stepId)"
			{# aria-controls="'goals-ranking-step-' + step.stepId" #}
		>Suggest goals based on my answers</button>


		<div class="goals-ranking" v-if="sortedRankingList[step.stepId].length" :id="'goals-ranking-step-' + step.stepId">
			<p class="lead-text">Below are suggested goals based on your responses to the questions/statements above. You can change the ranking of goals by selecting a different number, remove goals altogether, add notes and write your own goals in the section provided.</p>
			<p class="lead-text">When editing your goals, think about what is most important to you and your quality of life.</p>

			<transition-group name="flip-list" tag="div">

				<div class="goal"
					v-for="goal in sortedRankingList[step.stepId]"
					v-bind:key="goal.id"
				>

					<div class="goal-toggle-wrap">
						<div class="goal-toggle"
							@click="toggleGoal(goal.id, step.stepId, $event)"
							@keyup.enter="toggleGoal(goal.id, step.stepId, $event)"
							@keyup.space="toggleGoal(goal.id, step.stepId, $event)"
							:class="{
								checked: formInputs.goalsAnalysis.goals[goal.id].rank !== -1,
							}"
							role="checkbox"
							tabindex="0" 
							:aria-checked="formInputs.goalsAnalysis.goals[goal.id].rank !== -1 ? 'true' : 'false'"
							aria-description="Toggle this goal to make it relevant or irrelevant to you"
							:aria-labelledby="'goal-label-' + goal.id"
						></div>
					    {# <input type="checkbox" class="goal-toggle"
							@change="toggleGoal(goal.id, step.stepId, $event)"
							:checked="formInputs.goalsAnalysis.goals[goal.id].rank !== -1"
					    > #}
					</div>

					<div class="goal-body">
						<p aria-hidden="true" class="lead-text goal-title"
							:id="'goal-label-' + goal.id"
						>{* goal.title *}</p>

						{# Show the rank dropdown when this goal is active #}
						<div class="rank-input-group" 
							v-if="formInputs.goalsAnalysis.goals[goal.id].rank !== -1"
						>
							<label :for="'goal-ranking-' + goal.id">Rank
								<span class="sr-only"> this goal in order of importance.</span>
								<span aria-hidden="true" class="asterisk">*</span><span class="sr-only">(This field is required)</span>
							</label>
							<select 
								:name="'goalsRanking[' + step.stepId + '][' + goal.id + '][rank]'" 
								:id="'goal-ranking-' + goal.id"
								v-model="formInputs.goalsAnalysis.goals[goal.id].rank"
								{# @change="goalRankingUpdated(goal.id, step.stepId, $event)" #}
							>
								<option 
									v-for="rankedGoal in activeRankingList[step.stepId]"
									:value="rankedGoal.rank"
								>{* rankedGoal.rank *}</option>
							</select>
						</div>

						{# else, put a hidden input instead, and assign the value "-1" to it #}
						<input type="hidden"
							v-else
							:name="'goalsRanking[' + step.stepId + '][' + goal.id + '][rank]'"
							value="-1"
						>

						<div class="form-group goal-notes-input-group">
							<label :for="'goal-notes-' + goal.id">Notes<span class="text-optional">(Optional)</span></label>
							<textarea class="goal-notes form-control form-input"
								:name="'goalsRanking[' + step.stepId + '][' + goal.id + '][notes]'" 
								:id="'goal-notes-' + goal.id" 
								v-model="formInputs.goalsAnalysis.goals[goal.id].notes"
								rows="6"
							></textarea>
						</div>
					</div>

				</div>

			</transition-group>

			<div class="goal goal-optional">
				<div class="goal-body">

					<div class="form-group goal-notes-input-group">
						<label class="lead-text goal-title" :for="'goal-notes-optional-' + step.topic.id">Write your own <span class="lowercase">{* step.topic.title *}</span> goals<span class="text-optional">(Optional)</span></label>
						<textarea class="goal-notes form-control form-input"
							:name="'optionalGoal[' + step.stepId + '][' + step.topic.id + ']'" 
							:id="'goal-notes-optional-' + step.topic.id" 
							v-model="formInputs.optionalGoals[step.topic.id]"
							rows="6"
						></textarea>
					</div>
				</div>
			</div>
		</div>
	</section>

</section>