<section class="questionnaire-step" id="step2" data-stepid="2" v-show="viewingStep == 2">
	{% for row in craft.yodhubPlanning.getStep2EverydayFieldSettings() %}
		<div class="step2-form-section">
			{% if row.fields is defined %}
				<h3 class="step2-form-heading">{{ row.heading }}</h3>
				<div class="step2-form-row">
					{% for field in row.fields %}
						<div class="form-group">
							<label class="field-label" for="questionnaire-general-{{ field.handle }}">{{ field.label }}
								{%- if field.required -%}
									<span aria-hidden="true" class="asterisk">*</span><span class="sr-only">(This field is required)</span>
								{%- endif -%}
								{% if field.instructions is defined and field.instructions %}
									<small class="form-text">{{ field.instructions | raw }}</small>
								{% endif %}
							</label>
							<textarea class="form-control form-input" rows="10" name="general[2][{{ field.handle }}]"
								{{- field.required ? ' required ' : ' ' -}}
								id="questionnaire-general-{{ field.handle }}"
								v-model="formInputs.general.{{ field.handle }}"
							></textarea>
						</div>
					{% endfor %}
				</div>
				{% if row.group is defined and row.group %}
					<button class="copy-activity" type="button" @click="copyActivities('{{ row.group }}')"><img src="/assets/img/svg/ic-copy-activities.svg" alt=""><span>Copy these activities to other day(s)</span></button>
				{% endif %}
				
			{% else %}
				<h3 class="step2-form-heading">{{ row.label }}</h3>
				<div class="step2-form-row">
					<div class="form-group alone">
						<label class="field-label" for="questionnaire-general-{{ row.handle }}">{{ row.label }}
							{%- if row.required -%}
								<span aria-hidden="true" class="asterisk">*</span><span class="sr-only">(This field is required)</span>
							{%- endif -%}
						</label>
						{% if row.instructions is defined and row.instructions %}
							<small class="form-text">{{ row.instructions | raw }}</small>
						{% endif %}
						<textarea class="form-control form-input" rows="10" name="general[2][{{ row.handle }}]"
							{{- row.required ? ' required ' : ' ' -}}
							id="questionnaire-general-{{ row.handle }}"
							v-model="formInputs.general.{{ row.handle }}"
						></textarea>
					</div>
				</div>
			{% endif %}
		</div>
	{% endfor %}

	<div class="modal fade" id="activities-days-selector-modal" tabindex="-1" role="dialog" aria-labelledby="activities-days-selector-label" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
			    <h3 class="modal-title" id="activities-days-selector-label">Select day(s)</h3>
			    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			      <span aria-hidden="true">&times;</span>
			    </button>
			  </div>
			  <div class="modal-body">
			  	<div class="select-deselect">
			  		<button type="button" class="button button-planning button-secondary" @click="selectAllDays">Select all</button>
			  		<button type="button" class="button button-planning button-secondary" @click="deselectAllDays">Deselect all</button>
			  	</div>
			  	
			    {% for day in craft.yodhubPlanning.getStep2EverydayFieldSettings() if day.group is defined %}
			    	<div class="activities-days-selector-option">
						<input type="checkbox" id="days-selector-{{ day.group }}" value="{{ day.group }}" v-model="daysSelector">
				  		<label class="field-label" for="days-selector-{{ day.group }}">{{ day.heading }}</label>
			  		</div>
				{% endfor %}
			  </div>
			  <div class="modal-footer">
		        <button type="button" class="button button-planning button-secondary" data-dismiss="modal">Cancel</button>
		        <button type="button" class="button button-planning button-primary" @click="applyCopyActivities">Apply</button>
		      </div>
			</div>
		</div>
	</div>
	
</section>

