<section class="questionnaire-step" id="step1" data-stepid="1" v-show="viewingStep == 1">
	{% for field in craft.yodhubPlanning.getStep1FieldSettings() %}
		<div class="form-group">
			<label class="field-label" for="questionnaire-general-{{ field.handle }}">{{ field.label }}
				{%- if field.required -%}
					<span aria-hidden="true" class="asterisk">*</span><span class="sr-only">(This field is required)</span>
				{%- endif -%}
				{% if field.instructions %}
					<small class="form-text">{{ field.instructions | raw }}</small>
				{% endif %}
			</label>
			<textarea class="form-control form-input" rows="10" name="general[1][{{ field.handle }}]"
				{{- field.required ? ' required ' : ' ' -}}
				{# :value="info.plan ? info.plan.generalQuestionAnswers.informalSupports : null" #}
				id="questionnaire-general-{{ field.handle }}"
				v-model="formInputs.general.{{ field.handle }}"
			></textarea>
			<ul class="field-errors" v-if="fieldHasError('{{ field.handle }}')">
				<li class="field-error" v-for="error in fieldErrors.{{ field.handle }}">{* error *}</li>
			</ul>
		</div>
	{% endfor %}

</section>