<style>
	html {
		color: #003349;
	}

	h1 {
		font-size: 70px;
		color: #003349;
		font-weight: bold;
		line-height: 1.15;
		margin-top: 15px;
	}

	h2 {
		font-size: 30px;
		color: #003349;
		margin-top: 15px;
		font-weight: bold;
	}

	h3 {
		font-size: 28px;
		color: #003349;
		margin-top: 15px;
		font-weight: bold;
	}

	h4 {
		font-size: 20px;
		margin-top: 15px;
		margin-bottom: 5px;
		color: #003349;
		font-weight: bold;
	}

	p {
		font-size: 12px;
		margin-top: 0;
		padding-top: 0;
		color: #003349;
	}

	.leadtext {
		font-size: 14px;
		font-weight: bold;
		color: #003349;
	}

	.leadtext-lg {
		font-size: 16px;
		font-weight: bold;
		color: #003349;
	}

	.colorRed {
		color: #c02e4c;
	}

	table {
		width: 100%;
		margin-top: 5px;
	}

	table p {
		padding-bottom: 15px;
	}

	table,
	tr,
	td {
		padding: 0;
		margin: 0;
	}

	table {
		border-spacing: 0;
		border-collapse: collapse;
	}

	td {
		border-spacing: 0;
		color: #003349;
	}

	th {
		color: #003349;
	}

	.marginTop {
		margin-top: 15px;
	}

	hr {
		background-color: #ccd6db;
		margin: 13px 0 0;
		padding: 0;
		page-break-before: avoid;
	}
</style>

<html>
	<div class="firstpage">
		<div align="right"><img src="/assets/img/svg/dementia-australia-logo.svg"></div>
		<br>
		<br>
		<br>
		<h1>Prepare for your National Disability
			        Insurance Scheme
			        (NDIS) Planning meeting</h1>
		<h2>Your plan</h2>
	</div>
	<pagebreak resetpagenum="1"></pagebreak>
	<div class="report">
		<htmlpagefooter name="pdfFooter">
			<div align="right">
				<div style="width:70%; float:right;text-align: right; border-top:2px solid #003349;padding-top: 6px;">
					<a href="https://yod.dementia.org.au/planning/dashboard">Edit your plan here</a>
					&nbsp;&nbsp;&nbsp;<span class="leadtext">{PAGENO}</span>
				</div>
			</div>
		</htmlpagefooter>
		<sethtmlpagefooter name="pdfFooter" value="on"/>
		<h3>{{ steps[1]['title'] }}</h3>
		<p class="leadtext">{{ steps[1]['resultSummary']|striptags }}</p>
		{% for step1each in step1 %}
			<p>
				<span class="leadtext">{{ step1each.label|striptags }}</span>
			</p>
			<p>{{ step1each.value|striptags }}</p>
			<br>
		{% endfor %}
		<pagebreak></pagebreak>
		<h3>{{ steps[2]['title'] }}</h3>
		<p class="leadtext">{{ steps[2]['resultSummary']|striptags }}</p>
		{% for step2each in step2 %}
			{% if step2each.heading is defined %}
				<h4>{{ step2each.heading }}</h4>
			{% else %}
				<h4>Occassional activities</h4>
				<p>{{ step2each.value }}</p>
			{% endif %}
			{% if step2each[0] is defined or step2each[1] is defined %}
				<table style="padding: 0; margin: 0;" border="0">
					<tr>
						{% if step2each[0] is defined %}
							<td colspan="0" rowspan="0" width="47%" style="vertical-align:top; border-bottom: 2px solid #ccd6db; padding-bottom: 13px;">
								<p class="leadtext">{{ step2each[0].label }}</p>
								<p>&nbsp;</p>
								<p>{{ step2each[0].value | striptags }}</p>
							</td>
						{% endif %}
						<td colspan="0" rowspan="0" width="6%" style="border-bottom: 2px solid #ccd6db;padding-bottom: 13px;"></td>
						{% if step2each[1] is defined %}
							<td colspan="0" rowspan="0" width="47%" style="vertical-align:top;border-bottom: 2px solid #ccd6db;padding-bottom: 13px;">
								<p class="leadtext">{{ step2each[1].label }}</p>
								<p>&nbsp;</p>
								<p>{{ step2each[1].value | striptags }}</p>
							</td>
						{% endif %}
					</tr>
				</table>
			{% endif %}
		{% endfor %}
		<pagebreak></pagebreak>
		{% for step, analysisanswer in goalsAnalysisAnswers %}
			<h3>{{ steps[step]['title'] }}</h3>
			<p class="leadtext-lg">{{ steps[step]['resultSummary']|striptags }}</p>
			{% for answerKey, answer in analysisanswer['answers'] %}
				<table>
					<tr>
						<th width="40%" valign="top" align="left" class="leadtext" style="border-bottom: 2px solid #ccd6db; font-size: 16px; padding-bottom: 10px;">{{ answerKey }}</th>
						{% for definition in definitions[answerKey] %}
							<th width="12%" align="center" valign="top" class="leadtext" style="border-bottom: 2px solid #ccd6db;padding-bottom: 10px;">{{ definition }}</th>
						{% endfor %}
					</tr>
					{% for eachA in answer %}
						<tr>
							<td align="left" style="padding: 5px 0;">{{ eachA['title'] }}</td>
							{% for definition in definitions[answerKey] %}
								{% if eachA['value'] == definition %}
									<td align="center" style="padding: 10px 0;"><img src="/assets/img/icons/radio-checked.png" width="20px"></td>
								{% else %}
									<td align="center" style="padding: 10px 0;"><img src="/assets/img/icons/radio-not-checked.png" width="20px"></td>
								{% endif %}
							{% endfor %}
						</tr>
					{% endfor %}
				</table>
				<br><br>
			{% endfor %}
			<p class="leadtext" style="font-size: 16px;">{{ steps[step]['title'] }}
				goals</p>
			<table>
				{% for rankingKey, ranking in analysisanswer['ranking'] %}
					<tr>
						<td style="padding-bottom: 20px;" width="5%" valign="top">{{ rankingKey + 1 }}</td>
						<td style="padding-bottom: 20px;">
							<p class="leadtext">{{ ranking.title }}</p>
							{% if ranking.note %}
								<br>
								<p>
									<strong>Notes</strong>
								</p>
								<br>
								<p>{{ ranking.note | replace("\n", "<br>") | raw }}</p>
							{% endif %}
							<br>
						</td>
					</tr>
				{% endfor %}

				{% if optionalGoals[step] is defined and optionalGoals[step] %}
					<tr>
						<td style="padding-bottom: 20px;" colspan="2">
							<p class="leadtext">Your own
								{{ steps[step]['title'] | lower }}
								goals</p>
							<br>
							<p>{{ optionalGoals[step] | replace("\n", "<br>") | raw }}</p>
						</td>
					</tr>
				{% endif %}
			</table>
			<br><br>
		{% endfor %}
	</div>
</html>
