{% extends '_layouts/bootstrap/base' %}

{% header "X-Robots-Tag: none" %}

{% do seomatic.meta.seoTitle("NDIS Planning Tool") %}

{% block css %}
	{{ parent() }}
	<link rel="stylesheet" href="/dist/styles/planning.css?20201013">
{% endblock %}

{% block bodyClass %}ndis-planning-tool{% endblock %}

{% block body %}

	<main id="main">
		{% include 'planning/_elements/planning-vue' %}
	</main>
{% endblock %}

{% block footer %}
    {% include '_elements/footer' ignore missing %}
{% endblock %}

{% block customJsFooter %}
	<script type="text/javascript">
	    var CaptchaCallback = function() {
	        window.signupFormCaptchaWidgetId = grecaptcha.render('signupFormCaptcha', {'sitekey' : {{ craft.app.config.general.reCaptchaSiteKey | json_encode | raw }}});
	        window.emailShareFormCaptchaWidgetId = grecaptcha.render('emailShareFormCaptcha', {'sitekey' : {{ craft.app.config.general.reCaptchaSiteKey | json_encode | raw }}});
	    };
	</script>
	<script src="https://www.google.com/recaptcha/api.js?onload=CaptchaCallback&render=explicit" async defer></script>

	{% if craft.app.config.general.devMode %}
	    {% do view.registerJsFile("https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js") %}
	{% else %}
	    {% do view.registerJsFile("https://cdn.jsdelivr.net/npm/vue@2.6.11") %}
	{% endif %}
	{% do view.registerJsFile("/assets/js/axios.js") %}
	{% do view.registerJsFile("/dist/scripts/planning.js?20230616") %}
	{% do view.registerJsFile("/dist/scripts/account.js?20201013") %}

{% endblock %}