{# 
Settings:
- tag: HTML tag - 'a', 'button', or 'submit' (submit will be printed as <button type="submit">); if omitted, will be 'a' by default.
- icon: null, 'arrow', 'star', 'heart', 'search', 'envelop', 'lock', etc. Determine both the icon <img> tag class and the file path. Default is null, which means no icon.
- style: define the button style. if omitted, will be primary by default. Possible value: primary, secondary, link.
- link: URL for the href attribute
- id
- text: mandantory
- additionalClasses: e.g. 'class-1 class-2 class-3'
- additionalAttributes: e.g. 'data-location="Melbourne"'
#}

{% if text is defined and text|trim %}

	{# tag #}
	{% if tag is not defined or not tag %}
		{% set tag = 'a' %}
	{% endif %}

	{% switch tag %}

		{% case "button" %}
		<button

		{% case "submit" %}
		<button type="submit"
		
		{% default %}
		<a

	{% endswitch %}

	{% set icon = icon is defined and icon ? icon : null %}
	{% set type = style | default('primary') %}
	{% set iconPosition = (icon == 'arrow') ? 'right' : 'left' %}

	{# button class #}
	class=" button button-{{ type }} {% if icon %} button-icon-position-{{ iconPosition }}{% endif %}{% if additionalClasses is defined and additionalClasses %} {{ additionalClasses }}{% endif %}"

	{# link #}
	{% if link is defined and link %}
		href="{{ link }}"
	{% endif %}

	{# id #}
	{% if id is defined and id %}
		id="{{ id }}"
	{% endif %}

	{% if tag == 'a' and target is defined and target %}
		target="{{ target }}"
	{% endif %}

	{# additional attributes #}
	{% if additionalAttributes is defined and additionalAttributes %}
		{{ additionalAttributes|raw }}
	{% endif %}
	>
		{# icon #}
		{% if icon and iconPosition == 'left' %}
			<img class="button-icon button-icon-{{ icon }}" src="/public/img/svg/ic-{{ icon }}.svg" alt="">
		{% endif %}

		{# text #}
		<span class="button-text">{{ text|trim|raw }}</span>

		{# Link type button icon #}
		{#{% if type == 'link' %}
			<i class="fas fa-chevron-right"></i>
		{% endif %}#}

		{# icon #}
		{% if icon and iconPosition == 'right' %}
			<img class="button-icon button-icon-{{ icon }}" src="/public/img/svg/ic-{{ icon }}.svg" alt="">
		{% endif %}

	{# closure of tag #}
	{% switch tag %}

		{% case "button" %}
		</button>

		{% case "submit" %}
		</button>
		
		{% default %}
		</a>

	{% endswitch %}
{% endif %}