{#
Settings:
---
Required:
- field
- videoUrl
Either field or videoUrl should be supplied, if both supplied, we will use videoUrl as default.

Optionals:
- videoTranscript (entry)
- videoHtmlTitle (string)
- params (array): video settings (varies depending on which platform this video is hosted). By default, we use YouTube's 'controls: 1, rel: 0', which can be overridden by the custom params. Only works if we pass in field instead of videoUrl (as you can directly put params in URL in videoUrl).
#}
{% import '_macros/' as macros %}
{% set videoBackgroundImage = viideoBackgroundImage %}
{% set transcriptEntry = transcriptEntry | default(null) %}
{% set videoUrl = videoUrl | default(null) %}
{% set videoUrl = craft.yump.generateValidUrl(videoUrl) %}
{% if not videoUrl and field is defined and field %}
	{% set defaultParams = {controls: 0, rel: 0, autohide:1,modestbranding:1,enablejsapi:1} %}
	{% set params = params | default({}) %}
	{# the custom params override the defaultParams #}
	{% set params = defaultParams | merge(params) %}
	{% set videoUrl = craft.videoEmbedder.getEmbedUrl(field, params) %}
{% endif %}
{% if videoUrl %}
	{% do view.registerJsFile("https://www.youtube.com/iframe_api") %}
	{% do view.registerJsFile("https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.1/lity.min.js") %}
	<a class="video" href="{{ videoUrl }}" data-lity>
		{{ macros.thumbnail({ image: videoBackgroundImage, imagerSettings: { width: 1600, },
										altTag: image.title is defined and image.title ? image.title : 'image', }) }}
	</a>
	<div class="video-transcript-button-wrapper{% if not transcriptEntry %} justify-content-center{% endif %}">
		<a class="video-transcript-button-wrapper__button" href="{{ videoUrl }}" data-lity aria-label="{{videoBackgroundImage.title}}"><span>Play Video</span>
		</a>
		{% if transcriptEntry %}
			<span class="video-inner-border"></span>
			<a class="video-transcript-link" href="{{ transcriptEntry.url }}" target="_blank">
				<span>View transcript</span>
				<img src="/assets/img/icons/right-arrow.png" alt="right arrow icon">
			</a>
		{% endif %}
	</div>
{% endif %}
