{% extends '_layouts/account' %}

{% block lead %}
	<h3>Forgot password?</h3>
	<p>Or, back to <a href="/login" class="text-link popup-go-to">Sign in</a>.</p>
{% endblock %}

{% block form %}
	<form class="account-form" method="post" accept-charset="UTF-8">
	    {{ csrfInput() }}
	    {{ actionInput('users/send-password-reset-email') }}
	    {# {{ redirectInput('login') }} #}

	    {% set flashes = craft.app.session.getFlashes() %}
		{% if flashes is not empty %}
			<section class="message-section">
				{% for key, flashMessage in flashes %}
					<p class="message {{ key == 'notice' ? 'info' : key }}">{{ flashMessage }}</p>
				{% endfor %}
			</section>
		{% endif %}

		<div class="form-group">
		    <label for="loginName">Email<span aria-hidden="true" class="asterisk">*</span><span class="sr-only">(This field is required)</span></label>
		    <input class="form-control{% if errors is defined and errors is not empty %} hasError{% endif %}" id="loginName" type="text" name="loginName"
		        value="{% if loginName is defined %}{{ loginName }}{% else %}{{ craft.app.user.rememberedUsername }}{% endif %}">

		    {% if errors is defined %}
		        <ul class="errors">
		            {% for error in errors %}
		                <li>{{ error }}</li>
		            {% endfor %}
		        </ul>
		    {% endif %}
	    </div>

	    <input class="button button-primary" type="submit" value="Submit">
	</form>
{% endblock %}