{% if currentUser is defined and currentUser %}
	{% redirect 'planning/dashboard' %}
{% endif %}

{% extends '_layouts/account' %}

{% block lead %}
	<h3>Welcome back</h3>
	<p>Don’t have a plan yet? <a href="/signup" class="text-link popup-go-to">Sign up</a>.</p>
{% endblock %}

{% block form %}
	{% include 'planning/_elements/account/login-form' with {
		redirect: 'planning/dashboard'
	} %}

	<section class="forgot-password"><a href="{{ url('forgotpassword') }}" data-goto="forgot-password" id="forgot-password-btn" class="text-link popup-go-to">Forgot password?</a></section>
{% endblock %}