{% extends "_layouts/default" %}

{% do seomatic.meta.seoTitle("Search Results") %}

{# Filtering #}
{% set pages = craft.app.request.getParam('pages') is not null ? craft.app.request.getParam('pages') : '1' %}
{% set services = craft.app.request.getParam('services') is not null ? craft.app.request.getParam('services') : '1' %}
{% set filters = {
    pages : pages,
    services: services,
} %}
{% set query = craft.app.request.getParam('q') | trim %}

{% block bodyClass %}
	{{ parent() }}
	search-results-page
{% endblock %}

{% block breadcrumb %}
	<div class="search-section">
		{% include '_elements/search-bar' ignore missing with {wrapperClass: 'search-bar--crumbs', searchQuery: query, filters: filters} %}
	</div>
	{% set custom_crumbs = {
        0:{text:'Home',url:'/'},
        1:{text:'Search results for: "'~query~'"'}
    } %}
	<nav class="crumbs-wrap">
		<div class="container">
			<ol class="breadcrumb">
				{% for crumb in custom_crumbs %}
					<li class="breadcrumb__item">
						{%- if crumb.url is defined and crumb.url -%}
							<a {% if crumb.target is defined and crumb.target %} target="{{ crumb.target }}" {% endif %} href="{{ crumb.url }}">
							{%- endif -%}
							<span>{{- crumb.text -}}</span>
							{%- if crumb.url is defined and crumb.url -%}
							</a>
						{%- endif -%}
					</li>

					{# Assuming the last item is the current entry, and shouldn't need the separator after it #}
					{% if not loop.last %}
						{# TODO: update the separator with the project-specific one #}
						<li class="breadcrumb__item--separator">
							<i class="fas fa-caret-right"></i>
						</li>
					{% endif %}

				{% endfor %}
			</ol>
		</div>
	</nav>
{% endblock %}

{# search page has its own search block built in so don't put it in the header as well #}
{% block search %}{% endblock %}

{% block content %}
	{% set limitPerPage = 12 %}
	{# {{dump(craft.entries.search('involved').all())}} #}

	{% set foundEntries = craft.yump.search(query, filters) %}
	{% set resultsCount = foundEntries ? foundEntries|length : 0 %}

	<div id="main" class="search-results-page-content {% if not resultsCount %} not-found{% endif %}">
		<div class="container">
			{# <div class="row">
												                <div class="offset-md-3 col-md-9 page-heading-section">
												                    <h1>Search results</h1>
												                </div>
												            </div> #}
			<!--  https://www.mackillop.org.au/search?query=our+services&stories=1&news=0 -->
			<div class="row search-results-page-content-body"> 
				<div class="sidebar-refine-search col-xl-3 col-md-4">
					<div class="sidebar-search-inner">
						<h3 class="sidebar-heading">Refine your search</h3>
						<div class="refine-search-controls">
							<fieldset>
								<div class="custom-control custom-checkbox form-check">
									<input class="custom-control-input form-check-input" name="pages" type="checkbox" value="pages" id="refine-search-pages" {% if filters.pages != '0' %} checked {% endif %}>
									<label class="custom-control-label form-check-label" for="refine-search-pages">Pages</label>
								</div>
								<div class="custom-control custom-checkbox form-check">
									<input class="custom-control-input form-check-input" name="services" type="checkbox" value="services" id="refine-search-services" {% if filters.services != '0' %} checked {% endif %}>
									<label class="custom-control-label form-check-label" for="refine-search-services">Services</label>
								</div>
								<button class="button btn btn-primary" id="search-button">Update</button>
							</fieldset>
						</div>
					</div>
				</div>
				<section class="search-results col-xl-8 offset-xl-1 col-md-8">
					<h1>Search results</h1>
					{% if resultsCount %}
						<h4 class="results-count">
							{{ resultsCount }}
							result
							{% if resultsCount != 1 %}s
							{% endif %}
							found for "{{ query }}"
						</h4>
						<ul class="search-results-list bare-list">
							{% paginate foundEntries.limit(limitPerPage) as pageInfo,items %}
								{% for entry in items %}
									<li>
										<h4 class="search-result-entry-title">
											<a href="{{ entry.url }}">
												{% if entry.title | searchExcerpt(query) %}
													{{ entry.title | searchExcerpt(query) | raw }}
												{% else %}
													{{ entry.title }}
												{% endif %}
											</a>
										</h4>
										<div class="excerpt small-text">
											{% set found = false %}
											{# submit text from each block searchExcerpt filter, if find a hit, stop searching and show snippet from first hit #}
											{% if entry.summary is defined and entry.summary %}
												{% set result = (entry.summary) | searchExcerpt(query) %}
												{% if result %}
													{% set found = true %}
													{{ result | raw }}
												{% endif %}
											{% endif %}

											{% if not found %}
												{# basically most of the plain text, redactor type fields. Reminder to check the fields inside matrix fields as well, because they are not immediately visible in the field list in Craft #}
												{{ craft.yump.deepBodySearch(query, entry, [
                                                'richText',
                                                'summary',
                                                'subHeading',
                                                'bannerHeading',
                                                'bannerContent',
                                                'ctaText',
                                                'donorProfileFormIntroContent',
                                                'testimonialContent',
                                                'eventLocation',
                                                'friendlyCampaignName',
                                                'heading',
                                                'imageCaption',
                                                'label',
                                                'mainCampusLocation',
                                                'textContent',
                                                'contactName',
                                                'tabContent',
                                            ]) | raw }}
											{% endif %}
										</div>

										{% include '_content-blocks/search_result_item_breadcrumb' with {entry: entry} %}

									</li>
								{% endfor %}
							</ul>

							{% include '_content-blocks/partials/pagination' with {
                            pageInfo: pageInfo,
                            allowedParams: [
                                'q',
                                'pages',
                            ],
                        } %}
						{% else %}
							{# No results: #}
							<h4 class="results-count">
								0 result found for
								<strong>"{{ query }}"</strong>:
							</h4>

							<div class="no-search-result-content">
								<div class="leading-text">Please try using more general terms to get more results.</div>
							</div>
						{% endif %}
					</section>
				</div>
			</div>
		</div>
		{# {% includeJsFile "/public/js/project/search.min.js" %} #}
	{% endblock %}
