{% extends '_layouts/account' %}

{% block lead %}
	<h3>Set new password</h3>
{% endblock %}

{% block form %}
	<form class="account-form" method="post" accept-charset="UTF-8">
	    {{ csrfInput() }}
	    {{ actionInput('users/set-password') }}
	    {{ hiddenInput('code', code) }}
	    {{ hiddenInput('id', id) }}

	    {% set flashes = craft.app.session.getFlashes() %}
		{% if flashes is not empty %}
			<section class="message-section">
				{% for key, flashMessage in flashes %}
					<p class="message {{ key == 'notice' ? 'info' : key }}">{{ flashMessage }}</p>
				{% endfor %}
			</section>
		{% endif %}

		<div class="form-group">
			<label for="newPassword">New Password</label>
		    <input class="form-control{% if errors is defined and errors is not empty %} hasError{% endif %}" id="newPassword" type="password" name="newPassword">
		    {% if errors is defined %}
		        <ul class="errors">
		            {% for error in errors %}
		                <li>{{ error }}</li>
		            {% endfor %}
		        </ul>
		    {% endif %}
		</div>

	    <input class="button button-primary" type="submit" value="Submit">
	</form>
{% endblock %}