{% if currentUser is defined and currentUser %}
	{% redirect 'planning/dashboard' %}
{% endif %}

{% do view.registerJsFile("https://www.google.com/recaptcha/api.js") %}

{% extends '_layouts/account' %}

{% block lead %}
	<h1 class="account-lead__heading">Get started</h1>
	<p>Creating an account is optional. If you create an account, you can come back to your questions later. If you do not create an account, your data will be lost when you exit the questionnaire without saving.</p>
	<a class="button button-primary" href="/planning/questionnaire">Continue without an account</a>
	<div class="separator">
		<h3>OR</h3>
		<hr>
	</div>
	<h3>Create an account</h3>
	<p>Already have an account? <a class="text-link" href="/login">Login here</a>.</p>
{% endblock %}

{% block form %}
	{% include 'planning/_elements/account/signup-form' with {
		buttonText: 'Get started',
		redirect: 'planning/questionnaire',
		user: user is defined and user ? user : (account is defined and account ? account : null),
	} only %}
{% endblock %}