{% extends "_layouts/post" %}

{% block bodyClass %}{{ parent() }} thank-you-page{% endblock %}

{% block banner %}
	<section class="banner simple-banner">
		<div class="container">
			<div class="banner__text-content">
				{% set name = craft.app.getRequest().getParam('name') %}
				<h1 class="banner__text-content--heading">Thank you{{ (name ? (", " ~ name) : "") }}!</h1>
				{% if entry.summary %}
					<div class="banner__text-content--summary">{{ entry.summary }}</div>
				{% endif %}
			</div>
		</div>
	</section>
{% endblock %}