#main{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.planning-vue__body {
    .container {
        @include media-breakpoint-up(lg) {
            max-width: 986px;
        }
    }
}

.button-planning {
	border: 0;
    &.disabled, &:disabled {
        opacity: 0.3;
        cursor: not-allowed;
    }
    &.button-planning__primary {

    }
    &.button-planning__secondary {
        background-color: $silver;
    }
}
// the title shows up on different places between mobile and desktop based on design
.top-texts {
	display: none;
    @include media-breakpoint-up(md) {
        display: block;
    }
}
.planning-title-mobile {
	display: block;
    margin-top: 1.2rem;
	@include media-breakpoint-up(md) {
	    display: none;
	}
}

.planning-questionnaire {
    margin-bottom: 5.6rem;
}