// .loading {

// }
// .loading-screen {
.loading {
	z-index: 101;
	position: fixed;
	pointer-events: none;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: transparentize($primary, 0.10);
	display: flex;
	align-items: center;
	justify-content: center;
	.loading-text {
		font-size: 32px;
		font-weight: bold;
		color: $white;
	}
}