.planning-nav__arrow {
	&.disabled {
		opacity: 0.3;
		cursor: not-allowed;
	}
}

.planning-nav__steps {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
	flex: 1;
	display: flex;
	// flex-wrap: wrap;
	position: relative;

	// &:before {
	// 	content: "";
	// 	background: $silver;
	// 	width: 100%;
	// 	height: 2px;
	// 	position: absolute;
	// 	top: 12px;
	// 	z-index: -1;
	// }

	.planning-nav__step {
		flex: 1 0 27px;
		position: relative;

		// padding-left: 15px; // easier for testing, can be removed later
		// padding-right: 15px; // easier for testing, can be removed later

		color: #ccc;

		// generally, the step icon shows up as the empty grey circle, indicating not viewable steps
		cursor: not-allowed;

		&:before {
			content: "";
			width: 8px;
			height: 8px;
			background-color: $white;
			display: inline-block;
			border-radius: 50%;
			border: 1px solid $silver;
			z-index: 1;

			position: absolute;
			top: -3px;
		}

		.planning-nav__step__path {
			align-items: center;
			background: $silver;
			width: 100%;
			height: 2px;
			position: relative;
		}
		.planning-nav__step__text {
			display: none;
			font-size: 1rem;
		    line-height: 1.6;
			position: absolute;
			left: -12px;
			top: 8px;
			@include media-breakpoint-up(lg) {
				// left: -50%;
				// transform: translateX(50%);
				display: block;
			}
		}

		// the following status classes override each other to show up as different style, so make sure you keep the following order

		&.last {
			flex: 0;
			// solid grey circle, indicating the last step (which is Results)
			&:before {
				background-color: $silver;
			}
		}

		&.viewable {
			// all the viewable steps, all completed steps are viewable, but there's only one viewable step which is not completed, that is the current "In progress" step, which has not yet been completed. This design only shows up when users click back buttons or the step nav bar to go back to previous steps, cuz in other situations, it will be overridden by the following two situations. This class can also be used to put cursor: pointer on the step.
			cursor: pointer;
			color: $primary;
			&:before {
				background-color: $silver;
			}
		}

		&.completed {
			// tick icon, indicating completed steps (no matter it's further than the current viewing step or not)
			&:before {
				content: url("/assets/img/svg/ic-step-completed.svg");
				width: 20px;
				height: 20px;
				border: 0;
				top: -9px;

				// border-radius: 0;
				background: transparent;
			}
			.planning-nav__step__path {
				background-color: $primary;
			}
			.planning-nav__step__text {
				@include media-breakpoint-up(lg) {
					left: -8px;
				}
			}
		}

		&.invalid {
			&:before {
				content: url("/assets/img/svg/ic-error.svg");
				width: 24px;
				height: 24px;
				padding: 4px;
				border: 0;
				top: -13px;
				left: -4px;

				// border-radius: 0;
				background: $white;
			}
			color: $dark-pink;
		}

		&.current {
			&:before {
				content: "";
				width: 13px;
				height: 13px;
				padding: 0;
				border: 0;
				top: -6px;
				left: 0;

				// border-radius: 0;
				background: $dusty-orange-two;
			}
			// color: $primary;
			// solid orange big circle, indicating current viewing step
			.planning-nav__step-btn {
				display: block; // show even on mobile
				font-weight: 700;
				background: transparent;
			}
		}
	}
}

.planning-nav {
	padding: 3.2rem 1.5rem 2.8rem;
	@include media-breakpoint-up(md) {
		padding: 3.4rem 3.5rem;
	    display: flex;
	    align-items: center;
	    // flex-wrap: wrap;
	}
	.planning-nav-top-button {
		display: none;
		@include media-breakpoint-up(md) {
		    display: block;
		    &.planning-nav__arrow--prev {
		    	margin-right: 0.8rem;
		    }
		    &.save-and-exit {
		    	margin-right: 0.8rem;
		    }
		    &.planning-nav__arrow--next {
				order: 1;
				margin-left: 0.8rem;
				// margin-left: auto;
		    }
		    &.logout-button {
		    	display: none;
		    }
		}
	}
	.planning-nav__steps {
		margin-right: 1rem;
		@include media-breakpoint-down(sm) {
		    &.completed {
				margin-right: 1.6rem;
			}
		}
		
		@include media-breakpoint-up(md) {
		    margin-left: 1.6rem;
		    margin-right: 2.4rem;
		}
		@include media-breakpoint-up(lg) {
		    margin-left: 2.8rem;
		    margin-right: 3.6rem;
		}
	}

	&__step-btn, &__step-btn[disabled] {
		border: none;
		color: inherit;
		background: transparent;
	}

}

.planning-footer-nav {
	margin-top: 3.2rem;
	// @include make-row();
	// @include media-breakpoint-up(md) {
	//     flex-wrap: nowrap;
	// }
	// .planning-footer-button-wrap {
	// 	@include make-col-ready();
	// }
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1.2rem;
	.button-planning {
		justify-content: center;
		// text-align: center;
		&.save-and-exit {
			grid-column: 1 / 3;
			grid-row: 1 / 2;
		}
		&.back-button {
			grid-column: 3 / 4;
			grid-row: 1 / 2;
		}
		&.continue {
			grid-column: 1 / 4;
			grid-row: 2 / 3;
		}
	}
	@include media-breakpoint-up(md) {
		margin-top: 4rem;
		grid-template-columns: repeat(11, 1fr);
		.button-planning {
			&.save-and-exit {
				grid-column: 1 / 4;
			}
			&.back-button {
				grid-column: 4 / 5;
			}
			&.continue {
				grid-column: 5 / 12;
				grid-row: 1 / 2;
			}
		}
	}
}