.planning-header{
    display: flex;
    // align-items: center;

    @include media-breakpoint-up(md) {
        justify-content: space-between;
        // align-items: flex-start;
        border-bottom: 1px solid $box-border-colour;
    }

    .top-header-logo{
        order: 1;
        @include media-breakpoint-up(md) {
            order: 0;
        }
        @include media-breakpoint-down(md) {
            padding: 0.2rem 2rem 1.2rem;
            img {
                max-width: 130px;
                margin-top: 1rem;
            }
        }
    }
    .yod-title,&__title{

    }
    .top-texts{
        .yod-title {
            .logout-button {
                display: inline-block;
                padding: 0.4rem 1rem;
                border-radius: 6px;
                background-color: $white;
                font-size: 1.4rem;
                margin-left: 2rem;
                transition: all .3s;
                &:hover {
                    background-color: $dusty-orange-two;
                }
            }
        }
    }
    &__title{
        display: flex;
        justify-content: flex-end;
        padding: 2.5rem 3rem;
        @include fluid-type($h3);
    }

    .planning-nav-top-button {
        &.planning-nav__arrow--prev {
            // display: flex;
            align-items: center;
            padding: 1.5rem;
            img {
                width: 14px;
            }
        }
        &.logout-button {
            margin-left: auto;
            order: 1;
            background-color: $pale-grey;
            font-size: 1.2rem;
            padding: 1rem 1.6rem;
            align-items: center;
        }
        &.save-and-exit {
            margin-left: auto;
            padding: 1rem;
            font-size: 1.2rem;
            border-right: 1px solid $white;
            order: 1;
            align-items: center;
        }
        &.logout-button {
            & + .save-and-exit {
                margin-left: 0;
            }
        }
        &.planning-nav__arrow--next {
            // display: flex;
            align-items: center;
            order: 1;
            padding: 1.5rem;
            img {
                width: 14px;
            }
            // margin-left: auto;
        }

        @include media-breakpoint-up(md) {
            display: none !important;
        }
    }
}