.top-banner.planning-banner{
    .media-image{
        background: url(/assets/img/swirls/planning-steps-swirl-big.png) no-repeat 0% 50%;
        background-size: contain;
    }
    .text-column{
        padding: 4.6rem 5rem;
        p{
            font-size: 2.4rem;
            line-height: 1.33;
        }
    }
}
@media screen and (max-width: 1199px){
    .top-banner.planning-banner{
      
        .text-column{
            padding: 2.6rem 5rem;
            margin-top: 0;
        }
    }
}
@media screen and (max-width: 1024px) {
    .top-banner.planning-banner{
        grid-template-columns: .45fr .55fr;
      margin-bottom: 0;
      .banner__media-column {
        grid-column: 2;
        grid-row: 1;
    }
    .text-column{

        grid-row: 1;
        grid-column: 1;
    }
    &__text-content {
    //   padding: 7rem  2.4rem 10rem;
    //   display: grid;
    }
      &__text-content--heading{
      font-size: 3.6rem;
      line-height: 1.11;
    }
  }
  
  
  }
@media screen and (max-width: 991px) {
    .top-banner.planning-banner{
        grid-template-rows: 300px 1fr;
        grid-template-columns: 1fr;
        margin-bottom: 1rem;
        .media-image{
          background: url("/assets/img/swirls/planning-banner-cream-swirl-ipad.png") no-repeat  0%  100% ;
          background-size: contain;
      }
      .banner__media-column {
        grid-column: 1;
        grid-row: 1;
    }
    .text-column{
        grid-row: 2;
        grid-column: 1;
        padding: 0 2rem 2rem;
    }
    &__text-content {
      padding: 7rem  2.4rem 10rem;
      display: grid;
    }
      &__text-content--heading{
      font-size: 3.6rem;
      line-height: 1.11;
    }
    }
  }

  @media screen and (max-width: 480px){
    .top-banner.planning-banner{
      .media-image{
        background: url("/assets/img/swirls/your-plan-mobile-swirl.png") no-repeat  -1px  101% ;
        background-size: contain;
      }
    }
  }
.planning-image {
  height: 100%;
  z-index:-1;
  position:relative;
  background-size: cover;
}

.planning-banner-section {
  .top-banner{
    margin-bottom: 4rem;
  }
  margin-top: 2.4rem;
  @include media-breakpoint-up(md) {
      margin-top: 1.4rem;
  }
  @include media-breakpoint-down(lg) {
      margin-bottom: 4rem;
  }
}