$general-background-colour: #f7f9f9;
.plan-landing-banner{
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 6rem;
    .banner__media-column{
        grid-column: 1;
        grid-area: media;
        background: url("/assets/img/swirls/plan-landing-swirl.png") no-repeat 100% 50% ;
        background-size: contain;
      }
      &__text-content{
        background-color: $general-background-colour;
        padding: 6rem 12.4rem 6rem 10rem;
        .inner-wrapper{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-gap: 4.4rem;
        }
        p{
          line-height: 1.5;
          font-size: 1.6rem;
          margin: 2rem 0;
        }
      }
      &__text-section{
          display: grid;
          grid-template-rows: auto 1fr minmax(auto,64px);
        }
        .button{
        align-self: center;
        justify-self: start;
      }
      &__saved-plan-button.button{
        background-color: $box-border-colour;
      }
}
.ndis-planning-landing-page.template--pages-ndisPlanningLandingPage{
    .plan-landing-banner{
    
        grid-template-areas: "media text";
        .banner__media-column{
            grid-column: 1;
            grid-area: media;
            // background: url("../../../assets/img/swirls/plan-landing-banner-swirl.png") no-repeat 100% 50% ;
            background-size: contain;
          } 
          &__text-content {
            grid-column: 2;
            grid-area: text;
            padding: 6rem 12.4rem 6rem 10rem;
          }
    }
}
@media screen and (min-width: 1500px){
  .plan-landing-banner{

  }
  .ndis-planning-landing-page.template--pages-ndisPlanningLandingPage{
    .plan-landing-banner{
          .video-transcript-button-wrapper{
            margin-right: calc(40%);
          }
      &__text-content{
        padding: 10.8rem 11.5rem;
      }
      .banner__media-column {
        background: url("/assets/img/swirls/plan-landing-swirl.png") no-repeat 100% 50% ;
        background-size: contain;
      }
    }
  }
}
@media screen and (max-width: 1499px){
  .ndis-planning-landing-page.template--pages-ndisPlanningLandingPage{
    .plan-landing-banner{
        &__text-content{
            padding: 10.8rem 8rem;
        }
      .video-transcript-button-wrapper{
        margin-right: calc(30%)
      }
    }
  }
}
@media screen and (max-width: 1399px){
    .ndis-planning-landing-page.template--pages-ndisPlanningLandingPage{
      .plan-landing-banner{
        &__create-plan-button{
            // padding: 2rem 2rem;
        }
        &__saved-plan-button{
        //   padding: 2rem 4rem;
        }
        .button{
            justify-self: auto;
            display: flex;
            justify-content: center;
          }
      }
    }
  }
@media screen and (max-width: 1200px){
  .ndis-planning-landing-page.template--pages-ndisPlanningLandingPage{
    .plan-landing-banner{
      &__text-content{
        padding:  8rem;
        .inner-wrapper{}
      }
      &__create-plan-button{
        // padding: 2rem 2rem;
    }
    &__saved-plan-button{
    //   padding: 2rem 6rem;
    }
    }
  }
}
@media screen and (max-width: 1024px) {
    .ndis-planning-landing-page.template--pages-ndisPlanningLandingPage{

        .plan-landing-banner{
            grid-template-columns: 1fr;
            margin-bottom: 0;
            .banner__media-column {
                grid-column: 1;
                grid-row: 1;
            }
            &__text-content {
                grid-row: 2;
                grid-column: 1;
                padding:  7rem 1.4rem ;
                display: grid;
            }
            &__text-content--heading{
                font-size: 3.6rem;
                line-height: 1.11;
            }

        }
  
    }
    .ndis-planning-landing-page.template--pages-ndisPlanningLandingPage{
      .plan-landing-banner{
    .video-transcript-button-wrapper{
      margin-right: auto;
    }
  }
}
}
  @media screen and (max-width: 575px) {
    .plan-landing-banner {
        .button{
            font-size: 1.4rem;
            line-height: 1.71;
        }
  
      &__text-content--summary {
        p {
          line-height: 1.56;
          font-size: 1.8rem;
        }
        line-height: 1.56;
      }
  
    }
  }
  