.planning-results {
  @include media-breakpoint-down(sm) {
    margin-top: -4rem;
  }

  .goals-analysis-question {
    @include media-breakpoint-down(sm) {
      border-bottom: 1px solid $border-color;
      margin-bottom: 2.5rem;
      padding-bottom: 2.5rem;
    }
  }

  &__questionItem {
    margin-top: 1.4rem;

    img {
      margin-right: 1.4rem;
    }
  }

  .button {
    border: 0;
    display: inline-block;
    width: 8rem;
    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }

  &__ctaBottom {
    border-top: 1px solid $silver;
    padding-top: 5rem;
    margin-top: 5rem;
  }

  &__score {

  }

  &__cta {
    margin-bottom: 5rem;

    &__block {
      display: flex;
      align-content: flex-start;
    }

    &__block-icon {
      width: 13rem;
      @include media-breakpoint-down(md) {
        width: 8rem;
      }
    }

    &__block-text {
      width: 25.8rem;
      margin-left: 2.4rem;

      h3 {
        line-height: 28px;
      }

      p {
        margin: 2rem 0;
      }

      @include media-breakpoint-down(md) {
        padding-right: 0;
      }

      .button {
        width: 12.8rem;
        justify-content: center;
        border: 0;
        @include media-breakpoint-down(sm) {
          width: 100%;
        }
      }
    }

    &__description {
      margin-bottom: 1.6rem;
      @include media-breakpoint-up(md) {
          margin-bottom: 2rem;
      }
    }
  }

  &__top-line {
    width: 4px;
    height: 12.8rem;
    background-color: #e0e721;
    margin: 0 auto;
  }

  &__wrap {
    background-image: url("/assets/img/your-plan-background-image.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    z-index: 1;
    padding-top: 22rem;
    @include media-breakpoint-down(md) {
      padding-top: 10rem;
    }

    &::before {
      position: absolute;
      display: block;
      content: "";
      width: 4px;
      height: 12.8rem;
      background-color: $secondary-effect-colour;
      margin: 0 auto;
      left: 50%;
      top: 100px;
      @include media-breakpoint-down(md) {
        top: 0;
      }
    }

    .top-banner {
      margin-bottom: 4rem;
      @include media-breakpoint-down(md) {
        margin-bottom: 2rem;
      }
    }

  }

  .field-label {
    display: inline-block;
    font-size: 20px;
    color: $primary;
    font-weight: normal;
    margin-top: 2.5rem;
  }

  p {
    font-size: 16px;
    font-weight: normal;
    color: $primary;
    // padding: 1rem 0 2.5rem 0;
  }

  #results-step1 {
    .form-group + .form-group {
      border-top: 1px solid #ccd6db;
    }
  }

  &__backtotop {
    color: $primary;
    text-align: center;
    margin-top: 4.3rem;

    .totop-link {

      font-size: 1.4rem;
      line-height: 1.71;
      font-weight: 500;
      // color: $primary;
      @extend %link-style;

      &:hover {
        // color: $secondary;
      }
    }

  }

  &__goalHeader {
    margin-bottom: 1.8rem;
    border-bottom: 1px solid #ccd6db;
    @include media-breakpoint-down(md) {
      margin-bottom: 0;
      border-bottom: 0;
    }

    .col {
      font-weight: bold;
    }
  }

  &__questionItem {

  }

  .goals {
    &__number {
      border-radius: 100px;
      padding: 1rem 3rem;
      color: #ffffff;
      background-color: $primary;
      display: block;
      width: 69px;
      @include media-breakpoint-down(sm) {
        display: inline;
      }
    }

    .goal-title {
      padding-bottom: 1rem;
      margin-bottom: 0;
      font-size: 20px;
      font-weight: normal;
      margin-top: .8rem;
      @include media-breakpoint-down(sm) {
        margin-top: 0;
      }
    }

    .goal-title + .goal-content {
      margin-top: 1.9rem;

    }
    .goal-content{
      label{
        display: block;
        font-weight: bold;
      }
    }

    .goal + .goal {
      border-top: 1px solid #ccd6db;
    }
  }

  .goal-notes-heading {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.33;
    margin-bottom: 1rem;
  }

  .goal-notes {
    white-space: pre-line;
  }

  .goal-optional {
    padding-top: 3rem;

  }
}

.planning-results-anchor-links-section {
  margin-top: 8.5rem;
  @include media-breakpoint-down(md) {
    margin-top: 5.5rem;
  }

  .planning-results-anchor-links {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    width: 100%;
    text-align: center;

    .planning-results-anchor-link {
      margin-top: 1.5rem;

      a {
        line-height: 1.5;
        // font-weight: 500;

        @include media-breakpoint-down(md) {
          font-size: 1.6rem;
        }
      }
    }
  }
}

.results-step-title {
  text-align: center;
  margin-top: 7rem;
  font-size: 4rem;
  margin-bottom: 3.5rem;
  @include media-breakpoint-down(md) {

    font-size: 2.4rem;
  }
}

.step2-form-section + .step2-form-section {
  margin-top: 2.5rem;
  padding-top: 2.5rem;
  border-top: 1px solid #ccd6db;
}

#share-results {
  .add-email {
    display: inline-block;
    cursor: pointer;
    margin-top: 0.8rem;

    img {
      margin-right: 0.5rem;
    }
  }

  .theirEmailValue {
    &:not(:last-child) {
      margin-bottom: 0.8rem;
    }
  }
}