.popup {
	display: none;
	height: 100VH;
    width: 100VW;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
	z-index: 100;

	&.show {
		display: block;
	}

	&.no-header {
		.popup-header {
			margin-bottom: 0;
		}
	}

	&.slim {
		.popup__content-wrap {
			@include media-breakpoint-up(md) {
				min-width: 0;
				width: calc(360px - (15px * 2));
			}
		}
	}

	&.fixed-center {
		position: fixed;
		// top: 50vh;
		top: 40%;
		z-index: 51;
	}

	&__blocker {
		z-index: 50;
		position: fixed;
		overflow-y: auto;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.3);
	}

	&__content-wrap {		
		position: absolute;
		z-index: 100;
		top: 2rem;
		left: 50vw;
		transform: translateX(-50%);
		width: calc(100% - (15px * 2));
		min-height: auto;
		background-color: $white;
		padding-left: 4rem;
		padding-right: 4rem;
		@include media-breakpoint-up(md) {
			min-width: calc(640px - (15px * 2));
		}
	}

	.popup-close {
	  position: absolute;
	  right: 20px;
	  top: 20px;
	  opacity: 0.7;
	  font-size: 18px;
	  cursor: pointer;
		&__text {
			margin-right: 15px;
		}
	}
	.popup-close:hover {
	  opacity: 1;
	}
	.popup-close__icon:before, .popup-close__icon:after {
	  position: absolute;
	  right: 0;
	  content: ' ';
	  height: 14px;
	  width: 2px;
	  top: 6px;
	  background-color: $primary;
	  @include media-breakpoint-down(lg) {
		top: 4px;
	}
	}
	.popup-close__icon:before {
	  transform: rotate(45deg);
	}
	.popup-close__icon:after {
	  transform: rotate(-45deg);
	}

	.popup-go-to {
		cursor: pointer;
	}

}