.goal-toggle {
	display: inline-block;
	width: 32px;
	height: 32px;
	border: 1px solid $primary;
	border-radius: 4px;
	cursor: pointer;

	background-image: url("/assets/img/svg/ic-chev-20px.svg");
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: center center;

	&.checked {
		background-color: $primary;
	}
}

.planning-questionnaire {
	#questionnaire {
		.goals-analysis-question {
			.field-label {
				color: $dark-teal;
			}
		}
	}
	// general
	.form-group {
		&:not(:last-child) {
			padding-bottom: 2.4rem;
			border-bottom: 1px solid $silver;
			margin-bottom: 2rem;
		}
	}

	textarea {
		resize: vertical;
		padding: 1.6rem;
		border: 1px solid $primary;
		height: 166px;
	}
	.form-input {
		font-size: 1.4rem;
		line-height: 1.5;
		@include media-breakpoint-up(md) {
			font-size: 1.6rem;
		}
		&:focus + label {
			&::before {
				border-color: #f18a2d !important;
			}
		}
	}

	.goal-analysis-group {
		margin-bottom: 5rem;
	}
	.goals {
		margin-top: 5rem;
		@include media-breakpoint-up(md) {
			margin-top: 6rem;
		}
	}
	.goals-help-section {
		margin-top: 4rem;
		margin-bottom: 5rem;
	}

	// step 2
	.step2-form-section {
		.step2-form-heading {
			margin-bottom: 1.6rem;
		}
		.step2-form-row {
			@include make-row();
			.form-group {
				@include make-col-ready();
				@include media-breakpoint-down(sm) {
					padding-bottom: 0;
					border-bottom: 0;
				}
				@include media-breakpoint-up(md) {
					&:not(.alone) {
						@include make-col(6);
						padding-bottom: 0;
						margin-bottom: 0;
						border-bottom: 0;
						display: flex;
						flex-direction: column;
						textarea {
							margin-top: auto;
							flex: 0 0 166px;
						}
					}
				}
			}
		}
		.copy-activity {
			margin-top: 2.4rem;
			background-color: transparent;
			border: 0;
			img {
				margin-right: 0.8rem;
			}
			span {
				// border-bottom: 2px solid $secondary;
				// transition: all 0.3s;
				@extend %link-style;
			}

			&:hover,
			&:active,
			&:focus {
				border: 0;
				outline: 0;
				span {
					// border-color: $primary;
				}
			}
		}
	}
	#activities-days-selector-modal {
		.select-deselect {
			margin-bottom: 1.6rem;
		}
	}

	// goal analysis questions
	.section-heading {
		margin-bottom: 2.4rem;
		@include media-breakpoint-up(md) {
			margin-bottom: 3.2rem;
		}
		&__divider {
			margin-bottom: 3rem;
		}
	}
	.goals-analysis-question {
		.field-label {
			margin-bottom: 2.6rem;
		}
		.goals-analysis-question-option {
			padding-left: 2.4rem;
			&:not(:last-child) {
				margin-bottom: 2.4rem;
			}
			input {
				&:checked + label {
					font-weight: 600;
				}
			}
			label {
				font-size: 1.6rem;
				font-weight: normal;
			}
			.custom-control-input[type="radio"] {
				& ~ .custom-control-label {
					cursor: pointer;
					margin-left: 2.4rem;
					&:before {
						width: 3.2rem;
						height: 3.2rem;
						top: -0.5rem;
						left: -4.8rem;
						border-color: $primary;
						box-shadow: none;
						&:focus {
							// box-shadow: -1px -1px 2px 0 $secondary, 1px 1px 2px 0 $secondary;
						}
					}
					&:after {
						top: -0.5rem;
						left: -4.8rem;
						width: 3.2rem;
						height: 3.2rem;
						// background-color: $white;
						border-radius: 50%;
						&:focus {
							// box-shadow: none;
						}
					}
				}
				&:checked {
					& ~ .custom-control-label {
						&:before {
							background-color: $primary;
							border-color: $primary;
						}
					}
				}
			}
		}
	}
	.suggest-goal-button {
		font-size: 2rem;
		line-height: 1.2;
		padding: 2.4rem;
		width: 100%;
		justify-content: center;
		@include media-breakpoint-up(md) {
			font-size: 2.5rem;
			line-height: 0.96;
			padding: 3.3rem;
		}
	}
	.goal {
		margin-top: 3.2rem;
		display: flex;
		flex-wrap: nowrap;
		&.goal-optional {
			padding-top: 3.2rem;
			border-top: 1px solid $silver;
		}

		.goal-toggle-wrap {
			flex: 0 0 32px;
			margin-right: 1.6rem;
			@include media-breakpoint-up(md) {
				margin-right: 2.4rem;
			}
		}
		.goal-body {
			flex: 1;
		}
		.goal-title {
			margin-bottom: 1.9rem;
		}
		.rank-input-group {
			margin-bottom: 1.9rem;
			label {
				display: block;
			}
			select {
				display: block;
				width: 100%;
				padding: 1.4rem 1.2rem;
				background-color: transparentize($silver, 0.6);
				border-color: transparentize($silver, 0.6);
				font-size: 2rem;
				font-weight: bold;
			}
		}
		.goal-notes-input-group {
			.goal-notes {
				min-height: 96px;
				// &:focus {
				// 	box-shadow: 0px 0px 2px 0 $dark-teal;
				// }
			}
		}
	}

	.goals-help-section {
		padding: 2.8rem 2.4rem 3.2rem;
		border: 2px solid $dusty-orange-two;
		img {
			margin-bottom: 1.6rem;
		}
		h2 {
			margin-bottom: 1.6rem;
		}
		p {
			font-weight: 500;
		}
		.button {
			margin-top: 1.6rem;
		}
	}

	.questionnaire-step {
		.form-input {
			// &:focus {
			// 	box-shadow: 0px 0px 2px 0 $dark-teal;
			// }
		}
		.goals-analysis-question {
			.unanswered-help-text {
				// display: none;
				// font-size: 12px;
				// display: inline-block;
				@extend %message-banner--error-with-down-arrow;
				margin-top: -1rem;
				
			}
		}

		&.highlight-unanswered {
			.goals-analysis-question {
				&.unanswered {
					.goals-analysis-question-option {
						.custom-control-input[type="radio"] {
							& ~ .custom-control-label {
								&:before {
									border-color: $dark-pink;
								}
							}
						}
					}
				}
			}
		}
	}
}

.message-section {
	.message {
		&.info {
		}
		&.error {
		}
	}
}
.text-optional {
	color: $metallic-blue;
	font-weight: 300;
	margin-left: 0.5rem;
	font-size: 1.6rem;
}

.planning-intro-section {
	margin-bottom: 3.2rem;
	@include media-breakpoint-up(md) {
		margin-bottom: 4rem;
	}
	.planning-intro-content {
		@include lead-text-style();
		p {
			@include lead-text-style();
		}
	}
}

.flip-list-move {
	transition: transform 1.5s;
}

.planning-title-sr-only-desktop {
	display: none;
	@include media-breakpoint-up(md) {
	    display: block;
	}
}