.your-plan-steps{
    display: grid;
    grid-gap: 5rem;
    margin-bottom: 7.3rem;
}
.step{
    $self: &;
    background-color: $white;
    display: grid;
    grid-template-columns: .4fr .6fr;
    grid-gap: 4rem;
    border:  1px solid $box-border-colour;
    &:hover {
        color: $primary;
        #{$self}__cta-button-text {
            border-bottom-color: transparent;
        }
        #{$self}__image {
            opacity: 1;
            animation: flash 2.5s;
        }
    }
    &__heading{
    }
    &__body{
        display: grid;
        padding: 3.8rem 0rem;
    }
    &__textwrap {
        margin-bottom: 1.6rem;
    }
    &__summary {
        p{
            font-weight: normal;
        }
    }
    &__cta-button{
        font-size: 1.6rem;
        line-height: 1.5;
        font-weight: 500;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: $primary;
        span {
            @extend %link-style;
        }

        &:hover{
            text-decoration: none;
            span{
                // border-bottom: 2px solid $primary;
            }
        }
        &::after{
            display: inline-block;
            content: "";
            background: url("/assets/img/icons/arrow-right-link.png") no-repeat right center;
            width: 15px;
            height: 10px;
            margin-left: 1rem;
        }
    }
    
    &__disabled{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: $box-border-colour;
        &::after{
            display: inline-block;
            content: "";
            background: url("/assets/img/icons/right-arrow-disabled.png") no-repeat right center;
            width: 15px;
            height: 10px;
            margin-left: 1rem;
        }
        .disabled-text{
            font-size: 1.6rem;
            line-height: 1.5;
            font-weight: 500;
            border-bottom: 1px solid $disabled-secodary-colour;
        }
    }
    &__cta-button-text{
        // border-bottom: 1px solid $secondary;
        @extend %link-style;
    }
}
.results-step{
    &__image{
        background-color: $primary;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8rem;
        img{
            max-width: 120px;
        }
    }
    .results-button{
        // padding: .5rem 2.4rem;
        justify-self: start;
        align-items: center;

        &::after{
            display: none;
        }
        img {
            width: 15px;
            height: 10px;
            margin-left: .8rem;
        }
    }
    .step__cta-button{
        background-color: $secondary;
        &:hover{
            background-color: $button-background-colour-on-hover;
            text-decoration: none;
            span{
                border-bottom: 0;
            }
        }
    }
    .step__disabled{
        // background-color: $disabled-secodary-colour;
        opacity: 0.3;
        display: inline-flex;
    }
    .disabled-text,.step__cta-button-text{
        border-bottom: 0;
    }
}
@media screen and (max-width: 991px){
    .step{
        // padding-top: 2.5rem;
        grid-template-columns: 1fr ;
        grid-gap: 0;
        &__body{
            padding: 2.5rem;
            max-width: 500px;
            margin: 0 auto;
        }
        &__image{
            margin: 0 auto;
        }
    }
}
@media screen and (max-width: 768px){
    .your-plan-steps{
        margin-bottom: 5.6rem;
    }
    .step{
        grid-gap: 0;
        &__body{
        }
        &__cta-button{
            font-size: 1.4rem;
        }
    }
}

@-webkit-keyframes flash {
	0% {
		opacity: .9;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .9;
	}
	100% {
		opacity: 1;
	}
}