// avoid having nested blocks with paddings on left and right
html {
	scroll-behavior: smooth;
  }
  body{
	  position: relative;
  }
.container {
	.container {
		padding-left: 0;
		padding-right: 0;
	}
}

.neo-two-columns {
	&--top {
		.matrix-block-column {
			display: flex;
			align-items: flex-start;
		}
	}
	&--center {
		.matrix-block-column {
			display: flex;
			align-items: center;
		}
	}
	&--bottom {
		.matrix-block-column {
			display: flex;
			align-items: flex-end;
		}
	}
	.matrix-block-column {
		.neo-column-inner {
			width: 100%; // need this to fix the video not showing issue
			// flex-direction: column;
			.rich-text {
				display: block;
				// @include media-breakpoint-up(lg) {
				// 	margin-bottom: 8px;
				// 	margin-top: 8px;
				// }
			}
			figure {
				@include media-breakpoint-down(sm) {
					margin-bottom: 24px;
				}
			}
			// &--top {
			// 	display: flex;
			// 	align-items: flex-start;
			// }
			// &--center {
			// 	display: flex;
			// 	align-items: center;
			// }
			// &--bottom {
			// 	display: flex;
			// 	align-items: flex-end;
			// }
		}
	}
	// .row {
	// 	> .col-md-6:first-of-type {
	// 		@include media-breakpoint-down(md) {
	// 			order: 2;
	// 		}
	// 	}
	// 	> .col-md-6:last-of-type {
	// 		@include media-breakpoint-down(md) {
	// 			order: 0;
	// 		}
	// 	}
	// }
}

// .neo-secondary-content .neo-two-columns, .neo-secondary-content .card__section {
// 	@include fluid-property('margin-top', 72, 40);
// 	@include fluid-property('margin-bottom', 72, 40);
// }

body.compact-page .body-boxed__row {
	display: block!important;
}

body:not(.post) {
.body-boxed {
	@include fluid-property('margin-top', 50, 32);
	&__container {
		// margin-top: 28px;
	}
	&__row {
		@include make-row();
		justify-content: center;

		.sidebar {
			padding-top: 48px;
			@include media-breakpoint-up(lg) {
			    padding-bottom: 48px;
			    padding-top: 70px;
			}
			
			@include make-col-ready();
			@include media-breakpoint-up(lg) {
				@include make-col(1);
				order: 1;
				&.sidebar-donation {
					order: 3;
				}
			}
			&:not(.sidebar-donation) {
				@include media-breakpoint-up(lg) {
				@include fluid-property('padding-right', 48);
					max-width: 300px;
				}
				@include media-breakpoint-up(xl) {
					max-width: 327px;
				}
				// more space when neo-boxed shows alongside a sidebar
				+ .neo-main-content {
					// @include media-breakpoint-up(md) {
					// 	@include fluid-property('padding-left', 35);
					// }
					@include media-breakpoint-up(lg) {
						@include fluid-property('padding-left', 72);
					}
				}
			}
		}
		.neo-main-content {
			@include make-col-ready();
			@include media-breakpoint-up(lg) {
				@include make-col(10);
				order: 2;
			}
		}
	}

	position: relative;
	&__split-background {
		display: none;

		@include media-breakpoint-up(lg) {
	        position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			display: flex;
			&--sidebar {
				flex: 0 0 32.5%;
				max-width: 32.5%;
			}
			&--content {

			}
	    }

	}
}
}

.has-sidebar {
	.body-boxed {
		position: relative;
		&__layout-background-if-sidebar {
			display: none;

			@include media-breakpoint-up(lg) {
		        position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				width: 50%;
				display: flex;
		    }

		}
		.neo-main-content {
			// background-color: $bg-color-1;
			@include media-breakpoint-up(lg) {
		        padding-left: 32px;
		    }
		    @include media-breakpoint-up(xl) {
		        padding-left: 72px;
		    }
		}
	}
}

/**
 * Define all matrix-block level margin top / bottom here instead of doing it in individual block's scss. The reason is we need the .matrix-block:first-child at the end of this code block which overwrite the individual ones' margin-top if they are the first of siblings.
 *
 * Also, keep the margin on block level, instead of the child elements nested inside it.
 */
.matrix-block {
	margin-bottom: 1.6rem;
	// &:not(:last-child) {
	// 	margin-bottom: 16px;
	// }
	.rich-text {
		& > *:last-child {
			margin-bottom: 0;
		}
	}
	// &.matrix-block-richText {
	// 	@include fluid-property('margin-top', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
	// }
	&.matrix-block-dividingLine {
  		@include fluid-property('margin-top', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
		@include fluid-property('margin-bottom', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
	}
	&.matrix-block-buttons {
		margin-top: 2rem;
  		@include fluid-property('margin-bottom', 48, 32);
	}
	&.matrix-block-imageCards {
		@include fluid-property('margin-top', 72, 48);
        @include fluid-property('margin-bottom', 48, 24);
	}
	&.matrix-block-serviceCard {
		@include fluid-property('margin-top', 72, 48);
        @include fluid-property('margin-bottom', 72, 48);
	}
	&.matrix-block-imageCollage {
		@include fluid-property('margin-top', 72, 48);
        @include fluid-property('margin-bottom', 72, 48);
	}
	&.matrix-block-textOnlyCards {
		@include fluid-property('margin-top', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
  		@include fluid-property('margin-bottom', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
	}
	&.matrix-block-accordion {
		@include fluid-property('margin-top', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
  		@include fluid-property('margin-bottom', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
	}
	&.matrix-block-images {
		@include fluid-property('margin-top', 48, 24);
  		@include fluid-property('margin-bottom', 48, 24);
	}
	&.matrix-block-video {
		@include fluid-property('margin-top', 48, 24);
  		@include fluid-property('margin-bottom', 48, 24);
	}
	&.matrix-block-twoColumns {
		@include fluid-property('margin-top', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
  		@include fluid-property('margin-bottom', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
	}
	&.matrix-block-form {
		@include fluid-property('margin-top', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
  		@include fluid-property('margin-bottom', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
	}
	&.matrix-block-profile {
		@include fluid-property('margin-top', 48, 24);
  		@include fluid-property('margin-bottom', 48, 24);
	}
	&.matrix-block-anchorLinks {
		@include fluid-property('margin-top', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
  		@include fluid-property('margin-bottom', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
	}
	&.matrix-block-anchorPoint {
		@include fluid-property('margin-top', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
	}
	&.matrix-block-downloads {
		margin-top: 3.2rem;
		margin-bottom: 3.2rem;
	}
	&.matrix-block-testimonialQuote {
		@include fluid-property('margin-top', 40, 32);
  		@include fluid-property('margin-bottom', 40, 32);
	}

	/** Leave this at the end of this code block, because we need it to overwrite the individual ones' margin-top */
	&:first-child {
		&:not(.matrix-block--scope-reusableSnippets) {
			margin-top: 0;
		}
	}
}

.neo-column-inner, .full-width-panel-column-text-inner {
	& > .matrix-block {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.full-width-panel-column-text-inner {
	.matrix-block-buttons {
		@include fluid-property('margin-bottom', 48, 32);
		&:last-child {
			margin-bottom: 0;
		}
		.matrix-block-callToAction {
			margin-bottom: 0;
		}
		@media screen and (max-width: 359px) {
			.neo-buttons-inner {
				display: block;
				.matrix-block-callToAction {
					width: 100%;
					&:not(:last-child) {
						margin-bottom: 1.6rem;
					}
				}
			}
		}
	}
}

.neo-main-content__content {
	& > .matrix-block-testimonial {
		&:not(:first-child) {
			@include fluid-property('margin-top', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
		}

		@include fluid-property('margin-bottom', $gap-between-blocks-px, $gap-between-blocks-mobile-px);
	}
	& > .matrix-block {
		&:last-child {
			margin-bottom: 0; // disable margin-bottom of the last child under article content, because article content has its own padding bottom
		}
	}
}

.neo-main-content {
	// @include fluid-property('padding-top', $gap-big-px, $gap-big-mobile-px);
	@include fluid-property('padding-bottom', $gap-big-px, $gap-big-mobile-px);
}

.neo-secondary-content {
	.matrix-block--with-background {
		margin-bottom: 0;
	}
}

.body-boxed {
	&.no-boxed-section {
		& + .body-full-width {
			& > .matrix-block {
				&:first-child {
					&:not(.matrix-block--with-background) {
						@include fluid-property('margin-top', 56, 56);
					}
				}
				&.matrix-block-dividingLine {
					display: none;
				}
			}
		}
	}
	.page-heading-section.page-heading-section-within-article{
		padding-top: 4rem;
	}
}

// No margin on last matrix block
// but using the wrapper class with >  so we don't also catch the matrix blocks inside e.g. the two column neo block
// .neo-secondary-content > .matrix-block {
// 	&:last-child {
// 		margin-bottom: 0;
// 	}
// }


.box {
	&__container {
		&--primary {
			border: 1px solid #d2d2d2;
		}
	}
}

// .neo-main-content > .neo-main-content__content > .matrix-block-richText .rich-text > h2 {
// 	margin-top: 0;
// }

figure {
	margin-bottom: 0;
}
[v-cloak] {
	display: none;
}
#main iframe {
	max-width: 100%;
	border: none;
	&:focus {
		outline-style: auto;
	}
}
iframe {
	border: none;
}

.grid{
	display: grid;
}