{% extends "_layouts/default" %}

{% block bodyClass %}{{ parent() }} video-transcript-page{% endblock %}

{% block content %}
	<div class="body-boxed video-transcript">
		<div class="container">
			<div class="body-boxed__row">
				<article class="neo-main-content">
					<div class="neo-main-content__content">
                        <div class="page-heading-section page-heading-section-within-article">
							<h1>{{ entry.title }}</h1>
						</div>

						<div class="neo-article-content video-transcript-content">
							{{ entry.richText }}
						</div>
                    </div>
				</article>
			</div>
		</div>
	</div>
{% endblock %}
