{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * yodhub module for Craft CMS
 *
 * YodhubModuleWidget Widget Body
 *
 * @author    Yump
 * @copyright Copyright (c) 2020 Yump
 * @link      https://yump.com.au
 * @package   YodhubModule
 * @since     1.0.0
 */
#}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@modules/yodhub-module/assetbundles/yodhubmodulewidgetwidget/dist', true) ~ '/img/YodhubModuleWidget-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>{{ message }}</p>
