{% extends "_layouts/post" %}

{% block bodyClass %}{{ parent() }} news-post-page{% endblock %}

{% block breadcrumb %}
	{% set newsLandingPage = craft.yump.getEntryByIdFix(craft.yump.getConfig('newsLandingPageId')) %}
	{% if newsLandingPage %}
		{% include '_elements/breadcrumb' with {
			crumbs: [
				{
					text: newsLandingPage.title,
					url: newsLandingPage.url,
					isParent: true
				},
				{
					text: entry.title,
				},
			],
		} only %}
	{% endif %}
{% endblock %}

{% block postHeadingSection %}
	<div class="post__heading">
		<h1>{{entry.title}}</h1>
		<span>{{entry.postDate | date('j F Y')}}</span>
	</div>
{% endblock %}