{% if block.accordions and block.accordions.count() %}
    <div class="container">
        {% if block.heading and block.heading|trim %}
            <h2 class="accordion-section-heading">{{ block.heading|trim }}</h2>
        {% endif %}

        {% set accordionsId = block.id ? block.id : craft.yump.getMicrotimeAsId() %}
        
        <div class="accordions" id="accordions-{{ accordionsId }}">
            {% for accordionEntry in block.accordions.all() %}
                {% set accordionEntryId = accordionEntry.id ? accordionEntry.id : craft.yump.getMicrotimeAsId() %}
                <div class="card accordion">
                    <div class="card-header accordion-header" role="heading" id="accordion-header-{{ accordionsId }}-{{ accordionEntryId }}" data-toggle="collapse" data-target="#accordion-body-{{ accordionsId }}-{{ accordionEntryId }}" aria-expanded="false" aria-controls="accordion-body-{{ accordionsId }}-{{ accordionEntryId }}">
                        <!-- This icon is provided by Font Awesome (https://fontawesome.com). See https://fontawesome.com/license/free for the license -->
                        <div class="accordion-header-tag"></div>
                        <h4 class="accordion-header-content">{{ accordionEntry.accordionHeading|trim }}</h4>
                    </div>

                    <div id="accordion-body-{{ accordionsId }}-{{ accordionEntryId }}" class="collapse accordion-body" aria-labelledby="accordion-header-{{ accordionsId }}-{{ accordionEntryId }}" data-parent="#accordions-{{ accordionsId }}">
                        <div class="card-body accordion-body-content">{{ accordionEntry.accordionContent }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}