{# The Destination for an Anchor Link #}
{# {% if entry.enableAnchorLinks %} #}
	<div class="anchor-link-destination"> <h2 id="{{craft.yodhub.createSlug(block.label)}}" class="anchor-link-destination__heading">{{block.label}}</h2>
</div>
{# {% endif %} #}
