{% set anchorLinks = craft.yodhub.getAnchorLinks(entry) %}

{% if anchorLinks %}

	<div class="container anchor-links">

		<h2 class="anchor-links__heading">{{ block.heading ?? "What's on this page?" }}</h2>

		<ul class="anchor-links__list">
			{% for anchor in anchorLinks %}
				<li class="anchor-links__list-item">
					<a href="#{{anchor.link}}" class="anchor-links__link" aria-label="In Page Anchor Link to {{anchor.label}}">
						<i class="fas fa-arrow-down anchor-links__link-icon"></i>
						<span class="anchor-links__label">{{anchor.label}}</span>
					</a>
				</li>
			{% endfor %}
		</ul>

	</div>

{% endif %}
