{% import '_macros' as macros %}
<div class="downloads-wrap">
	{% for downloads in block.downloads.all %}
		{% set fileName = null %}
		{% set customThumb = downloads.fileThumbnail is defined and downloads.fileThumbnail ? downloads.fileThumbnail : false %}
		{% if downloads.type == 'internalResource' %}
			{% set file = downloads.file.one %}
			{% set fileName = file.title %}
			{% set fileType = file.extension | upper %}
			{% set summary = file.description %}
			{% set link = file.url %}
			{% set fileSize = file.size | filesize(2) %}
		{% elseif downloads.type == 'externalResource' %}
			{% set fileName = downloads.fileName %}
			{% set summary = downloads.description ?? null %}
			{% set link = downloads.fileUrl %}
			{% set fileSize = downloads.fileSize ?? null %}
			{% set fileType = downloads.fileType ?? null %}
		{% endif %}

		{% if fileName %}
			<div class="grid downloads">
				<figure class="downloads__icon-wrapper">
					{% if customThumb and customThumb | length %}
						{{ macros.thumbnail({
                        image: customThumb.one(),
                        imagerSettings: {
                            width: '43px',
                        },
                        altTag: '',
                    }) }}
					{% else %}
						{#{{ craft.inlin.er('/assets/img/svg/ic-downloadsable.svg') | raw }}#}
						<img class="downloads__icon" src="/assets/img/icons/downloads-file-icon.png" alt="download icon">
					{% endif %}
				</figure>
				<div class="downloads__content">
					<h3 class="downloads__filename">{{ fileName }}</h3>
					<div class="downloads__description">{{ summary }}</div>
				</div>
				<a href="{{link}}" target="_blank" class="button downloads__cta">
					<span class="downloads__cta-text">
						Download
						{% if fileType %}
							{{ fileType }}
						{% else %}
							PDF
						{% endif %}
					</span>
					<span class="sr-only">{{ fileName }}</span>
				</a>
			</div>
		{% endif %}
	{% endfor %}
</div>
