<div class="container">
	<div class="highlighted-banner highlighted-banner-{{ block.highlightedBannerStyle.value }}">
		{% include '_content-blocks/partials/neo_child_block' with {blockSet: block.children, scope: scope|merge(['highlightedBanner'])} %}
	</div>
</div>