{% import '_macros' as macros %}

{% set images = block.images.all() %}
{% set imageCount = images | length %}
{% if imageCount %}
    <div class="container images-container {% if imageCount > 1 %}slider{% endif %}">
        {% if imageCount > 1 %}
            <div class="image-slider-wrap slider__container" aria-hidden="true">
        {% else %}
            <div class="single-image-wrap" aria-hidden="true">
        {% endif %}
            {% for image in block.images.all() %}
                {# {% if block.images|length > 1 %}
                    {% set imagerSettings = {
                        width: 1200,
                        height: 800,
                    } %}
                {% else %}
                    {% set imagerSettings = {
                        width: 1200,
                        height: 650,
                    } %}
                {% endif %} #}
                {% set imagerSettings = {
                    width: 1200,
                } %}

                {% set imageCaption = image.imageCaption ?? null %}

                <div class="slider-item {% if imageCaption %} slider-item__has-caption{% endif %}">
                    {{ macros.thumbnail({
                        image: image,
                        imagerSettings: imagerSettings,
                        altTag: image.title is defined and image.title ? image.title : 'image',
                        additionalClasses: 'slider-item__image'
                    }) }}
                    {% if imageCaption %}
                        <div class="slider-item__caption">
                            {{ imageCaption }}
                        </div>
                    {% endif %}
                </div>

            {% endfor %}
            </div>

            <div class="slider__captions--container"></div>
        </div>
{% endif %}
