{% import '_macros/' as macros %}
{% if block.imageCollage %}

	<section class="image-collage-section container">
		{% if block.heading %}
			<h2 class="image-collage-main-heading">
				{{ block.heading }}
			</h2>
		{% endif %}
		{% set collageCards = block.imageCollage.all() %}
		{% set cards = block.imageCollage.count() %}
		{% if collageCards %}
			<section class="image-collage image-collage--{{ cards }}-images">
				{% for imageCollageCard in collageCards %}
					{% if imageCollageCard.type == "card" %}
						{% set collageCardImage = imageCollageCard.image.one() %}
						{% set collageCardTitle = imageCollageCard.heading %}
						{% set collageCardSummary = imageCollageCard.summary %}
						{% set collageCardLink = imageCollageCard.linkTo is defined and imageCollageCard.linkTo ? imageCollageCard.linkTo : null %}
							{% if collageCardLink is defined and collageCardLink %}
								<a href="{{collageCardLink.url}}" class="image-collage__card image-collage--{{ cards }}-images__card">
							{% else %}
								<article class="image-collage__card image-collage--{{ cards }}-images__card">
							{% endif %}
							{% if collageCardImage is defined and collageCardImage %}
								<figure class="image-collage__image" style="{{ macros.thumbnail({ image: collageCardImage, imagerSettings: { width: 800, }, outputAsBackgroundImage: true, }) }}"></figure>
								<div class="image-collage__content">
									{% if collageCardTitle is defined and collageCardTitle %}
										<h3 class="image-collage__card-title">
											{{ collageCardTitle }}</h3>
									{% endif %}
									{% if collageCardSummary is defined and collageCardSummary %}
										<div class="image-collage__summary">{{ collageCardSummary }}</div>
									{% endif %}
									{% if collageCardLink is defined and collageCardLink and cards == '5'  %}
										{% if  loop.index == 3 or loop.index == 4 or  loop.index == 5  %}
											<span class="image-collage__cta-button">
												<span class="image-collage__cta-button-txt">{{ collageCardLink.text }}</span>
											</span>
										{% endif %}
									{% elseif collageCardLink is defined and collageCardLink and  cards == '3'  %}
										<span class="image-collage__cta-button">
											<span class="image-collage__cta-button-txt">{{ collageCardLink.text }}</span>
										</span>
									{% endif %}
								</div>
								{% if collageCardLink is defined and collageCardLink %}
									{% if cards == '5' %}
										{% if  loop.index == 1 or loop.index == 2  %}
											<span class="image-collage__cta-button">
												<span class="image-collage__cta-button-txt">{{ collageCardLink.text }}</span>
											</span>
										{% endif %}
									{% elseif  cards == '4' %}
										<span class="image-collage__cta-button">
											<span class="image-collage__cta-button-txt">{{ collageCardLink.text }}</span>
										</span>
									{% endif %}
								{% endif %}
							{% endif %}
							{% if collageCardLink is defined and collageCardLink %}
								</a>
							{% else %}
								</article>
							{% endif %}
					{% endif %}
				{% endfor %}
			</section>
		{% endif %}
	</section>
{% endif %}
