{% set blockSet = block.children.all() %}

<div class="container">
    <div class="page-links">
        <div class="page-links__title">On this page</div>
        {% for childBlock in blockSet %}
            {% set link = childBlock.cta %}
            {% set type = link.type %}
            {% switch type %}
            {% case "custom" %}
                {% set text = link.text|trim %}
                {% set linkUrl = craft.yump.generateValidUrl(link.url) %}
                {% if linkUrl %}
                    <button data-link="{{ linkUrl }}" class="page-links__item btn-pagelink"><i
                                class="fas fa-chevron-down"></i>{{ text }}</button>
                {% endif %}
            {% case "entry" %}
                {% set text = link.text|trim %}
                {% set linkUrl = craft.yump.generateValidUrl(link.url) %}
                {% if linkUrl %}
                    <a href="{{ linkUrl }}" class="page-links__item"><i
                                class="fas fa-chevron-down"></i>{{ text }}</a>
                {% endif %}
            {% default %}
                {% set text = link.text|trim %}
                {% set linkUrl = craft.yump.generateValidUrl(link.url) %}
                {% if linkUrl %}
                    <a href="{{ linkUrl }}" class="page-links__item"><i
                                class="fas fa-chevron-down"></i>{{ text }}</a>
                {% endif %}
            {% endswitch %}
        {% endfor %}
    </div>
</div>
