<div class="container">
	<div class="rich-text editor-default {% for scopeItem in scope %} rich-text-in-{{ scopeItem }}{% endfor %}">
	    {{ block.richText }}
	</div>
</div>

{# To test the scope variable #}
{# <p><strong>{{ scope|join(', ') }}</strong></p> #}