{# The following elements / blocks extend rich media, so they share similar structure / css classes. Make sure you manually 'sync' the changes when necessary.
	1. Banner (_elements/banner)
#}

{% import '_macros' as macros %}

{# Check if we have both textColumn and mediaColumn. The CMS is configured to have maximum two blocks (columns), so we won't have situation that having two textColumn or mediaColumn #}
{% set twoColumnsValid = false %}
{% set mediaType = null %}
{% set image = null %}
{# don't allow only 1 column #}
{% if block.children.count() == 2 %}
	{% set hasMediaColumn = false %}
	{% set hasTextColumn = false %}
	{% for column in block.children.all() %}
		{% set columnType = column.type.handle %}
		{% if columnType == 'mediaColumn' %}
			{% set mediaBlock = column.children.one() %}
			{% if mediaBlock %}
				{% set hasMediaColumn = true %}
				{% set mediaType = mediaBlock.type.handle %}
				{% if mediaType == 'image' %}
					{% set image = mediaBlock.image.one() %}
					{% if not image %}
						{# consider invalid if no image is found #}
						{% set hasMediaColumn = false %}
					{% endif %}
				{% endif %}
			{% endif %}
		{% elseif columnType == 'textColumn' %}
			{% set hasTextColumn = true %}
		{% endif %}
	{% endfor %}
	{% set twoColumnsValid = hasTextColumn and hasMediaColumn %}
{% endif %}

{% if twoColumnsValid %}
	<section class="rich-media rich-media__with-{{ mediaType }}">
		<div class="rich-media__row">
			{% for column in block.children.all() %}
				{% set columnType = column.type.handle %}
				{% set childBlock = column.children.one() %}
				{% if columnType == 'mediaColumn' %}
					<div class="rich-media__column rich-media__column-media banner__media">
						{% if mediaType == 'image' %}
							<div class="rich-media__media--image banner__media--image" style="{{ macros.thumbnail({
					            image: image,
					            imagerSettings: {
					                width: 1600,
					            },
					            outputAsBackgroundImage: true,
					        }) }}"></div>
					    {% elseif mediaType == 'video' %}
							<div class="rich-media__media--video banner__media--video">
								{{ macros.video({
								    field: childBlock.video,
								    transcriptEntry: childBlock.videoTranscript.one(),
								    videoHtmlTitle: childBlock.videoHtmlTitle,
								}) }}
							</div>
						{% endif %}
					</div>
				{% elseif columnType == 'textColumn' %}
					<div class="rich-media__column rich-media__column-text">
						<div class="rich-media__column-text--inner">
							{% if column.heading %}
								<h3 class="rich-media__text-content--heading">{{ column.heading }}</h3>
							{% endif %}
							
							{% if column.summary %}
								<div class="rich-media__text-content--summary">{{ column.summary }}</div>
							{% endif %}
							{% set buttons = childBlock.children.all() %}
							{% if buttons|length > 0 %}
								<div class="rich-media__text-content--ctas">
									{% for button in buttons %}
										{{ macros.cta({
										    field: button.cta,
										    additionalClasses: 'rich-media__text-content--cta',
										}) }}
									{% endfor %}
								</div>
							{% endif %}
						</div>
					</div>
				{% endif %}
			{% endfor %}

		</div>
	</section>
{% endif %}