{# assuming entry is always defined. #}
{% set segments = craft.app.request.segments %}
<div class="search-result-item-breadcrumb crumbs-wrap">
	<div class="container">
		<ol class="breadcrumb">
			<li>
				<a href="/">Home</a>
			</li>
			<li class="breadcrumb__item-ico">
				<i class="fas fa-angle-right"></i>
			</li>

			{% if custom is defined and custom %}
				{% for crumb, key in custom %}
					<li class="breadcrumb__item">
						<a href="{{crumb}}">{{key}}</a>
					</li>
					<li class="breadcrumb__item-ico">
						<i class="fas fa-angle-right"></i>
					</li>
				{% endfor %}
			{% else %}
				{% if entry.section.type == 'channel' %}
					{% set length = segments | length %}
					{% for index, segment in segments %}
						{% set crumb = craft.entries.slug(craft.app.request.getSegment(index + 1)).one() %}
						{% if(length > (index+1)) %}
							<li class="breadcrumb__item">{{crumb.getLink()}}</li>
							<li class="breadcrumb__item-ico">
								<i class="fas fa-angle-right"></i>
							</li>
						{% endif %}
					{% endfor %}
				{% else %}
					{% for crumb in entry.getAncestors().all() %}
						<li class="breadcrumb__item">{{ crumb.getLink() }}</li>
						<li class="breadcrumb__item-ico">
							<i class="fas fa-angle-right"></i>
						</li>
					{% endfor %}
				{% endif %}
			{% endif %}
			<li class="breadcrumb__item">{{ entry.title }}</li>
		</ol>
	</div>
</div>
