{% set topBottomPaddingClass = craft.yump.getSectionTopBottomPaddingClass(block) %}
{% set sectionLayout = craft.yump.getSectionContainerClass(block) %}

{# {% if block['backgroundColour'] is defined and block.backgroundColour %} secondary-content--{{ block.backgroundColour.value }}{% endif %} #}

<section class="secondary-content{% if topBottomPaddingClass %} {{ topBottomPaddingClass }}{% endif %}">

    <div class="secondary-content__inner{% if sectionLayout %} {{ sectionLayout }}{% endif %}">
        <div class="section__body">
            {% for childBlock in block.children %}
                {% include '_content-blocks/' ~ childBlock.type ignore missing with {'block': childBlock} %}
            {% endfor %}
        </div>
    </div>

</section>