{% import '_macros/' as macros %}
{% if block.serviceCard %}

    <section class="container service-card-section">
        {% if block.heading %}
            <h2 class="service-card__main-heading">
                {{ block.heading }}
            </h2>
        {% endif %}
        {% set serviceCards = block.serviceCard.all() %}
        {% if serviceCards %}
            <section class=" service-card">
                {% for serviceCard in serviceCards %}
                    {% if serviceCard.type == "card" %}
                        {% set serviceCardIcon = serviceCard.icon.value %}
                        {% set serviceCardImage = serviceCard.image.one() %}
                        {% set serviceCardTitle = serviceCard.heading %}
                        {% set serviceCardSubHeading = serviceCard.subheadingOnTop %}
                        {% set serviceCardSummary = serviceCard.summary %}
                        {% set serviceCardLink = serviceCard.linkTo %}
                        <article class="service-card__card">
                            {% if serviceCardImage is defined and serviceCardImage %}
                                <div class="service-card__image" style="{{ macros.thumbnail({
                                    image: serviceCardImage,
                                    imagerSettings: {
                                        width: 800,
                                    },
                                    outputAsBackgroundImage: true,
                                }) }}">
                                </div>
                                <div class="service-card__body">
                                    {% if serviceCardSubHeading is defined and serviceCardSubHeading %}
                                        <p class="service-card__card-sub-heading">
                                            {% if serviceCardIcon is defined and serviceCardIcon %}
                                                {% if serviceCardIcon == 'locationIcon' %}
                                                    <img class="service-card__icon"
                                                         src="/assets/img/icons/location-icon.png " alt="location icon">
                                                {% elseif serviceCardIcon == 'noIcon' %}
                                                {% endif %}
                                            {% endif %}
                                            <span class="service-card__card-sub-heading-text">{{ serviceCardSubHeading }}</span>
                                        </p>
                                    {% endif %}
                                    {% if serviceCardTitle is defined and serviceCardTitle %}
                                        <h2 class="service-card__card-title">
                                            {{ serviceCardTitle }}</h2>
                                    {% endif %}
                                    {% if serviceCardSummary is defined and serviceCardSummary %}
                                        <div class="service-card__summary">{{ serviceCardSummary }}</div>
                                    {% endif %}
                                    {% if serviceCardLink is defined and serviceCardLink %}
                                        <a href="{{ serviceCardLink.url }}" {% if serviceCardLink.target != "" %} target="{{ serviceCardLink.target }}" {% endif %}
                                           class="service-card__cta-button">
                                            <span class="service-card__cta-button-text">{{ serviceCardLink.text }}</span>
                                        </a>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </article>
                    {% endif %}
                {% endfor %}
            </section>
        {% endif %}
    </section>
{% endif %}
