{% if block.customTable.rows | length %}
    {# {{ block.customTable.table }} #}
    <div class="table-wrapper">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                {% for col in block.customTable.columns %}
                    <th {% if col.width %}width="{{ col.width }}"{% endif %}
                        style="text-align: {{ col.align }}">{{ col.heading }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row in block.customTable.rows %}
                <tr>
                    {% for key, cell in row %}
                        <td style="text-align: {{ block.customTable.columns[loop.index0].align }}"><div class="table_title">{{ block.customTable.columns[key].heading }}</div>{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}