{% import '_macros/' as macros %}
{% set testimonialBGSwitch = '' %}
{% if block.testimonialQuote %}


	{% for testimonyBlcok in block.testimonialQuote.all()  %}
		{% set testimonialBGSwitch = testimonyBlcok.enableBackgroundImage %}
		{% if testimonialBGSwitch  is defined and testimonialBGSwitch  %}
			<div class="add-custom-background">
			{% endif %}
			<section class="testimonial-section ">
				{% if testimonyBlcok.type == 'testimonial' %}
					<figure class="grid testimonial">
						{% set testimonialImage = testimonyBlcok.testimonialImage.one() %}
						{% set testimonialQuote = testimonyBlcok.quote %}
						{% set testimonialAuthor = testimonyBlcok.author %}
						{% set testimonialButton = testimonyBlcok.button %}
						<blockquote class="testimonial__quote">
							{% if testimonialQuote is defined and testimonialQuote %}
								<div class="lead-text testimonial__quote">
									{{ testimonialQuote }}</div>
							{% endif %}
							{% if testimonialAuthor is defined and testimonialAuthor %}
								<footer class="testimonial__author">
									<cite>—
										{{ testimonialAuthor }}</cite>
								</footer>
							{% endif %}
						</blockquote>
						{% if testimonialButton is defined and testimonialButton %}
							<a href="{{testimonialButton.url}}" class="button testimonial__cta-button">{{ testimonialButton.text | default(craft.yump.getConfig('defaultTestimonialButtonText')) }}</a>
						{% endif %}
						{% if testimonialImage is defined and testimonialImage %}
							{{ macros.thumbnail({
                    image: testimonialImage,
                    imagerSettings: {
                        width: 300,
                    },
                    altTag: image.title is defined and image.title ? image.title : 'testimonial image',
                    additionalClasses: 'testimonial__image',
                }) }}
						{% endif %}
					</figure>
				{% endif %}
			</section>
			{% if testimonialBGSwitch %}
			</div>
		{% endif %}
	{% endfor %}


{% endif %}
