<div class="neo-two-columns">
    <div class="container">
        <div class="row">
            {% include '_content-blocks/partials/neo_child_block' with {blockSet: block.children, customClass: 'col-md-6', scope: scope|merge(['twoColumns'])} %}
        </div>
    </div>
</div>

{# <div class="container card__two-col">
    <div class="row card__summary justify-content-center">
        {% if block.heading is defined and block.heading %}
        <div class="col-12 col-md-8">
            <h2 class="summary__title">
                {{block.heading}}
            </h2>
            {% endif %}
            {% if block.summary is defined and block.summary %}
            <div class="summary__desc">
                {{block.summary}}
            </div>
        </div>
        {% endif %}
    </div>
    <div class="">
        <div class="row">
            {% for column in block.twoColumns %}
            <div class="col-12 col-md-6 d-flex align-items-center">
                {% if column.type == 'columns' %}
                {% if column.standardContent is defined and column.standardContent %}
                <div class="two-column__data py-4 py-md-0">
                    {{ column.standardContent }}
                </div>
                {% endif %}

                {% if column.image is defined and column.image %}
                {% set image = column.image.one %}
                {% if image %}
                {% set thumbSettings = {
                width: 1200
                } %}

                {% set imageUrl = image.getUrl() %}
                {% if imageUrl %}
                <div class="two-columns__image">
                    <img src="{{ image.getUrl(thumbSettings) }}" class="image"
                         width="{{ image.getWidth(thumbSettings) }}" height="{{ image.getHeight(thumbSettings) }}">
                </div>
                {% endif %}

                {% endif %}
                {% endif %}

                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
 #}
