.anchor-links {
    // background-color: $general-background-colour;
    // padding: 3.2rem 4rem; 
    &__list {
        @include list-unstyled;
    }
    &__heading {
        
        // margin-bottom: 10px;
        // color: $black;
    }
    &__list-item {
        margin-bottom: 1.5rem;
    }
    &__link {
        @include fluid-type($anchorLinks);
        display: flex;
        align-items: center;
        // padding: 15px 0;
        .anchor-links__label {
            // border-bottom: 1px solid $primary;
            @extend %link-style;
        }
        
        // @include media-breakpoint-up(md) {
        //     margin-bottom: 1.5rem;
        // }
        &:hover {
            text-decoration: none;
            .anchor-links__link-icon {
                
            }
            .anchor-links__label {
                // border-bottom: 1px solid transparent;
            }
        }
    }
    &__list-item {
        &:last-child {
            .anchor-links__link {
                border-bottom: none;
            }
        }
    }
    &__label {
        @extend %link-style;
    }
    &__link-icon {
        color: $primary;
        font-size: 15px;
        margin-right: 8px;
    }

    // our-people - 3 columns on DT
    &__category-header {
        color: $primary;
        font-weight: 400;
    }
    &__category {
        @include make-row();
        border-bottom: 1px solid $primary;
        margin-bottom: 2rem;
        &:last-child {
            border-bottom: none;
            margin-bottom: 0px;
        }
    }
    &__column {
        @include make-col-ready();
        @include media-breakpoint-up(sm) {
            @include make-col(6);
        }
        @include media-breakpoint-up(xl) {
            @include make-col(4);
        }
        &--category-header {
            @include media-breakpoint-up(sm) {
                @include make-col(12);
                margin-bottom: 0.5rem;
            }
            @include media-breakpoint-up(xl) {
                @include make-col(4);
                margin-bottom: 0;
            }
        }
    }
}

.anchor-link-destination {
    &__heading {
        @include fluid-type($h2);
        color: $black;
    }
}