.yump-carousel-outer {
  // Hide before slick initialized
  // position: absolute;
  // visibility: hidden;
  padding: 0 3rem;
  position: relative;
}
.yump-carousel-item {
  padding: 0 8px;
}
.yump-carousel-item:focus,
.yump-carousel-cell:focus {
}
.yump-carousel-cell-multi-items .yump-carousel-item:not(:last-child) {
  margin-bottom: 15px;
}

.yump-carousel-item-img-container {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 2rem;
}
.yump-carousel-item-img-container img {
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.ie .yump-carousel-item-img-container {
  display: block;
  text-align: center;
}
.ie .yump-carousel-item-img-container img {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.yump-carousel-outer {
  .slick-arrow {
	opacity: 0.8;
	cursor: pointer;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
  }
  .slick-arrow:hover {
	opacity: 1;
  }
  .slick-arrow:focus {
	box-shadow: 0 0 0 5px #09F;
  }
  .slick-arrow:active {
	opacity: 1;
  }
  .slick-prev {
	left: 0;
	-webkit-appearance: none;
  }
  .slick-next {
	right: 0;
	-webkit-appearance: none;
  }
}

.yump-carousel-item p {
  margin-bottom: 0px;
  line-height: 17px;
  font-size: 14px;
}
.yump-carousel-item .yump-carousel-item-text-heading {
  margin-top: 1.6rem;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.2px;
  color: #313131;
  @include media-breakpoint-up(md) {
	margin-top: 2.4rem;
  }
}
.yump-carousel-item .yump-carousel-item-text-subheading {
  margin-top: 0.2rem;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #737373;
}
.yump-carousel-item-text-container {
  margin-top: 10px;
  text-align: center;
}
