/**
 * Cards layout
 *
 * Reminder of the card layout rules in design system:
 * Withing main content (article width)
 * ---
 ..* < 576px: 1 column layout
 ..* >= 576px, < 992px: 2 columns layout
 ..* >= 992px: 3 columns layout if only 3 cards in total. Otherwise, 2 columns layout.
 * Within secondary content (full width body)
 * ---
 ..* < 576px: 1 column layout
 ..* >= 576px, < 992px: 2 columns layout
 ..* >= 992px, < 1200px: 3 columns layout if only 3 cards in total. Otherwise, 2 columns layout. (Same as main content)
 ..* >= 1200px: 4 columns layout if only 4 cards in total. Otherwise, 3 columns layout
 *
 * Also, each card should be equally high >= 576px
 * 
 */
.no-custom-design .cards,
.cards.cards__child-pages {
	display: table;
	margin: 0 auto;
}
.cards.cards__child-pages {
	margin-bottom: 4rem;
}
.cards {
	.grid {
		grid-gap: 4rem;
	}
}
.grid {
	// margin: 0 -1.7rem;
	.card {
		&__link {
			// overflow: hidden;
			display: block;
		}
		&__img {
			transition: all 0.3s;
		}
		&:hover {
			color: $primary;
			.card__img {
				transform: scale(1.1);
			}
		}
		&:nth-child(3n + 1) {
			-ms-grid-column: 1;
		}
		&:nth-child(3n + 2) {
			-ms-grid-column: 2;
		}
		&:nth-child(3n + 3) {
			-ms-grid-column: 3;
		}
		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3) {
			-ms-grid-row: 1;
		}
		&:nth-child(4),
		&:nth-child(5),
		&:nth-child(6) {
			-ms-grid-row: 2;
		}
		&:nth-child(7),
		&:nth-child(8),
		&:nth-child(9) {
			-ms-grid-row: 3;
		}
		&:nth-child(10),
		&:nth-child(11),
		&:nth-child(12) {
			-ms-grid-row: 4;
		}
		&:nth-child(13),
		&:nth-child(14),
		&:nth-child(15) {
			-ms-grid-row: 5;
		}
		&__image-wrap {
			.card__link {
				overflow: hidden;
			}
		}
	}
}
.cards {
	.container {
		padding: 0;
	}
	.card {
		border: 0;
		&:hover {
			text-decoration: none;
		}
	}
	.section-heading,
	.section-summary {
	}
	&__child-pages {
		grid-template-columns: repeat(3, 1fr);
		&.grid-2-column {
			grid-template-columns: repeat(2, 0.8fr);
			margin: 0 auto;
			@include media-breakpoint-down(md) {
				width: 100%;
			}
			@include media-breakpoint-down(sm) {
				grid-template-columns: 1fr;
			}
		}
		&.grid-1-column {
			grid-template-columns: 0.5fr;
			justify-content: center;
			align-items: center;
			@include media-breakpoint-down(sm) {
				grid-template-columns: 1fr;
			}
		}
	}
	.service-landing-page-cards {
		grid-template-columns: repeat(2, 1fr);
		img {
			width: 59px;
			&:hover {
				transform: none;
			}
		}
		.card {
			&__img {
				&:hover {
					transform: none;
				}
			}
		}
	}
}
.section-heading {
	font-size: 4rem;
	line-height: 1.2;
}
.section-summary p,
.section-summary {
	font-size: 18px;
	line-height: 1.56;
}
.cards-news {
	.section-head {
		padding: 7rem 0;
		margin-bottom: 0;
	}
	padding: 0;
	.section-summary {
		display: flex;
		justify-content: space-between;
		align-items: center;
		p {
			margin: 0;
		}
		.btn {
			&:before {
			}
			&:hover {
			}
		}
	}
}
.card__body {
	padding: 2.5rem 0;
	height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
	a,
	h4 {
	}
	.card__heading {
		font-size: 2rem;
		line-height: 1.2;
		font-weight: bold;
		color: $primary;
	}
	.card__content {
		padding: 2.4rem 0;
	}
	.card__content p,
	.card__cta,
	.card__author {
		font-size: 1.6rem;
	}
	.card__author {
		font-weight: bold;
		line-height: 1.5;
		&__name {
		}
		.card__datetime {
			display: flex;
			font-weight: normal;
		}
	}
	.card__cta {
		justify-self: start;
		&:hover {
		}
	}
	.card__tags {
		display: flex;
		padding: 0;
		margin: 0;
		margin-top: 2.4rem;
		list-style-type: none;
		.card__tag {
			border-radius: 3px;
			padding: 0.5rem 0.7rem;
			margin: 2px;
			font-size: 1.4rem;
			line-height: normal;
		}
	}
}
@media screen and (max-width: 1500px) {
	.cards-news {
		max-width: 1200px;
	}
	.matrix-block-colourfulCards,
	.matrix-block-imageCards,
	.cards-news-grid {
		.container {
			max-width: 1200px;
		}
	}
}
@media screen and (max-width: 1200px) {
	.cards-news {
		max-width: 960px;
	}
	.matrix-block-colourfulCards,
	.matrix-block-imageCards,
	.cards-news-grid {
		.container {
			max-width: 960px;
		}
	}
}
@media screen and (max-width: 1024px) {
	.cards-news {
		max-width: 900px;
	}
	.card__body {
		.card__content {
			padding: 1.4rem 0;
		}
	}
}
@media screen and (max-width: 900px) {
	.cards-news {
		max-width: 750px;
	}
}
@media screen and (max-width: 767px) {
	.cards {
		&__child-pages {
			grid-template-columns: 1fr;
		}
		.service-landing-page-cards {
			grid-template-columns: 1fr;
		}
	}
	.cards .grid {
		margin: 0 auto;
	}
}