.downloads {
    grid-template-columns: 76px 1fr 200px;
    grid-template-areas: "icon content button";
    border: solid 1px $box-border-colour;    
    margin-bottom: 0.5rem;
    &__icon-wrapper{
      display: flex;
      align-items: center;
      background-color: $secondary-effect-colour;
    }
    &__icon{
      -ms-grid-column: 1;
      display: block;
      max-width: 43px;
    }
    &__content {
      margin: 0;
      display: grid;
      padding: 2rem 1.6rem 1.6rem;
    }
    img {
      margin: 0 auto;
    }
    &__cta {
      display: grid;
      align-items: center;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.5;
      background: none;
      display: flex;
      &:hover{
        background-color: transparent;
      }
      &::after{
        width: 10px;
        height: 14px;
        content: "";
        display: inline-block;
        background: url("/assets/img/icons/arrow-down.png") no-repeat right center;
        background-size: 10px 14px;
        margin-left: .4rem;
      }
    }
    &__cta-text{
      @extend %link-style;
      // border-bottom: 2px solid $secondary;
    }
    &__filename {

    }
    &__filemeta {
      font-size: 1.2rem;
      // color: $greyish-brown;
    }
  }
  @media screen and (max-width: 768px) {
    .downloads {
      grid-template-columns: 45px 1fr;
      grid-template-areas: "icon content";
      &__icon-wrapper{
        grid-row: span 2;
      }
      &__content {
        grid-column: 2;
        grid-row: 1;
      }
      &__cta {
        grid-column: 2;
        grid-row: 2;
      }
    }
  }
  