$button-background: #f7f9f9;
.image-collage-section {
	.image-collage-main-heading {
		margin-bottom: 2.9rem;
	}
}
.image-collage {
	$self: &;
	position: relative;

	&__content {
		display: grid;
		grid-template-rows: auto 1fr auto;
	}

	&__image {
		overflow: hidden;
		min-height: calc(100vw * 9 / 16);
		@include media-breakpoint-up(lg) {
			min-height: calc(25vw * 9 / 16);
		}
		@include media-breakpoint-down(md) {
			width: 100%;
			height: 287px;
		}
		@include media-breakpoint-down(sm) {
			width: 100%;
			height: 187px;
		}
	}

	&__card {
		background: $white;
		border: 1px solid $box-border-colour;
		
		&:hover {
			color: $primary;
			#{$self}__image {
				opacity: 1;
				animation: flash 2.5s;
				// need a wrapper if you want to do this - which breaks all the height calcs
				// transition: all 0.3s;
				// transform: scale(1.1);
			}

			#{$self}__cta-button-txt {
				border-bottom-color: transparent;
			}
		}


		.image-collage__summary,
		.image-collage__cta-button {
			padding: 1rem 2rem;
		}

		.image-collage__card-title {
			padding: 2rem 2rem 1rem;
			margin-bottom: 0;
		}

		.image-collage__cta-button {
			padding: 1.4rem 1.8rem 1.8rem 2rem;
			margin-top: 1rem;
			background-color: $button-background;
			display: flex;
			align-items: center;
			font-weight: 500;
			color: $primary;
			&::after{
				content: "";
				display: inline-block;
				width: 14px;
				height: 11px;
				background: url('/assets/img/icons/arrow-right-link.png') no-repeat right center;

			}
			&:hover {
				text-decoration: none;
			}

			span {
				@extend %link-style;
				margin-right: 8px;
			}
		}
	}
	&--5-images {
		display: grid;
		@include media-breakpoint-up(lg) {
			grid-template-columns: 0.32fr 0.17fr 0.19fr 0.3fr;
			grid-template-rows: 0.45fr 0.27fr 0.27fr;
		}
		grid-gap: 4rem;
		&__card {
			grid-column: 1;
		}
		.image-collage__image {
			min-height: calc(40vw * 9 / 16);
			@include media-breakpoint-down(md) {
				min-height: calc(100vw * 9 / 16);
			}
			@include media-breakpoint-up(xxl) {
				min-height: calc(25vw * 9 / 16);
			}
		}
		&__card:nth-child(1) {
			grid-row: 1;
			display: grid;
			grid-template-rows: auto 1fr auto;
			@include media-breakpoint-up(lg) {
				grid-column: 1 / span 2;
				grid-row: 1;
			}
		}

		&__card:nth-child(2) {
			grid-row: 2;
			display: grid;
			grid-template-rows: auto 1fr auto;
			@include media-breakpoint-up(lg) {
				grid-column: 3 / span 2;
				grid-row: 1;
			}
		}

		&__card:nth-child(3) {
			grid-row: 3;
			@include media-breakpoint-up(lg) {
				grid-column: 1;
				grid-row: 2 / span 2;
				display: grid;
				grid-template-rows: 0.85fr auto;
				.image-collage__image {
					grid-row: 1;
				}

				.image-collage__content {
					grid-row: 2;
				}
			}
		}
		&__card:nth-child(4) {
			grid-row: 4;
			@include media-breakpoint-up(lg) {
				grid-column: 2 / span 3;
				grid-row: 2;
				display: grid;
				grid-template-columns: 0.55fr 0.45fr;
				.image-collage__image {
					grid-column: 1;
				}
				.image-collage__content {
					grid-column: 2;
				}
				.image-collage__cta-button {
					grid-row: 3;
				}
			}
		}

		&__card:nth-child(5) {
			grid-row: 5;
			@include media-breakpoint-up(lg) {
				grid-column: 2 / span 3;
				grid-row: 3;
				display: grid;
				grid-template-columns: 0.55fr 0.45fr;
			}
			.image-collage__image {
				grid-column: 1;
			}
			.image-collage__content {
				grid-column: 2;
			}
		}
	}
	&--4-images {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, 1fr);
		@include media-breakpoint-up(lg) {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr;
		}
		grid-gap: 4rem;
		&__card {
			grid-column: 1;
			display: grid;
			grid-template-rows: auto 1fr auto;
		}
		.image-collage__image {
			min-height: calc(40vw * 9 / 16);
			@include media-breakpoint-down(md) {
				min-height: calc(100vw * 9 / 16);
			}
			@include media-breakpoint-up(xxl) {
				min-height: calc(25vw * 9 / 16);
			}
		}
		&__card:nth-child(1) {
			grid-row: 1;
			@include media-breakpoint-up(lg) {
				grid-row: 1;
			}
		}

		&__card:nth-child(2) {
			grid-row: 2;
			@include media-breakpoint-up(lg) {
				grid-column: 2;
				grid-row: 1;
			}
		}

		&__card:nth-child(3) {
			grid-row: 3;
			@include media-breakpoint-up(lg) {
				grid-row: 2;
			}
		}
		&__card:nth-child(4) {
			grid-row: 4;
			@include media-breakpoint-up(lg) {
				grid-column: 2;
				grid-row: 2;
			}
		}
	}
	&--3-images {
		display: grid;
		@include media-breakpoint-up(lg) {
			grid-template-columns: 0.32fr 0.68fr;
			grid-template-rows: 0.53fr auto;
		}
		grid-gap: 4rem;
		&__card {
			grid-column: 1;
		}
		.image-collage__image {
			@include media-breakpoint-up(lg) {
				min-height: calc(25vw * 9 / 16);
			}
		}
		&__card:nth-child(1) {
			grid-row: 1;
			@include media-breakpoint-up(lg) {
				grid-column: 1;
				grid-row: 1 / span 2;
				display: grid;
				grid-template-rows: 0.85fr auto;
				.image-collage__image {
					grid-row: 1;
				}
				.image-collage__content {
					grid-row: 2;
				}
			}
		}
		&__card:nth-child(2) {
			grid-row: 2;
			@include media-breakpoint-up(lg) {
				grid-column: 2;
				grid-row: 1;
				display: grid;
				grid-template-columns: 0.55fr 0.45fr;
				.image-collage__image {
					grid-column: 1;
				}
				.image-collage__content {
					grid-column: 2;
				}
			}
		}

		&__card:nth-child(3) {
			grid-row: 3;
			@include media-breakpoint-up(lg) {
				grid-column: 2;
				grid-row: 2;
				display: grid;
				grid-template-columns: 0.55fr 0.45fr;
			}
			.image-collage__image {
				grid-column: 1;
			}
			.image-collage__content {
				grid-column: 2;
			}
		}
	}
}

@-webkit-keyframes flash {
	0% {
		opacity: .9;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .9;
	}
	100% {
		opacity: 1;
	}
}