.page-links {
  border-left: 3px solid $secondary;
  padding: 2.4rem 2.9rem;

  &__title {
	font-size: 3.2rem;
	font-weight: bold;
	line-height: 1.25;
	letter-spacing: 0.33px;

	& + a {
	  margin-top: 2.4rem;
	}
  }

  &__item {
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
	font-weight: bold;
	line-height: 1.25;
	margin-top: 1.6rem;

	&:visited, &:active, &:focus {
	  background: none;
	  border: 0;
	  border-radius: 0;
	  box-shadow: none;
	}

	i {
	  color: $secondary;
	  margin-right: 0.8rem;
	}
  }
}

.button-pagelink {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  padding: 0;

  &:focus, &:visited {
  }
}
