.rich-text {
  // use .container class instead
  img {
    max-width: 100% !important;
    height: auto !important;
  }

  figure {

  }

  // p {
  //   padding: 1rem 0;
  // }

  p, ul, li {
    & + h1, & + h2, & + h3, & + h4 {
      margin-top: 3.2rem;
    }
  }

  a {
    @extend %link-style;
  }
}

// If a Rich Text block is put under Secondary Content, its width will be restricted to be 2/3 of the maximum width above certain screen sizes
.neo-secondary-content {
  & > .matrix-block-richText,
  .matrix-block-reusableSnippetsSecondary > .matrix-block-richText {
    .rich-text {
      @include media-breakpoint-up(lg) {
        max-width: 66.6666%;
      }
    }
  }
}

.matrix-block-richText {
  & + .matrix-block-richText {
    h1, h2, h3, h4 {
      margin-top: 3.2rem;
    }
  }
}