$search-bar-height: 56px;
$input-padding: 10px;
$search-bar-lh: $search-bar-height - ($input-padding * 2);

.search-bar__container {
	@include make-container();
	@include make-container-max-widths();
	position: relative;
}

.search-bar {
	padding: 24px 0;
	&--js {
		background-color: $primary;
		display: none;
	}
	&--crumbs {
		background-color: $pepper;
	}
	&--with-close {
		//make room for the close button if present
		.search-bar-form {
			padding-right: 27px;
			@include media-breakpoint-up(sm) {
				padding-right: 15px;
			}
			&__btn {
				right: 37px;
				flex: 0 0 54px;
				@include media-breakpoint-up(sm) {
					right: 27px;
				}
			}
		}
	}
	//close button
	&__close {
		color: $white;
		position: absolute;
		top: 0;
		right: 15px;
		line-height: $search-bar-height;
		@include media-breakpoint-up(sm) {
			right: 0;
		}
	}
}
.search-bar-form {
	position: relative;
	width: 100%;
	i {
		//search icon
		line-height: $search-bar-height;
		color: $secondary;
		position: absolute;
		left: 17px;
	}
	&__input {
		//search input
		padding: $input-padding $input-padding $input-padding 48px;
		width: 100%;
		line-height: $search-bar-lh;
		border: 0px;
		border-radius: 0;
		box-shadow: inset 0 -3px 0 0 $pepper;
		min-height: 56px;
		@include media-breakpoint-down(xs) {
			padding-right: 100px;
		}
		&:focus {
			outline-color: $dark-teal;
		}
	}
	&__btn {
		//submit button
		position: absolute;
		top: 0px;
		padding-left: 35px;
		padding-right: 35px;
		right: 0;
		@include media-breakpoint-down(xs) {
			padding-left: 1.2rem;
			padding-right: 1.2rem;
		}
	}
}

header {
	.search-bar {
		border-top: 1px solid $pepper;
	}
}
.search-results-page-content {
	.custom-control-input:checked ~ .custom-control-label::before {
		background-color: $secondary;
		border-color: $secondary;
	}
}
