.service-card {
  display: grid;
  grid-gap: 5rem;

  &__image {
    width: 100%;
    height: 100%;
    @include media-breakpoint-down(md) {
      width: 100%;
      height: 287px;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
      height: 187px;
    }
  }

  &__main-heading {
    margin-bottom: 2rem;
  }

  &__card {
    background-color: $white;
    display: grid;
    grid-template-columns: .4fr .6fr;
    grid-gap: 4rem;
    border: 1px solid $box-border-colour;
  }

  &__body {
    display: grid;
    padding: 3.8rem 4rem 3.8rem 0;
  }

  &__icon {
    margin-right: 1rem;
  }

  &__card-sub-heading {
    display: flex;
    align-items: center;
  }

  &__summary {
    margin-bottom: 2rem;
    @include media-breakpoint-up(md) {
      margin-bottom: 2.4rem;
    }

    p {
      font-weight: normal;
    }
  }

  &__cta-button {
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: $primary;

    &:hover {
      text-decoration: none;

    }

    &::after {
      display: inline-block;
      content: "";
      background: url("/assets/img/icons/open-in-new-tab-icon.png") no-repeat right center;
      width: 15px;
      height: 10px;
    }
  }

  &__cta-button-text {
    @extend %link-style;
  }
}

@media screen and (max-width: 992px) {
  .service-card {
    &__card {
      grid-template-columns: 1fr;
      grid-gap: 0;
    }

    &__body {
      padding: 2.5rem;
      max-width: 500px;
      margin: 0 auto;
    }

    &__image {
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 768px) {
  .service-card {
    grid-gap: 2rem;

    &__body {
    }

    &__cta-button {
      font-size: 1.4rem;
    }
  }
}