.testimonial-section{
    max-width: 1152px;
    margin: 0 auto;
    // padding: 4rem 4rem 6rem;
    padding-left: 4rem;
    padding-right: 4rem;
}
.testimonial{
    grid-template-columns: 1fr .5fr;
    grid-template-rows: max-content;
    grid-gap: 4rem;
    &__quote{
        margin: 0;
        p{
            font-size: 2rem;
            line-height: 1.5;
        }
    }
    .lead-text{
        p{
            margin: 0;
        }
        position: relative;
        &::before,&::after{
            content:"";
            display: inline-block;
            position: absolute;
        }
        &::before{
            background: url("/assets/img/icons/begin-quote-icon.png");
            width: 56px;
            height: 60px;
            left: -75px;
            top:0;
        }
        &::after{
            background: url("/assets/img/icons/end-quote-icon.png");
            width: 28px;
            height: 30px;
            right:0;
            top: inherit;
            bottom: 0;
        }
    }
    &__image{
        grid-column: 2;
        grid-row: 1/span 2;
    }
    &__cta-button{
        justify-self: start;
        align-self: flex-start;
        font-weight: normal;
    }
    &__author{
        margin: 2rem 0 0;
        cite{
            font-style: normal;
            letter-spacing: 0;
        }
    }
}
.neo-main-content__content{
    .testimonial{
        grid-template-columns: 1fr;
        padding: 0 8rem;
        &__image,&__cta-button{
            display: none;
        }
    }
}
.neo-secondary-content{
    .matrix-block-testimonialQuote{
        @include fluid-property('margin-top', 72, 48);
        @include fluid-property('margin-bottom', 72, 48);
        // margin-bottom: 0;
        .add-custom-background{
            background: url("/assets/img/testimonial-background.jpg") no-repeat ;
            background-size: cover;
            padding: 290px 50px 80px;
            @include fluid-property('margin-bottom', -72, -48);
            // margin-top: -250px;
            .testimonial-section  {
                @include fluid-property('margin-top', 48, 24);
            }
            .testimonial{
                &__quote{
                    color: $white;
                }
            }
        }
     
    }
    .matrix-block-serviceCard, .matrix-block-imageCollage, .matrix-block-imageCards {
        & + .matrix-block-testimonialQuote {
            .add-custom-background {
                margin-top: -320px;
            }
        }
    }
}
@media screen and (max-width: 1300px){
    .testimonial-section{
        padding: 4rem 10rem;
    }
    .neo-main-content__content{
        .testimonial-section{
            padding: 4rem;
        }
    }
}
@media screen and (max-width: 1024px){
    .testimonial-section{
        padding: 4rem 17rem 5rem 17rem;
    }
    .testimonial{
        grid-template-columns: 1fr;
        &__image{
            grid-column: 1;
            grid-row: 1;
            margin: 0 auto;
        }
        &__quote{
            p{
                font-size: 1.6rem;
            }
        }
        .lead-text{
            padding: 0 2rem;
            &::before{
                background: url("/assets/img/icons/begin-quote-icon-small.png");
                width: 40px;
                height: 44px;left: -45px;
            }
            &::after{
                background: url("/assets/img/icons/end-quote-icon-small.png");
                width: 22px;
                height: 24px;
            }
        }
    }
}
@media  (max-width: 991px){
    .testimonial-section{
        padding: 4rem 2rem 5rem 7rem;
    }
    .neo-secondary-content{
        .matrix-block-testimonialQuote{
            .add-custom-background{
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
    .neo-main-content__content{
        .testimonial-section{
            padding: 2rem ;
            .testimonial{
                padding: 1rem;
            }
        }

    }
}