.video {
	position: relative;
}

.video-block {
	text-align: center;

	.video-transcript-button-wrapper {
		margin-top: -27px;
	}
}

.video-transcript-button-wrapper {
	position: relative;
	display: inline-flex;
	margin-top: -40px;
	align-items: center;
	justify-content: space-between;
	background: #fff;
	border-radius: 46px;
	padding: 1.2rem 3rem;

	.video-inner-border {
		height: 56px;
		width: 1px;
		background: $box-border-colour;
		margin: 0 1.6rem;
	}

	&__button {
		color: $primary;
		font-size: 1.6rem;
		line-height: 1.5;
		font-weight: bold;
		&:last-child {
			justify-content: center;
			display: flex;
			align-items: center;
		}
		&::before {
			content: "";
			display: inline-block;
			width: 44px;
			height: 44px;
			background: url("/assets/img/icons/play-button.png") no-repeat left
				center;
			background-size: 44px 44px;
			margin-right: 1.4rem;
			@include media-breakpoint-up(lg) {
				width: 56px;
				height: 56px;
				background-size: 56px 56px;
			}
		}
	}

	.play-button-icon {
		margin-right: 1.2rem;
	}

	.video-transcript-link span {
		font-size: 1.2rem;
		font-weight: 600;
		border-bottom: 2px solid $secondary;
	}
}

@media screen and (max-width: 1024px) {
	.video-transcript-button-wrapper {
		margin-top: -80px;
	}
}
@media (max-width: 576px) {
	.video-transcript-button-wrapper {
		padding: 0.4rem 1.2rem;
		max-width: 300px;

		a {
			font-size: 1.2rem;
		}

		.play-button-icon {
			width: 44px;
			height: 44px;
		}
	}
}
